#{extends 'main.html' /}
#{set title:'PaymentFlow' /}

#{set isAgencyHeader: false /}
<section class="bg-path">
    <article class="container-fluid">
        <div class="row">
            <ul class="general-path">
                <li>
                    <span class="circle-path">23</span>
                    <span class="line-path"></span>
                </li>
            </ul>
        </div>
    </article>
</section>
<section class="search-arrive">
    <article class="container-fluid">
        <div class="row">
            <div class="col-md-8">
              fgfgf 8
            </div>
            <div class="col-md-4">
               dgfdg 4
            </div>
        </div>
    </article>    
</section>


#{set isAgencyFooter: false /}