#{extends 'main.html' /}
#{set title:'PaymentFlow' /}

#{set isAgencyHeader: false /}


<section class="bg-path">
    <article class="container-fluid">
        <div class="row">
            <ul class="general-path">
                <li>
                    <span class="circle-path icon-checked-path"></span>
                    <span class="name-path">búsqueda</span>
                </li>
                <li class="line-path">
                    <span class="circle-path bg-circle-path">2</span>
                    <span class="name-path">pasajeros</span>
                </li>
                <li>
                    <span class="circle-path">3</span>
                    <span class="name-path">pago</span>
                </li>
            </ul>
        </div>
    </article>
</section>
<section class="search-arrive payment-path">
    <form id="checkoutForm" action="javascript:void(0);" method="post">
        <article class="container-fluid">
            <div class="row">
                <h2>¿Quien Viaja?</h2>
                <p class="info-help">En caso de necesitar ayuda comunicarse al correo <strong>ventaonline@travelclub.cl</strong></p>
                <div class="col-md-8">
                    %{ int passengersCount = 0; }%
                    %{ int passengersNumber = 1; }%
                    #{list bfmResultItem.pricing.detail, as:'pricingDetails'}
                        #{list items:1..pricingDetails.quantity.getAsInt(), as:'i'}
                            #{checkout.passengerBox key: passengersCount, passengerNumber: passengersNumber+".1", passengerType: pricingDetails.code.getAsString() /}
                            %{ passengersCount++; }%
                            %{ passengersNumber++; }%
                        #{/list}
                    #{/list}
                    #{checkout.contactBox/}
                    *{#{checkout.paymentBox/}}*
                    #{checkout.termsConditionBox/}
                    #{checkout.hiddenInputBox bfmResultItem: bfmResultItem/}
                    <div class="col-md-12 text-right">

                        <input type="submit" name="submitButton" class="btn btn-search" value="continuar">
                    </div>
                </div>
                <div class="col-md-4">
                    #{checkout.flightBox bfmResultItem:bfmResultItem/}
                    #{checkout.summaryBox pricing:bfmResultItem.pricing/}
                </div>
            </div>
        </article>
    </form>
</section>

#{spinnerModal/}

#{set 'scriptFiles'}
#{get 'scriptFiles' /}
<script type="text/javascript" src="@{PaymentFlowController.javascript}"></script>
#{/set}

#{modalNeadHelp /}
#{modalExpiredSession /}

#{set isAgencyFooter: false /}