#{extends 'main.html' /}
#{set title:'PaymentFlow' /}

#{set isAgencyHeader: true /}


<style>
.info-card{
    display: inline-block;
    vertical-align: middle;
}
</style>
<section class="bg-path">
    <article class="container-fluid">
        <div class="row">
            <ul class="general-path">
                <li>
                    <span class="circle-path icon-checked-path"></span>
                    <span class="name-path">búsqueda</span>
                </li>
                <li class="line-path">
                    <span class="circle-path bg-circle-path">2</span>
                    <span class="name-path">pasajeros</span>
                </li>
                <li>
                    <span class="circle-path">3</span>
                    <span class="name-path">pago</span>
                </li>
            </ul>
        </div>
    </article>
</section>

#{if state!=null}
                        <div class="alert alert-info" style="display: inline-block; width: 100%;">
                            <div class="info-card">
                                <img src="../public/images/icon-card.svg" alt="imagen tarjeta" />
                            </div>
                            <div class="info-card" id="panelazul" style="max-width: 90%;">
								<b> ${state.clientName}, tu saldo de dólares Dólares-Premio disponible a la fecha es de <span class="light-blue">${state.clientDp}</span> </b>
                            </div>
                            
                       </div>
#{/if}

                       
                       
                       
<section class="search-arrive payment-path">
    <form id="checkoutForm" action="javascript:void(0);" method="post">
        <article class="container-fluid">
            <div class="row">
                <h2>¿Quién Viaja?</h2>
                <p class="info-help">En caso de necesitar ayuda comunicarse al correo <strong>ventaonline@travelclub.cl</strong></p>
                <div class="col-md-8">
                    #{checkout.contactBox/}
                    %{ int passengersCount = 0; }%
                    %{ int passengersNumber = 1; }%
                    #{list bfmResultItem.pricing.detail, as:'pricingDetails'}
                        #{list items:1..pricingDetails.quantity.getAsInt(), as:'i'}
                            #{checkout.passengerBox key: passengersCount, passengerNumber: passengersNumber+".1",
                    passengerType: pricingDetails.code.getAsString(), countriesList:countriesList,
                    onlyPassport:onlyPassport, whiteListAirlines:whiteListAirlines,
                    validatingCarrier:validatingCarrier, AllianceMessage:AllianceMessage,
                    agencySlug:promotionDto.agency.slug, urlServer:urlServer, state:state /}
                            %{ passengersCount++; }%
                            %{ passengersNumber++; }%
                        #{/list}
                    #{/list}
                    *{#{checkout.paymentBox/}}*
                    #{checkout.termsConditionBox/}
                    #{checkout.hiddenInputBox bfmResultItem: bfmResultItem, promotion: promotionDto/}
                </div>
                <div class="col-md-4">
                    #{checkout.flightBox bfmResultItem:bfmResultItem/}
                    #{checkout.summaryBox pricing:bfmResultItem.pricing, pricingCLP:bfmResultItem.pricingCLP, selectedCurrency:selectedCurrency/}

                    #{list items:bfmResultItem.refoundRuleTexts, as:'refoundRuleText'}
                    <li class="title-payment" style="list-style: none;">
                       ${refoundRuleText.getAsString()}
                    </li>
                    #{/list}

					#{if bfmResultItem.pricing.urlBannerImageMobile!=null && !bfmResultItem.pricing.urlBannerImageMobile.equals("")}
	               		<img src="${utils.CloudinaryUtils.getUrl(bfmResultItem.pricing.urlBannerImageMobile.getAsString(), 'q_90,c_fill,h_128,w_418', '')}">
                   	#{/if}

                    #{checkout.airRules airRulesResultList:airRulesResultList/}
                </div>
                #{if params.promotion == "traveldelta"}
                <div class="col-md-4" id="banner_checkout_delta" >
                    <img src="https://res.cloudinary.com/hyvrprjak/image/upload/TravelClubApps/Delta/banner_500x500_chk.png"/>
                </div>
                #{/if}
            </div>
            <div class="row">
                <div class="col-md-8 text-right">
                    <input type="submit" name="submitButton" class="btn btn-search" value="continuar" id="btnContinue">
                </div>
            </div>
        </article>
    </form>
</section>

#{spinnerModal/}


<!-- Modal -->
<div class="modal fade modal-header-travel-login" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inicia sesión y pagá con tus dólares premio</h5>
        <div class="box-logos">
            <div class="logo-banco-chile">
                 <img src="@{'/public/images/logo-banco-chile-modal.jpg'}" />
            </div>
            <div class="logo-banco-edwars">
                <img src="@{'/public/images/logo-edwars-modal.jpg'}" />
            </div>
        </div>
      </div>

      <div class="modal-body loginModalBody" style="height:400px; overflow: hidden;">
      </div>
	  <div class="modal-footer">
       		 <button type="button" class="btn btn-search" style="width: initial;" data-dismiss="modal">Saltar Este Paso ></button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Continuar-->
<div class="modal fade modal-header-travel-login" id="modalLoginContinuar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inicia sesión y pagá con tus dólares premio</h5>
        <div class="box-logos">
            <div class="logo-banco-chile">
                 <img src="@{'/public/images/logo-banco-chile-modal.jpg'}" />
            </div>
            <div class="logo-banco-edwars">
                <img src="@{'/public/images/logo-edwars-modal.jpg'}" />
            </div>
        </div>
      </div>
      <div class="modal-body loginModalBody" style="height:400px; overflow: hidden;">
      </div>
	  <div class="modal-footer">
       		 <button type="button" id="btnSaltearPaso" class="btn btn-search" style="width: initial;" data-dismiss="modal">Saltar Este Paso>></button>
      </div>
    </div>
  </div>
</div>



#{set 'scriptFiles'}
#{get 'scriptFiles' /}
#{checkout/checkoutScript token:token,transactionId:transactionId, promotionDto:promotionDto, selectedCurrency:selectedCurrency /}



<script type="text/javascript">
    var passengers = null;
    var currentApiPaxResponse = null;
    var availableAirlines = [#{list items:whiteListAirlines, as:'whiteListAirlines'}${whiteListAirlines.iataCode.raw()}${whiteListAirlines_isLast ? '' : ','}#{/list}];
    var validatingCarrier = "${validatingCarrier}";

	function numberWithCommas(x) {
		return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
	}

	$(function () {

		var selectedCurrency = "${selectedCurrency}";
		$( ".clppriceCon" ).each(function( index ) {
				$(this).html(numberWithCommas($(this).html()));
			});	
// 		if (selectedCurrency=="clp"){
// 			$( ".usdpriceCon" ).each(function( index ) {
// 				var exchangeRate = parseFloat("${dollarExchangeRate}");
// 				var numToChange = parseFloat($(this).html());
// 				$(this).html(numberWithCommas(parseFloat(numToChange * exchangeRate).toFixed(0)));
// 			});	
// 			$( ".simbolCurrency" ).each(function( index ) {
// 				$(this).html("$");
// 			});	
// 			$( ".clppriceCon" ).each(function( index ) {
// 				$(this).html(numberWithCommas($(this).html()));
// 			});	
// 		}


	    #{if state==null}
	    	$('#loginDiv').show();
	        $( "#btnLoginTrUser" ).click(function( event ) {
	            var agencyId ="${promotionDto.agency.externalId}";
	            var transactionId = "${transactionId}";
	            var agencySlug = "${promotionDto.agency.slug}";
	            var selectedCurrency = "clp";
	            var step = 'checkoutReload';
	           // window.history.pushState("", "", window.location.href+transactionId);

	            $('<iframe src="/auth/'+transactionId+'/'+selectedCurrency+'/'+agencyId+'/'+agencySlug+'/'+step+'" frameborder="0" style="padding-left: 50px; position: relative; top: -100px;" width="500" height="500" scrolling="no" id="myFrame"></iframe>').appendTo('.loginModalBody');
	            $('#modalLogin').modal('show');
	        });
		#{/if}
		#{else}
		    getApiPaxUser(${state.clientRut},function(result) {
                if(result.status != "BAD_REQUEST"){
                   currentApiPaxResponse =result;
                   passengers = listPassengers(result);
                   fillInRutSelect();
                }else {
                    getMockupUser(${state.clientRut},function(result) {
                        if(result.status != 0 && result.alianza[0].nombre != ""){
                            saveMockupToApiPax(result);
                        }
                    });
                }
            });

		    function getApiPaxUser(RUT,todo){
                $.ajax({
                    type: "GET",
                    url: "${_urlServer}/getApiPaxClientByRut" +"?rut="+ RUT,
                    dataType: "json",
                    success:todo
                });
            }
            function getMockupUser(RUT,todo){
                $.ajax({
                    type: "GET",
                    url: "${_urlServer}/getMockupClientByRut" +"?rut="+ RUT,
                    dataType: "json",
                    success: todo
                });
            };
		    function saveMockupToApiPax(mockupUser){
                var data = JSON.stringify({
                    name: mockupUser.alianza[0].clientenombre,
                    lastname: mockupUser.alianza[0].clienteapellido + " " + mockupUser.alianza[0].clientesegundoapellido,
                    documents: [
                        {
                            documentType: 'RUT',
                            value: '${state.clientRut}'
                        }
                    ]
                });
                $.ajax({
                    type: "POST",
                    url: "${_urlServer}/createApiPaxClient",
                    contentType: "application/json",
                    dataType: "json",
                    data: data,
                    success:function(result) {
                        if(result.document == ${state.clientRut}){
                            getApiPaxUser(${state.clientRut},function(result) {
                                if(result.status != "BAD_REQUEST"){
                                   currentApiPaxResponse = result;
                                   passengers = listPassengers(result);
                                   fillInRutSelect();
                                }else {
                                    console.log('ApiPax Get error on passenger :${state.clientRut}');
                                }
                            });
                        }else {
                            console.log("Error trying to save passenger");
                        }
                    }
                });
            };
            function autocompleteApiPax(user,key) {
                for (var doc in user.documents){
                    if (user.documents[doc].documentType == "RUT"){
                        $('#rutNum'+key).val(user.documents[doc].value);
                    }
                }
                $('#pasName'+key).val(user.name);
                $('#pasLastName'+key).val(user.lastname);
                var prefered = false
                for (var ffp in user.regularPassengers){
                    for (var aa in availableAirlines) {
                        if (availableAirlines[aa] == validatingCarrier && validatingCarrier == user.regularPassengers[ffp].alliance){
                            $('#FFPNumber'+key).val(user.regularPassengers[ffp].number);
                            $('#FFPAirlineIataCode'+key).val(availableAirlines[aa]);
                            prefered = true;
                        }
                        if(!prefered && availableAirlines[aa] ==  user.regularPassengers[ffp].alliance){
                            $('#FFPNumber'+key).val(user.regularPassengers[ffp].number);
                            $('#FFPAirlineIataCode'+key).val(availableAirlines[aa]);
                        }
                    }
                }
            };
            function listPassengers(result){
                var list = [];
                for (var user in result.passengers){
                    list.push(result.passengers[user]);
                }
                list.push(result.client);
                return list;
            }
            function fillInRutSelect(){
                for(var i = 0; i < ${passengersCount}; i++) {
                   var select = document.getElementById("savedRutNum"+i);
                    for (var passenger in passengers){
                        //Corregir solo para RUT
                        var opt = passengers[passenger].documents[0].value;
                        var el = document.createElement("option");
                        el.textContent = opt;
                        el.value = opt;
                        select.appendChild(el);
                    }
                }
            }



    	    $("#loginDiv").hide();
    	    $('#logoutDiv').show();
    	    $('#loggedDiv').show();
    	    $('#loggedDiv').html("${state.clientName}");
    	    document.cookie = "tokenVuelos=${state.appToken}";
    	    
    	    $( "#btnLogoutTrUser" ).click(function( event ) {
   	    	 $.ajax({
	    	        type: "GET",
   	            data: {"transactionId": "${transactionId}"},
   	            url: "@{OAuthController.logout}",
   	            success:function(result) {
   	            		window.location.reload();
   	            },
   	            error: function (request, status, error) {
   	            	 	alert(error);
   	            }
   	        });
   	    });
    	    
    	    
    	    
    	    
    	#{/else}
	});

</script>


#{/set}

#{modalNeadHelp /}
#{modalExpiredSession /}

#{set isAgencyFooter: true /}

