#{extends 'main.html' /}
#{set title:'New Payment' /}

#{set isAgencyHeader: true /}

<style>
    .btn-search2 {
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
        border-radius: 4px;
        background-color: #428BCA;
        color: #fff;
        padding: 10px 20px;
        margin-top: 20px;
        transition: all .5s;
        width: 200px;
        text-transform: uppercase;
    }
    .head-search {
        border-bottom: 1px solid #eee;
        padding-left: 15px;
        padding-bottom: 20px;
        margin-bottom: 15px;

    }

    .head-search .title-search {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        margin: 0;
    }

</style>

<section class="search-arrive payment-path">
    <article class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="box-info-payment">
                    <div class="head-payment">
                        <h3 class="title-payment">¿Vas a comprar tu pasaje?</h3>
                    </div>
                    
                    
                    
                    
                    <div class="body-payment term-and-condition">
                        <div class="form-group col-md-12">
                            <p>Estimado Cliente:</p>
                            <p>Hemos detectado que usted tiene una reserva activa con los mismos datos.</p>
                            <p>Recupere su reserva, completando los datos requeridos en el recuadro.</p>
                            <ul>
                                <li>A continuación del código de reserva, digite el apellido de alguno de los pasajeros.</li>
                            </ul>
                            <p>Para procesar nuevamente el pago, tiene un plazo de ${mins} minutos. Posterior a este plazo, deberá generar una nueva reserva.</p>
                            <p>Agradecemos su preferencia.</p>
                            <p>Atentamente,<br>
                                Departamento de Ventas Online.<br>
                                Email: ventaonline@travelclub.cl
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            
            
            
            
            <div class="col-md-4">
                <div style="background-color: #2F313A;border-radius: 5px;">
                    <form id="flightSearchForm" class="form-search-travel bv-form" action="" method="POST">
                    <div class="head-search">
                        <h3 class="title-search">Para comenzar, ingresa Apellido:</h3>
                    </div>
                        <div class="form-group col-md-12">
                            <label>Código de su reserva:</label>
                            <input class="form-control" type="text" name="pnr" value="${pnr}" style="color: #000000;" readonly>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Apellido del pasajero:</label>
                            <input class="form-control" type="text" name="surname">
                        </div>
                        <div class="col-md-12 text-center">
                            <input type="submit" value="Buscar" class="btn btn-search2">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="info-help text-center">En caso de necesitar ayuda comunicarse al correo <strong>ventaonline@travelclub.cl</strong></p>
        </div>
    </article>
</section>
#{set 'moreScripts' }
#{get 'moreScripts' /}


#{/set}


#{modalNeadHelp /}
#{modalExpiredSession /}

#{set isAgencyFooter: true /}