#{extends 'main.html' /}
#{set title:'PaymentFlow' /}

#{set isAgencyHeader: false /}


<section class="bg-path">
    <article class="container-fluid">
        <div class="row">
            <ul class="general-path">
                <li>
                    <span class="circle-path icon-checked-path"></span>
                    <span class="name-path">búsqueda</span>
                </li>
                <li class="line-path">
                    <span class="circle-path bg-circle-path">2</span>
                    <span class="name-path">pasajeros</span>
                </li>
                <li>
                    <span class="circle-path">3</span>
                    <span class="name-path">pago</span>
                </li>
            </ul>
        </div>
    </article>
</section>
<section class="search-arrive payment-path">
    <article class="container-fluid">
        <h2 class="text-center">Oops! Algo salio mal...</h2>
        <div class="row">
            <div class="col-md-12">
            #{if type == 'duplicity'}
                <div class="alert alert-danger" role="alert" style="width: 1000px; margin: auto; padding: 20px;">
                    Estimado cliente,<br><br>
                    Hemos detectado que usted tiene una reserva activa con los mismos datos.
                    Intentelo nuevamente en los siguientes <strong>XX minutos</strong> para generar una nueva o
                    comuniquese a <strong>ventaonline@travelclub.cl</strong> en el siguiente horario de atención:
                    Lunes a Viernes de 9:00 a 19:00 horas.<br><br>
                    Le agradecemos su preferencia.<br><br>
                    Atentamente,<br><br>
                    Departamento de Venta On Line.<br><br>
                    <img src="@{'/public/img/logo-payment-travel-red.svg'}">
                </div>
            #{/if}
            #{elseif type == 'churning'}
                <div class="alert alert-danger" role="alert" style="width: 1000px; margin: auto; padding: 20px;">
                    Estimado cliente,<br><br>
                    Hemos detectado que usted ha realizado intentos de compra en reiteradas ocaciones,
                    si ha tenido problemas para concretarlas, por favor comuníquese con
                    Venta On Line de Travel Club <strong>ventaonline@travelclub.cl</strong><br><br>
                    Le agradecemos su preferencia.<br><br>
                    Atentamente,<br><br>
                    Departamento de Venta On Line.<br><br>
                    <img src="@{'/public/img/logo-payment-travel-red.svg'}">
                </div>
            #{/elseif}
            #{elseif type == 'surname_validation'}
                <div class="alert alert-danger" role="alert" style="width: 1000px; margin: auto; padding: 20px;">
                    Estimado cliente,<br><br>
                    Hemos detectado un error al momento de validar los datos.<br><br>
                    Favor, intente realizar nuevamente la operación, realice una nueva búsqueda de disponibilidad o
                    comuníquese con nosotros al mail <strong>ventaonline@travelclub.cl</strong><br><br>
                    Atentamente,<br><br>
                    Departamento de Ventas On Line.<br><br>
                    <img src="@{'/public/img/logo-payment-travel-red.svg'}">
                </div>
            #{/elseif}
            #{elseif type == 'pnr_notexists'}
                <div class="alert alert-danger" role="alert" style="width: 1000px; margin: auto; padding: 20px;">
                    Estimado cliente,<br><br>
                    Hemos detectado un error al momento de validar los datos.<br><br>
                    Favor, intente realizar nuevamente la operación, realice una nueva búsqueda de disponibilidad o
                    comuníquese con nosotros al mail <strong>ventaonline@travelclub.cl</strong><br><br>
                    Atentamente,<br><br>
                    Departamento de Ventas On Line.<br><br>
                    <img src="@{'/public/img/logo-payment-travel-red.svg'}">
                </div>
            #{/elseif}
            #{elseif type == 'blackout'}
                <div class="alert alert-danger" role="alert" style="width: 1000px; margin: auto; padding: 20px;">
                    Estimado cliente,<br><br>
                    En estos momentos, la alternatica de reserva y pago no esta disponible, le solicitamos intentar nuevamente en <strong>XX minutos</strong>.<br><br>
                    Le agradecemos su preferencia.<br><br>
                    Atentamente,<br><br>
                    Departamento de Ventas On Line.<br><br>
                    <img src="@{'/public/img/logo-payment-travel-red.svg'}">
                </div>
            #{/elseif}
            #{elseif type == 'internal'}
                <div class="alert alert-danger" role="alert" style="width: 1000px; margin: auto; padding: 20px;">
                    Estimado cliente,<br><br>
                    Ha ocurrido un error al intentar realizar la operación.<br><br>
                    Favor, intente realizar nuevamente la operación, realice una nueva búsqueda de disponibilidad o
                    comuníquese con nosotros al mail <strong>ventaonline@travelclub.cl</strong><br><br>
                    Le agradecemos su preferencia.<br><br>
                    Atentamente,<br><br>
                    Departamento de Venta On Line.<br><br>
                    <img src="@{'/public/img/logo-payment-travel-red.svg'}">
                </div>
            #{/elseif}
            #{else}
                <div class="alert alert-danger" role="alert" style="width: 1000px; margin: auto; padding: 20px;">
                    Estimado cliente,<br><br>
                    Ha ocurrido un error al intentar realizar la operación.<br><br>
                    Favor, intente nuevamente, realice una nueva búsqueda de disponibilidad o
                    comuníquese con nosotros al mail <strong>ventaonline@travelclub.cl</strong><br><br>
                    Le agradecemos su preferencia.<br><br>
                    Atentamente,<br><br>
                    Departamento de Venta On Line.<br><br>
                    <img src="@{'/public/img/logo-payment-travel-red.svg'}">
                </div>
            #{/else}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top: 20px">
                <p class="info-help text-center">En caso de necesitar ayuda comunicarse al correo <strong>ventaonline@travelclub.cl</strong></p>
            </div>
        </div>
    </article>
</section>



#{modalNeadHelp /}
#{modalExpiredSession /}

#{set isAgencyFooter: false /}
