#{extends 'main.html' /}
#{set title:'PaymentFlow' /}

#{set isAgencyHeader: false /}


<section class="bg-path">
    <article class="container-fluid">
        <div class="row">
            <ul class="general-path">
                <li>
                    <span class="circle-path icon-checked-path"></span>
                    <span class="name-path">búsqueda</span>
                </li>
                <li class="line-path">
                    <span class="circle-path icon-checked-path"></span>
                    <span class="name-path">pasajeros</span>
                </li>
                <li>
                    <span class="circle-path bg-circle-path">3</span>
                    <span class="name-path">pago</span>
                </li>
            </ul>
        </div>
    </article>
</section>
<section class="search-arrive payment-path">
    <article class="container-fluid">
        <div class="row">
            <h2 class="text-center">Procesando pago...</h2>
            <div class="progress progress-striped active text-center" style="margin-left:100px; margin-right:100px;">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
            </div>
            <p class="info-help text-center">En caso de necesitar ayuda comunicarse al correo <strong>ventaonline@travelclub.cl</strong></p>
        </div>
    </article>
</section>
#{set 'moreScripts' }
#{get 'moreScripts' /}

$(document).ready(function () {
    new Fingerprint2().get(function(result){
        $("#fingerprint").val(result);
    });

    var $progressBar = $('.progress-bar');

    setTimeout(function() {
        $progressBar.css('width', '10%');
        setTimeout(function() {
            $progressBar.css('width', '30%');
            setTimeout(function() {
                $progressBar.css('width', '100%');
                setTimeout(function() {
                    window.location="@{PaymentConfirmController.index(id:processData.get("checkoutId"))}";
                }, 500); // WAIT 5 milliseconds
            }, 2000); // WAIT 2 seconds
        }, 1000); // WAIT 1 seconds
    }, 1000);

});

#{/set}


#{modalNeadHelp /}
#{modalExpiredSession /}

#{set isAgencyFooter: false /}