<div class="card card-block">
    <div class="fly-brand text-center">
    #{list items:_segments.airlinesCodes, as:"airlineCode"}
        #{airlineLogo carriersCode:airlineCode?.getAsString().toLowerCase(), carriersName: airlineCode /}
    #{/list}
    </div>
    <ul>
        <li class="name-passenger">
            <strong class="name">${controllers.SearchController.getAirportCity(_segments.departureCityCode.getAsString())}</strong>
            <span class="last-name">${_segments.departureCityCode.getAsString()}</span>
        </li>
        <li class="time">
            <span class="to-time">${_segments.departureTime.getAsString()}</span>
        </li>
        <li class="scale">
%{
connectionsCount = _segments.flightsCount.getAsInt() - 1;
}%
        #{if connectionsCount == 0 }
            <span class="number-of-scale">Directo</span>
        #{/if}
        #{elseif connectionsCount == 1 }
            <span class="number-of-scale">${connectionsCount} escala</span>
        #{/elseif}
        #{elseif connectionsCount >= 2 }
            <span class="number-of-scale">${connectionsCount} escalas</span>
        #{/elseif}
            <span class="point-scale"></span>
%{
departureElapsedTime = _segments.elapsedTime.getAsInt();
int departureElapsedHours = departureElapsedTime / 60;
int departureElapsedMinutes = departureElapsedTime % 60;
}%
            <span class="duration-of-fly">&{"%dh %02dm", departureElapsedHours, departureElapsedMinutes}</span>
        </li>

        <li class="time">
            <span class="to-time">${_segments.returnTime.getAsString()}</span>
        </li>
        <li class="name-passenger">
            <strong class="name">${controllers.SearchController.getAirportCity(_segments.returnCityCode.getAsString())}</strong>
            <span class="last-name">${_segments.returnCityCode.getAsString()}</span>
        </li>
    </ul>
</div>