<div class="card card-block">
    <div class="fly-brand text-center">
        <img src="" alt="" title="" width="136px" height="36px">
    </div>
    <ul>
        <li class="name-passenger">
            <strong class="name">Santiago</strong>
            <span class="last-name">Arturo Merino Benítez</span>
        </li>
        <li class="time">
            <span class="to-time">19:00</span>
        </li>
        <li class="scale">
            <span class="number-of-scale">1 escala</span>
            <span class="point-scale"></span>
            <span class="duration-of-fly">10h 15m</span>
        </li>

        <li class="time">
            <span class="to-time">7:40</span>
        </li>
        <li class="name-passenger">
            <strong class="name">Santiago</strong>
            <span class="last-name">Arturo Merino Benítez</span>
        </li>
    </ul>
</div>