<div class="box-info-payment">
    <div class="head-payment">
        <h3 class="title-payment">Resumen de Itinerario</h3>
    </div>
    <div class="body-payment detail-fly-payment">
        <ul>
            <li>
                <a class="btn icon-arrow-payment" data-toggle="collapse" href="#detailFlyTo" aria-expanded="false" aria-controls="detailFlyTo">
                    <i class="icon-fly"></i>
                    <span class="title-payment">Ida</span>
                    <span class="date-fly-payment">${_bfmResultItem.departureDate.getAsString()} (${_bfmResultItem.departureAirportCode.getAsString()} > ${_bfmResultItem.returnAirportCode.getAsString()}) (ver detalle)</span>
                </a>
            </li>
        </ul>

        <div class="collapse" id="detailFlyTo">
        #{checkout.flightDetail segments:_bfmResultItem.departureSegment /}
        </div>

        <ul>
            <li>
                <a class="btn icon-arrow-payment" data-toggle="collapse" href="#detailFlyFrom" aria-expanded="false" aria-controls="detailFlyFrom">
                    <i class="icon-fly-vuelta"></i>
                    <span class="title-payment">Vuelta</span>
                    <span class="date-fly-payment">${_bfmResultItem.returnDate.getAsString()} (${_bfmResultItem.returnAirportCode.getAsString()} > ${_bfmResultItem.departureAirportCode.getAsString()}) (ver detalle)</span>
                </a>
            </li>
        </ul>

        <div class="collapse" id="detailFlyFrom">
            #{checkout.flightDetail segments:_bfmResultItem.returnSegment/}
        </div>
    </div>
</div>