<div class="box-info-payment">
    <div class="head-payment">
    	%{
    	 def legendPassType = "";
    	 switch (_passengerType) {
         	case "ADT": legendPassType="Adulto (se considera pasajero adulto mayores de 12 años)"; break;
         	case "INF": legendPassType="Infante (se considera infante a menor de 2 años)"; break;
         	default: legendPassType="Niño (se considera niño a menor de 12 años y mayor de 2 años)";
      	 }
    	}%
    	
        <h3 class="title-payment">Pasajero <span class="detail-title"> - ${legendPassType} </span></h3>
        <input type="hidden" name="passengers[${_key}][number]" value="${_passengerNumber}">
        <input type="hidden" name="passengers[${_key}][passengerType]" value="${_passengerType}">
    </div>
    <div class="body-payment">
        <div class="alert alert-info-payment">
            <p><i class="icon-glasses"></i>Comprueba que la información ingresada coincida con la de tu documento de viaje, sea pasaporte u otro.</p>
        </div>

        #{if _state != null}
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 form-group">
                    <select id="savedRutNum${_key}" class="form-control">
                        <option value="0">pasajeros Guardados</option>
                    </select>
                    <button id="deletePassenger${_key}" class="form-control" >Remove selected passenger</button>
                </div>
            </div>
        </div>
        #{/if}

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 form-group">
                    <div style="margin-bottom: -15px;">
                        <div style="min-height:34px;">
                            <label class="sub-label" style="color: #3c0b9a;font-weight: bold;">*Para viajes a USA, Europa, Caribe y destinos lejanos, es necesario seleccionar e ingresar información de pasaporte.</label>
                        </div>
                        <label>Tipo y número de documento:</label>
                    </div>
                    <div class="col-md-3 form-group">
                        <select id="selectDoc" class="form-control icon-arrow-from validatedocument" name="passengers[${_key}][foidType]" data-pnum="${_key}">
                            #{if !_onlyPassport}
                            <option value="RUT">RUT</option>
                            #{/if}
                            <option value="PAS">Pasaporte</option>
                        </select>
                    </div>
                    <div class="col-md-9 form-group"  style="padding-right: 0;">
                        #{if !_onlyPassport}
                        <input id="rutNum${_key}" type="text" class="form-control validatedocumentnum" name="passengers[${_key}][foidRut]" placeholder="ej. 190006441">
                        #{/if}
                        <input id="pasNum${_key}" #{if !_onlyPassport}style="display: none;"#{/if} type="text" class="form-control validatepassport" autocomplete="off" name="passengers[${_key}][foid]" placeholder="ej. 190006441">
                    </div>
                </div>
                <div class="col-md-6 form-group" style="padding-top: 35px;">
                    <label>Sexo:</label>
                    <select name="passengers[${_key}][gender]" class="form-control ">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                </div>
            </div>
        </div>
        
        
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Nombre(s):</label>
                    <input id="pasName${_key}" type="text" class="form-control validatefirstname" name="passengers[${_key}][givenName]" placeholder="ej. Roberto">
                </div>
                <div class="col-md-6 form-group">
                    <label>Apellido(s):</label>
                    <input id="pasLastName${_key}" type="text" class="form-control validatelastname" name="passengers[${_key}][surname]" placeholder="ej. Salamanca">
                </div>
            </div>
        </div>

        <div class="col-md-12 form-group" id="pasaporteBox${_key}" #{if !_onlyPassport}style="display: none;"#{/if}>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 form-group">
                            <label>Nacionalidad del pasajero:</label>
                            %{nameNacionality = 'passengers['+ _key +'][nacionalityPassport]'}%
                            #{countriesCombo countriesList:_countriesList, name:nameNacionality /}
                    </div>
                    <div class="col-md-6 form-group" style="padding-right: 0;">
                            <label>Fecha de vencimiento de documento:</label>
                            <input id="birthDate${_key}" type="text" class="form-control validatedatePas" name="passengers[${_key}][expirationPassport]" placeholder="ej. 01/01/1990" data-pnum="${_key}">
                            <small class="help-block" id="invfpas${_key}" style="display: none;">Campo no válido</small>
                            <small class="help-block" id="emptyfpas${_key}" style="display: none;">El campo esta vacio.</small>
                    </div>
                </div> 
            </div>                          
            <div class="row">
                <div class="col-md-12"> 
                    <div class="col-md-6 form-group" style="float: inherit !important;">
                        <label>Nacionalidad donde fue emitido el documento:</label>
                        %{nameIssuedCountry = 'passengers['+ _key +'][countryPassport]'}%
                        #{countriesCombo countriesList:_countriesList, name:nameIssuedCountry /}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 form-group">
                    <div class="modify-posT
                        <label class="sub-label" style="color: #3c0b9a;font-weight: bold;"> </label>
                        <input type="text" class="form-control validatedate" name="passengers[${_key}][dateOfBirth]" placeholder="01/01/1990"  data-pnum="${_key}" >
                        <small class="help-block" id="invfnac${_key}" style="display: none;">Campo no válido</small>
                        <small class="help-block" id="emptyfnac${_key}" style="display: none;">El campo esta vacio.</small>
                    </div>
                </div>
                #{if !_agencySlug.equals('travelclub')}
                <div class="col-md-6 form-group">
                    <div class="" style="margin-bottom: -15px;">
                        <label >Información Pasajero Frecuente:</label>
                        <div class="tooltip-td">!
                            <span class="tooltiptext">${_AllianceMessage.raw()}</span>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <select id="FFPAirlineIataCode${_key}" name="passengers[${_key}][FFPAirlineIataCode]" class="form-control icon-arrow-from" >
                            <option value="">
                                Seleccionar
                            </option>
                            #{list items:_whiteListAirlines, as:'whiteListAirlines'}
                            <option value=${whiteListAirlines.iataCode.raw()}>
                                ${whiteListAirlines.name.getAsString()}
                            </option>
                            #{/list}
                        </select>
                    </div>
                    <div class="col-md-8 form-group" style="padding-right: 0;">
                        <input id="FFPNumber${_key}" type="text" class="form-control" name="passengers[${_key}][FFPNumber]" placeholder="ej. 123456789" maxlength="20">
                    </div>
                </div>
                #{/if}
            </div>
       		#{if _agencySlug.equals('traveldelta')}
			<div class="alert alert-info fade in alert-dismissable">
				<p>* Los nombres y apellidos  deben coincidir con la información ingresada en SKYMILES.</p>
			</div>
			#{/if}
        </div>            

    </div>

</div>
<script type="text/javascript" src="@{'/public/javascripts/jquery-3.0.0.min.js'}"></script>
#{if !_agencySlug.equals('travelclub')}
<script>

#{if _state!=null}
    $('#deletePassenger${_key}').click(function(){
        var savedRutNum = document.getElementById("savedRutNum${_key}");
        var passengerRut = savedRutNum.options[savedRutNum.selectedIndex].text;
        deleteApiPaxPassenger(passengerRut,${_state.clientRut},function(result){
            if(result.code == 200){
                savedRutNum.remove(savedRutNum.selectedIndex);
                alert("eliminado "+passengerRut);
                $('#checkoutForm').bootstrapValidator("resetForm",true);
            }else if (result.code == 400){
                alert("No se puede eliminar al cliente");
            }
        });
    });


    function deleteApiPaxPassenger(passengerRut,clientRut,todo){
        $.ajax({
                type: "DELETE",
                url: "${_urlServer}/deleteApiPaxPassenger" + "?ClientRut=" + clientRut + "&PassengerRut=" + passengerRut,
                dataType: "json",
                success: todo
            });
    };

    $('#savedRutNum${_key}').change(function() {
        if($(this).val() != "0"){
            autocompleteApiPax(getUserByRUT($(this).val()),${_key});
        }
    });


    function getUserByRUT(rut){
        for (var p in passengers){
            var passenger = passengers[p];
            for (var d in passenger.documents){
                var doc = passenger.documents[d];
                if (doc.documentType == "RUT" && doc.value == rut){
                    return passenger;

                }
            }
            return "";
        }
    };

    $('#FFPAirlineIataCode${_key}').change(function() {
        if (currentApiPaxResponse != null){
            $('#FFPNumber${_key}').val(getApiPaxFFPNumByAlliance($('#rutNum${_key}').val(),$(this).val()));
        }
    });

    function getApiPaxFFPNumByAlliance(rut, allianceName){
        if (rut != ""){
        var passenger = getUserByRUT(rut);
            for (var rp in passenger.regularPassengers){
                var regularPassenger = passenger.regularPassengers[rp];
                if (regularPassenger.alliance == allianceName){
                    return regularPassenger.number;
                }
            }
            return "";
        }
    };

    function getApiPaxUser(RUT,todo){
        $.ajax({
            type: "GET",
            url: "${_urlServer}/getApiPaxClientByRut" +"?rut="+ RUT,
            dataType: "json",
            success:todo
        });
    }
    function getMockupUser(RUT,todo){
        $.ajax({
            type: "GET",
            url: "${_urlServer}/getMockupClientByRut" +"?rut="+ RUT,
            dataType: "json",
            success: todo
        });
    };
    function saveMockupToApiPax(mockupUser){
        var rut = mockupUser.rut +''+ mockupUser.dv;
        var data = JSON.stringify({
            name: mockupUser.alianza[0].clientenombre,
            lastname: mockupUser.alianza[0].clienteapellido + " " + mockupUser.alianza[0].clientesegundoapellido,
            documents: [
                {
                    documentType: 'RUT',
                    value: rut
                }
            ]
        });
        $.ajax({
            type: "POST",
            url: "${_urlServer}/createApiPaxClient",
            contentType: "application/json",
            dataType: "json",
            data: data,
            success:function(result) {
                if(result.document == rut){
                    getApiPaxUser(rut,function(result) {
                        if(result.status != "BAD_REQUEST"){
                           currentApiPaxResponse = result;
                           autocompleteApiPax(currentApiPaxResponse,0);
                        }else {
                            console.log("no se completo nada");
                        }
                    });
                }else {
                    console.log("error al salvar usuario");
                }
            }
        });
    }
    #{/if}
	#{else}

     *{$('#pasNum${_key}').focusout(function(){
        if ($(this).val().length >= 8){
        //implementar autocomplet con mockups
        }
    });}*

    #{if !_onlyPassport}
    $('#rutNum${_key}').focusout(function(){
        if ($(this).val().length >= 8){
            //implementar autocomplet con mockups
        }
    });
    #{/if}

    #{/else}
</script>
#{/if}