#{if seatsMap!=null && seatsMap.getAsJsonArray().size()>0}
<div class="row" style="background-color: #f6f6f6;">	
<div class="col-md-6">
<h3>Seleccionar asiento</h3>
<p class="text-selection">Si no eliges ningún asiento, nosotros te asignaremos uno en forma aleatoria. Si eres cliente del Banco de Chile, puedes optar por un asiento preferente en el aeropuerto, sólo presentando tus tarjetas Visa Asignature, Mastercard Black o Visa infinite.
</p>
<div class="col-md-12" style="margin-top: 50px;"></div>

     %{
for(int i =1; i <= numberOfSeats; i++) {
}%

		<div class="col-md-12 form-group" >
			 <p class="form-control" style="color: gray; padding: 20px; display: table;"> Pasajero ${i} </p>
			 <p class="form-control" id="passenger_${i}" style="color: gray; padding: 20px; display: table;" data-info="blank">Número de Asiento</p>
		</div>
    %{
    }
    }%

     
     
     
     
 </div>    
<div class="col-md-6">

    <div id="seatCharts-legend" class="seatCharts-legend">
        <ul class="seatCharts-legendList">
            <div class="seatCharts-row">
                <div role="checkbox" class="seatCharts-seat seatCharts-cell economy-class unavailable-legend"></div>
                <span class="seatCharts-legendDescription">No Disponible</span>
            </div>
            <div class="seatCharts-row">
                <div role="checkbox" class="seatCharts-seat seatCharts-cell economy-class available-legend"></div>
                <span class="seatCharts-legendDescription">Disponible</span>
            </div>
            <div class="seatCharts-row">
                <div role="checkbox" class="seatCharts-seat seatCharts-cell economy-class no-seat-legend"></div>
                <span class="seatCharts-legendDescription">No hay Asiento</span>
            </div>
            <div class="seatCharts-row">
                <img src="@{'/public/images/bath.jpg'}" style="width:20px;" />
                <span class="seatCharts-legendDescription">Baño</span>
            </div>
            <div class="seatCharts-row">
                <img src="@{'/public/images/foodicon.png'}" style="width:20px;" />
                <span class="seatCharts-legendDescription">Cocina</span>
            </div>
            <div class="seatCharts-row">
                <div role="checkbox" class="seatCharts-seat seatCharts-cell economy-class emergency-legend"></div>
                <span class="seatCharts-legendDescription">Salida de Emergencia</span>
            </div>
        </ul>
    </div>

	%{def seatsMapArray = seatsMap.getAsJsonArray();}%

	
	#{list seatsMapArray, as: 'seatsMap' }
	<div class="container" id="seatsmapBlock_${seatsMap_index}" style="display: none;">
	    <div class="from-to-block txt-from-to-block">${seatsMap.type.getAsString()}</div>
	    <div class="from-to-block info-from-to">${seatsMap.flightName.getAsString()} - ${seatsMap.origin.getAsString()} => ${seatsMap.destination.getAsString()}</div>
	
	<div style="margin-left: 60px; margin-bottom: -20px; margin-top:22px"><img id="imgHeadPlane_${seatsMap_index}" src="@{'/public/images/headairplane0.png'}" /></div>
	
	    <div id="seat-map" class="seatCharts-container airplane-drawing" style="background-size: 400px; background-repeat: repeat-y; padding:0!important; margin-bottom:20px">
	        <div class="position-relative-seat" style="margin-left: 60px;">
	            <div class="position-absolute-seat" id="bodyPlane_${seatsMap_index}" style="background-color: white;">
	            #{list seatsMap.cabins, as: 'cabin' }
	                %{def columnsDataArray = cabin.getAsJsonObject().get("columns").getAsJsonArray(); }%
					
					
				#{if cabin.getAsJsonObject().has("facilities") }
				 	#{list cabin.getAsJsonObject().get("facilities").getAsJsonArray(), as: 'facility' }
				 		#{if facility.get("type").getAsString().equals('Lavatory') && facility.get("cabinLocation").getAsString().equals('Front')}
				 			%{def bathAlign = facility.get("facilityLocation").getAsString().equals('LeftSideSection')? 'left' : 'right'; }%
				 			
				 			#{if bathAlign.equals('right')}<p style="margin-bottom: 50px;"><img src="@{'/public/images/bath.jpg'}" style="width:40px; float: ${bathAlign};" /></p>#{/if}
				 			#{else}<img src="@{'/public/images/bath.jpg'}" style="width:40px; float: ${bathAlign};" />#{/else}
				 		#{/if}
				 		#{elseif facility.get("type").getAsString().equals('Galley') && facility.get("cabinLocation").getAsString().equals('Front') }
				 			%{def galleyAlign = facility.get("facilityLocation").getAsString().equals('RightCenterSection')? 'right' : facility.get("facilityLocation").getAsString().equals('LeftCenterSection')? 'left' : ''; }%
				 		
				 			
				 			<img src="@{'/public/images/foodicon.png'}" style="width:40px; float: ${galleyAlign};" />
				 			#{if galleyAlign.equals('right')}<br />#{/if}
				 		#{/elseif }
				 	#{/list}
					
					
				#{/if}
	
	
	
                <div class="seatCharts-row">
	                    <div class="seatCharts-cell seatCharts-space"></div>
	                    #{list columnsDataArray, as: 'column' }
	                        #{if column.get("type").getAsString().equals("Aisle")}
	                                <div class="seatCharts-cell seatCharts-space"></div>
	                        #{/if}
	                        #{if cabin_index==1}
	                        <div class="seatCharts-cell seatCharts-space economy-class unavailable">${column.get("name").getAsString()}</div>
	                        #{/if}
	                    #{/list}
	                </div>

	                #{list cabin.rows, as: 'row' }
	                	#{if row.get("isOverWing").getAsBoolean() && row_isLast}
	                	<img id="wing1" style="left: -40px; position: absolute; width: 40px; height: 80px;transform: skewY(-30deg);" src="@{'/public/images/wing.jpg'}" />
	                	#{/if}
	                    #{elseif row.get("isOverWing").getAsBoolean()}
                            <img id="wing1" style="left: -40px; position: absolute; width: 40px;transform: skewY(-30deg);" src="@{'/public/images/wing.jpg'}" />
						#{/elseif}

	                    <div class="seatCharts-row" style="background-color:white;">
                    	<div id="rowNUM_${row.rowNumber}${column.get("name").getAsString()}"  class="seatCharts-cell seatCharts-space">${row.rowNumber}</div>
	                        #{if row.seats != null}
	                            %{def seats = row.getAsJsonObject().get("seats").getAsJsonArray();}%
	                            %{int count = 0}%
	                            #{list columnsDataArray, as: 'column' }
	                                %{def seat = count < seats.size() ? seats.get(count).getAsJsonObject(): null;}%
	
	                                #{if column.get("type").getAsString().equals("Aisle")}
	                                        <div class="seatCharts-cell seatCharts-space"></div>
	                                #{/if}
									
									#{if seat != null && (seat.get("noSeat").getAsBoolean())}
										<div class="seatCharts-seat seatCharts-cell economy-class no-seat-legend"></div>
									#{/if}
	                                #{elseif seat != null && (seat.get("chargeableInd").getAsBoolean() || seat.get("occupiedInd").getAsBoolean() || seat.getAsJsonObject().get("inoperativeInd").getAsBoolean())}
	                                    <div class="seatCharts-seat seatCharts-cell economy-class unavailable"></div>
	                                #{/elseif}
	                                #{else}
                                    #{if seat.exitRowInd.getAsBoolean()}
                                    	#{if !column_isLast}
                                    		<img src="@{'/public/images/emergencyexit.png'}" class="emergencyIconL" /> 
										#{/if}
										#{else}
											<img src="@{'/public/images/emergencyexit.png'}" class="emergencyIconR" />             
										#{/else}
                                    	<div data-passenger="n" id="${row.rowNumber}${column.get("name").getAsString()}" role="checkbox"  class="seatCharts-seat seatCharts-cell economy-class emergency-legend"></div>
	                               #{/if}
	                               #{else}
	                               <div data-passenger="n" id="${row.rowNumber}${column.get("name").getAsString()}" role="checkbox"  class="seatCharts-seat seatCharts-cell economy-class available"></div>
	                               #{/else}
	                               
	                               %{
	                                def tooltipAlign = 0;
	                               	for (def i=1;i<=column_index;i++) {
	                               		if (i<5 || i >=7){
	                               		tooltipAlign = tooltipAlign + 40;
	                               		}
	                               		else if (i<8) {
	                               		tooltipAlign = tooltipAlign + 10;
	                               		}
	                               		
	                               	}
	                               }%
	                                <div class="seatInfo_${row.rowNumber}${column.get("name").getAsString()} seatInfoDiv text-left" style="margin-left: ${tooltipAlign}px; display:none; z-index: 200; position: fixed;">
	                                	<strong>${row.rowNumber} ${column.get("name").getAsString()} </strong><br>
	                                	#{if column.type.getAsString().equals('Window')}
	                                		* Ventana<br>
	                                	#{/if}
	                                	#{elseif column.type.getAsString().equals('CenterSeat')}
	                                		* Asiento Central<br>
	                                	#{/elseif}
	                                	#{elseif column.type.getAsString().equals('Aisle')}
	                                		* Pasillo<br>
	                                	#{/elseif}
	                                	
	                                	#{if seat.exitRowInd.getAsBoolean()}
	                                		* Salida de Emergencia <br>
	                                	#{/if}
	                                	#{if seat.restrictedReclineInd.getAsBoolean()}
	                                		* Reclinación limitada <br>
	                                	#{/if}
	                                	#{if seat.noInfantInd.getAsBoolean()}
	                                		* No permite Infantes <br>
	                                	#{/if}
	                                	
	                                	#{list seat.locationDetails, as: 'detail' }
	                                		#{if detail.getAsString().equals('OverWingSeat(S)')}
	                                			* Sobre el ala<br>
	                                		#{/if}
	                                		#{elseif detail.getAsString().equals('RightSideOf Aircraft')}
	                                			* Lado derecho<br>
	                                		#{/elseif}
	                                		#{elseif detail.getAsString().equals('LeftSideOfAircraft')}
	                                			* Lado izquierdo<br>
	                                		#{/elseif}
	                                	#{/list}
	                                </div>
	                                #{/else}
									 %{count++;}%
									 
	                            #{/list}
	                        #{/if}
	                        #{if row.get("isOverWing").getAsBoolean() && row_isLast}
	                        <img id="wing2" style="position: absolute; width: 40px; height: 80px; transform: skewY(30deg);" src="@{'/public/images/wing.jpg'}" />
	                        #{/if}
	                        #{elseif row.get("isOverWing").getAsBoolean()}
			             		<img id="wing2" style="position: absolute; width: 40px; transform: skewY(30deg);" src="@{'/public/images/wing.jpg'}" />
							#{/elseif}
	                    </div>
	                #{/list}
	            #{/list}
	            </div>
	        </div>
	
	    </div>
	</div>
	
	#{/list}
	<div id="tailPlane" style="margin-left: 109px;"><img id="imgTalePlane" src="@{'/public/images/taleairplane0.png'}"/></div>
	</div>
	
	<div class="text-center">
	
		<a class="btn btn-search" id="btnContinue">Continuar</a>
		<a class="btn btn-search" id="btnConfirm" style="display: none;">Confirmar Asientos</a>
	</div>
</div><!-- col -->
</div><!-- row -->

	<script>
	var seatsSelected = 0;
	var insertionValue = 1;
	var indexSeatMap = 1;
	var selectionArr = new Array();
	var finalSelectionArr = new Array();
	var numberOfMaps = ${seatsMapArray.size()};
	var arrOfSelectedPassengers = ["", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", ""];
	
	
	
	var mouseX;
	var mouseY;
	$(document).mousemove( function(e) {
	   mouseX = e.pageX; 
	   mouseY = e.pageY;
	});  
	
	
	function resetValues() {
		seatsSelected = 0;
		insertionValue = 1;
		indexSeatMap = 1;
		selectionArr = new Array();
		arrOfSelectedPassengers = ["", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", ""];
		numberOfMaps = ${seatsMapArray.size()};
	}
	
	$(function () {
	
		$("#seatsmapBlock_1").show();
		
		$( ".seatCharts-seat" ).mouseover(function(e) {
			try {
				if ($( ".seatInfo_"+this.id ).html().trim()!='') {
					$( ".seatInfo_"+this.id ).show();
				}
			}
			catch(err) {
				return false;
			}
		});

		$( ".seatCharts-seat" ).mouseleave(function() {
			$( ".seatInfo_"+this.id ).hide();
		});
		$("#btnConfirm").click(function() {
			$('#modalSeatsMap').modal('toggle');
		});
		
		$("#modalSeatsMap").on("hidden.bs.modal", function () {
			resetValues();
			$("#modalSeatsBody").html('<div id="cargandoDiv" >Cargando mapa de asientos...</div>');
		});
		
		$("#btnContinue").click(function() {
			if (seatsSelected == ${numberOfSeats}){
                if (indexSeatMap <= numberOfMaps) {
                    $("#seatsmapBlock_"+indexSeatMap).hide();
                    indexSeatMap++;
                    seatsSelected = 0;
                    insertionValue = 1;	
                    finalSelectionArr.push(selectionArr);
                    selectionArr = new Array();
                    arrOfSelectedPassengers = ["", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", ""];
                    $("#seatsmapBlock_"+indexSeatMap).show();
                    headTaleAdjust(indexSeatMap);
                    if (indexSeatMap>numberOfMaps){
                        indexSeatMap--;
                        $("#seatsmapBlock_"+indexSeatMap).hide();
                        $("#btnContinue").hide();
                        $("#tailPlane").hide();
                        $("#btnConfirm").show();
                        $("#seatCharts-legend").hide();
                    }
                }
                $('#modalSeatsMap').animate({ scrollTop: 0 }, 'slow');
            }
			else {
				alert("Debe seleccionar asientos para todos los pasajeros");
			}
		});
		
		$(".seatCharts-seat").mouseenter(function() {
			if ($(this).hasClass("available")) {
				$(this).addClass("focused");
			}
		});
		$(".seatCharts-seat").mouseout(function() {
			
			if ($(this).hasClass("focused")) {
				$(this).removeClass("focused");
			}
		});
		
		
		*{$(".seatCharts-seat").click(function() {
			if (!$(this).hasClass("unavailable") && !$(this).hasClass("selected") && seatsSelected < ${numberOfSeats}) {
				$(this).addClass("selected");
				seatsSelected++;
				if(indexSeatMap != 1){
					$("#passenger_"+seatsSelected).append("-"+this.id);
                }else{
                	$("#passenger_"+seatsSelected).html(this.id);
                }
				selectionArr.push(this.id);
				return;
			}
			if ($(this).hasClass("selected")  ) {
				$(this).removeClass("selected");
				$("#passenger_"+seatsSelected).children("#"+indexSeatMap + seatsSelected).remove();
				selectionArr.splice(selectionArr.indexOf(this.id),1);
				seatsSelected--;
			}
		});
		}*
		
		
		$(".seatCharts-seat").click(function() {
			if (!$(this).hasClass("unavailable") && !$(this).hasClass("selected") && seatsSelected < ${numberOfSeats}) {
				$(this).addClass("selected");
				seatsSelected++;
				
				for (var i=1;i<20;i++){
					if (arrOfSelectedPassengers[i]==''){
						insertionValue = i;
						break;
					}
				}
				$(this).attr('data-passenger', insertionValue);
				var fromTo = $(".info-from-to:visible").html();
				if ($("#passenger_"+insertionValue).html()=='Número de Asiento'){
					$("#passenger_"+insertionValue).html('<label id="'+this.id+insertionValue+'">'+fromTo+': '+this.id+'</label>');
					$("#passenger_"+insertionValue).data("info","filled");
				}
				else {
					$("#passenger_"+insertionValue).append('<br><label id="'+this.id+insertionValue+'">'+fromTo+': '+this.id+'</label>');
				}
				arrOfSelectedPassengers[insertionValue]="x";
				insertionValue++;
				selectionArr.push(this.id);
				return;
			}
			
			if ($(this).hasClass("selected") ) {
				$(this).removeClass("selected");
				var pass = $(this).attr('data-passenger');
				$("#passenger_"+pass).children("#"+this.id + pass).remove();
				if ($("#passenger_"+pass).html()=='') {
					$("#passenger_"+pass).html("Número de Asiento");
				}
				selectionArr.splice(selectionArr.indexOf(this.id),1);
				arrOfSelectedPassengers[pass]='';
				seatsSelected--;
			}
			
		});
		
	});
        $('#bodyPlane_1').ready(function(){
            var bodyWidthVal = $("#bodyPlane_1").width();
            if (bodyWidthVal < 150)
            {$("#imgHeadPlane_1").css({'width':($("#bodyPlane_1").width()+'px'), 'margin-top':('60px')});}
            else
            {$("#imgHeadPlane_1").css({'width':($("#bodyPlane_1").width()+'px'), 'margin-top':('20px')});}
            $("#imgTalePlane").css({'width':($("#bodyPlane_1").width()+'px')});
        });
        
        function headTaleAdjust(seatmapNum){
            var bodyWidthVal = $("#bodyPlane_"+seatmapNum).width();
            if (bodyWidthVal < 150)
            {$("#imgHeadPlane_"+seatmapNum).css({'width':(bodyWidthVal+'px'), 'margin-top':('60px')});}
            else
            {$("#imgHeadPlane_"+seatmapNum).css({'width':(bodyWidthVal+'px'), 'margin-top':('20px')});}
            $("#imgTalePlane").css({'width':(bodyWidthVal+'px')});
        }
	</script>
#{/if}
#{else}
<div class="row">	
	<div class="col-md-12">
		<div class="row">
			<p style="padding: 20px;">Hubo un <strong>Error</strong> al cargar los asientos</p>
		</div>
	</div>
</div>
#{/else}