<div class="container">
<div id="seat-map" class="seatCharts-container" tabindex="0" aria-activedescendant="6_B">


#{list seatsMap.cabins, as: 'cabin' }
	#{list cabin.rows, as: 'row' }
		<div class="seatCharts-row">
			#{list row.seats, as: 'seat' }
				<div id="${seat.rowNumber}_${seat.number}" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell economy-class available">${seat.number.getAsString()}</div>
			#{/list}
		</div>
	#{/list}
	
#{/list}
	
	
</div>
	
	
</div>
	
	
	
	



		