<br><a class="modalAirRulesLink" href="#" id="seatMapBtn" style="font-weight: bold; font-size: initial;">Elegir Asientos</a>

<!-- Modal -->
<div class="modal fade modal-air-rules" id="modalSeatsMap" tabindex="-1" role="dialog" aria-labelledby="modalAirRulesLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content info-flight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-close-modal"></i></button>
                <h4 class="modal-title" id="modalAirRulesLabel">Elija sus asientos</h4>
            </div>
            <div class="modal-body" id="modalSeatsBody">
				<div id="cargandoDiv" >Cargando grilla de asientos...</div>

				<div class="wrapper" style="display: none;" id="chartWrapper">
					<div class="container">
						<div id="seat-map">
							
							
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>



<style>

.front-indicator {
	background-color: #f6f6f6;	
	color: #adadad;
	text-align: left;
	padding: 3px;

	/* Rectangle 4: */
	background: #FFFFFF;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.30);
	border-radius: 5px;
    background: #2c4d6f;
	font-size: 15px;
	color: #fff;
}
.txt-from-to-block {
	color: #666;
}
.info-from-to {
	font-weight: 700;
}
.wrapper {
	width: 100%;
	text-align: center;
}
.container {
	margin: 0 auto;
	width: 500px;
	text-align: left;
}
.booking-details {
	float: left;
	text-align: left;
	margin-left: 35px;
	font-size: 12px;
	position: relative;
	height: 401px;
}
.booking-details h2 {
	margin: 25px 0 20px 0;
	font-size: 17px;
}
.booking-details h3 {
	margin: 5px 5px 0 0;
	font-size: 14px;
}
div.seatCharts-cell {
	color: #182C4E;
	height: 25px;
	width: 25px;
	line-height: 25px;
	
}
div.seatCharts-seat {
	color: #FFFFFF;
	cursor: pointer;	
}
div.seatCharts-row {
	height: 35px;
}
div.seatCharts-seat.available {
	background-color: #B9DEA0;

}
div.seatCharts-seat.available.first-class {
/* 	background: url(vip.png); */
	background-color: #3a78c3;
}
div.seatCharts-seat.focused {
	background-color: #76B474;
}
div.seatCharts-seat.selected {
	background-color: #979797;
}
div.seatCharts-seat.unavailable {
	background-color: #EA7979;
	border: 1px solid #E53A3A;
}
div.seatCharts-seat.chargeable {
	background-color: #428BCA;
}
div.seatCharts-container {
	width: 500px;
	padding: 20px 0;
	float: left;
}
div.seatCharts-legend {
	padding-left: 0px;
	position: absolute;
	bottom: 16px;
}
ul.seatCharts-legendList {
	padding-left: 0px;
}
span.seatCharts-legendDescription {
	margin-left: 5px;
	line-height: 30px;
}
.checkout-button {
	display: block;
	margin: 10px 0;
	font-size: 14px;
}
#selected-seats {
	max-height: 90px;
	overflow-y: scroll;
	overflow-x: none;
	width: 170px;
}





.position-seat {
	position: relative;
}
.position-absolute-seat {
	position: absolute;
    top: 380px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    <!--max-width: 268px;-->
}
.position-absolute-seat div.seatCharts-cell {
    height: 17px;
    width: 15px;
    line-height: inherit;
    font-size: 11px;
}
<!--.airplane-drawing {-->
	<!--background-image: url(/public/images/airplane-drawing.svg);-->
	<!--background-repeat: no-repeat;-->
	<!--background-position: 50px 60px;-->
	<!--display: inline-block;-->
	<!--width: 500px!important;-->
	<!--height: 1160px;-->
	<!--vertical-align: top;-->
<!--}-->

#selectedSeatsBlock {
	border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
}

















</style>


		
<script>
var seatsCounter = 0;
var arraySeatsLabel = ["A", "B", "C", "D", "E", "F", "G", "H",  "J", "K", "L"];
var lastRow = 1;
var sc=null;

function charter(result) {

	var $cart = $('#selected-seats'),
	$counter = $('#counter'),
	$total = $('#total'),
	sc = $('#seat-map').seatCharts({
		map: eval(result.totalSeats),

		seats: {
			f: {
				price   : 100,
				classes : 'first-class', //your custom CSS class
				category: 'First Class'
			},
			e: {
				price   : 40,
				classes : 'economy-class', //your custom CSS class
				category: 'Economy Class'
			}
		
		},
		naming : {
			top : false,
			getLabel : function (character, row, column) {
				console.log("character: "+character);
				if (seatsCounter==arraySeatsLabel.length) {
					seatsCounter=0;
				}
				if (lastRow!=row){
					seatsCounter=0;
				}
				lastRow=row;
				return arraySeatsLabel[seatsCounter++];
			},
 			columns: ['A', 'B', 'C', 'D', 'E','F','G','H','I','J','K'],
// 			rows: ['I','II','III','IV','V'],
		},
		legend : {
			node : $('#legend'),
		    items : [
				[ 'f', 'available',   'First Class' ],
				[ 'e', 'available',   'Economy Class'],
				[ 'f', 'unavailable', 'Already Booked']
		    ]					
		},
		click: function () {
			if (this.status() == 'available') {
				//let's create a new <li> which we'll add to the cart items
				$('<li>'+this.data().category+' Seat # '+this.settings.label+': <b>$'+this.data().price+'</b> <a href="#" class="cancel-cart-item">[cancel]</a></li>')
					.attr('id', 'cart-item-'+this.settings.id)
					.data('seatId', this.settings.id)
					.appendTo($cart);
				
				/*
				 * Lets update the counter and total
				 *
				 * .find function will not find the current seat, because it will change its stauts only after return
				 * 'selected'. This is why we have to add 1 to the length and the current seat price to the total.
				 */
				$counter.text(sc.find('selected').length+1);
				$total.text(recalculateTotal(sc)+this.data().price);
				
				return 'selected';
			} else if (this.status() == 'selected') {
				//update the counter
				$counter.text(sc.find('selected').length-1);
				//and total
				$total.text(recalculateTotal(sc)-this.data().price);
			
				//remove the item from our cart
				$('#cart-item-'+this.settings.id).remove();
			
				//seat has been vacated
				return 'available';
			} else if (this.status() == 'unavailable') {
				//seat has been already booked
				return 'unavailable';
			} else {
				return this.style();
			}
		}
	});
	
	//this will handle "[cancel]" link clicks
	$('#selected-seats').on('click', '.cancel-cart-item', function () {
		//let's just trigger Click event on the appropriate seat, so we don't have to repeat the logic here
		sc.get($(this).parents('li:first').data('seatId')).click();
	});
	
	//let's pretend some seats have already been booked
	sc.get(eval(result.unavailableSeats)).status('unavailable');
	
}

function recalculateTotal(sc) {
	var total = 0;

	//basically find every selected seat and sum its price
	sc.find('selected').each(function () {
		total += this.data().price;
	});
	
	return total;
}




function charter2(result){
	var seatsArray = result.allSeats.split(',');
	$('#seat-map').append('<div class="front-indicator">Frente</div>');

	for(i=0; i < seatsArray.length; i++){
		var seats = seatsArray[i];
		$('#seat-map').html($('#seat-map').html()+'<div class="seatCharts-row">');
		for(j=0; j < seats.length; j++){
			if (seats[j]=='e'){
				$('#seat-map').append('<div id="1_'+arraySeatsLabel[j]+'" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell economy-class available">'+arraySeatsLabel[j]+'</div>');
			}
			else {
				$('#seat-map').append('<div class="seatCharts-cell seatCharts-space"></div>');
			}
		}
		$('#seat-map').html($('#seat-map').html()+'</div>');
	}
}


var jsonloco;
	$(function () {

		$("#seatMapBtn").click(function( event ) {
			$('#modalSeatsMap').modal('show');
			var data = $("[name='bfmResultItem']").val();
			$.ajax({
			    'url': '@{SeatsMapController.getSeats}',
			    'type': 'POST',
			    'data': data,
			    'success': function(result){
			    	jsonloco=result;
		        	$('#modalSeatsBody').append(result);
		        	//charter(result);
		        	$('#cargandoDiv').hide();
		        	$('#chartWrapper').show();
			    }
			});
		});
		
		
		$(".seatCharts-seat").hover(function() {
			if ($(this).hasClass("available")) {
				$(this).addClass("focused");
			}
		});
		
	});
</script>