<div class="box-info-payment">
    <div class="head-payment">
        <h3 class="title-payment">Tu reserva</h3>
    </div>
    <table class="detail-payment-table">
        <thead>
        <tr>
            <th></th>
            <th>Pasajeros</th>
            <th>Precio</th>
            <th>Impuestos</th>
            <th>Subtotal</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td class="txt-payment-table-mark">Pajeros</td>
            <td>$${_pricing.totalPassengerFare.getAsString()}</td>
            <td>$${_pricing.totalTax.getAsString()}</td>
            <td class="txt-payment-table-mark">$${_pricing.totalFare.getAsString()}</td>
        </tr>
        </tbody>
    </table>
    <div class="total-payment">
        <ul>
            <li>Total</li>
            <li>$${_pricing.totalFare.getAsString()}</li>
        </ul>
    </div>
</div>