<div class="box-info-payment">
    <div class="body-payment term-and-condition">
        <div class="form-group col-md-12">
            <p>Declaración Importante al adquirir sus pasajes, servicios turìsticos y Otros <a href="http://agencia.travelclub.cl/contenido/declaracion-e-informacion-importante-al-adquirir-sus-pasajes-servicios-turisticos-y-otros" target="_blank">(ver documento)</a>.</p>
            <p>Tèrminos y condiciones del servicio <a href="http://agencia.travelclub.cl/guia-del-viajero/lineas-aereas-condiciones-generales" target="_blank">(ver guía)</a>.</p>
            <p>El uso de Dólares-Premio aplica según condiciones del Programa Travel Club (refierase a los montos mínimos exigidos para canjear y demas condiciones) publicados en <a href="http://www.travelclub.cl" target="_blank">http://www.travelclub.cl</a>.</p>
            <p>Contrato de Transporte de Pasajero IATA <a href="http://viajes.travel.cl/vuelos/Web/Docs/Condiciones%20del%20Contrato%20y%20otros%20Avisos%20Importantes.pdf" target="_blank">(ver contrato)</a>.</p>
        </div>
        <div class="form-group col-md-12 checkbox-term-and-condition">
            <label>
                <input type="checkbox" id="inlineCheckbox1" class="validatetermsconditions" name="contractAccept" value="true">  Declaro Conocer y Aceptar Condiciones del Servicio
            </label>
        </div>
    </div>
</div>
