<div class="box-info-payment">
    <div class="body-payment term-and-condition">
        <div class="form-group col-md-12">
            <p><a href="" class="underline-text">La Guia de Viajes TravelClub</a>, con Información y Recomendaciones para los pasajeros TravelClub</p>
            <p>Las Condiciones Generales de Venta por Internet de TravelClub:</p>
            <ul>
                <li>No aplica derecho a retracto por ventas generadas por este canal, de acuerdo a la Ley Nº 19.496 de Protección al Consumidor.</li>
                <li>Condiciones de pasaje y transporte aéreo son de exclusiva responsabilidad de las líneas aéreas respectivas y se rigen de acuerdo al <a href=""> Contrato de Transporte de Pasajeros IATA</a>.</li>
                <li>Los descuentos y beneficios son entregados por TravelClub, sin responsabilidad para Banco de Chile y Banco Edwards.</li>
                <li>El uso de Dólares Premio aplica según condiciones del Programa Travel Club (refiérase a los montos mínimos exigidos para canjear y demás condiciones) publicados en<a href=""> http://www.travelclub.cl</a>.</li>
                <li>Es responsabilidad del cliente informarse y contar con la documentacion necesaria para su viaje, asi como cumplir con las restricciones establecidas.</li>
                <li>Para vuelos con conexión, es responsabilidad del cliente la compra de estadia y traslados cuando el itinerario asi lo amerite.</li>
                <li class="more-term-and-condition"><a href="#" target="_blank">Ver todos los términos y condiciones</a></li>
            </ul>
        </div>
        <div class="form-group col-md-12 checkbox-term-and-condition">
            <label>
                <input type="checkbox" id="inlineCheckbox1" class="validatetermsconditions" name="contractAccept" value="true">  Declaro Conocer y Aceptar Condiciones del Servicio
            </label>
        </div>
    </div>
</div>