<div class="box-info-payment">
    <div class="body-payment term-and-condition">
        <div class="form-group col-md-12">
            <p>La Guía de Viajes TravelClub, con Información muy importante y recomendaciones para los pasajeros TravelClub. <a href="http://agencia.travelclub.cl/guia-del-viajero/index.php">(ver guía)</a>.</p>
            <p>Las Condiciones Generales de Venta por Internet de TravelClub:</p>
            <ul>
                <li>Condiciones de pasaje y transporte aéreo son de exclusiva responsabilidad de las líneas aéreas respectivas y se rigen de acuerdo al Contrato de Transporte de Pasajeros IATA <a href="http://viajes.travel.cl/vuelos/Web/Docs/Condiciones%20del%20Contrato%20y%20otros%20Avisos%20Importantes.pdf">(ver contrato)</a>.</li>
                <li>No aplica derecho a retracto por ventas generadas por este canal, de acuerdo a la Ley Nº 19.496 de Protección al Consumidor.</li>
                <li>Los descuentos y beneficios son entregados por TravelClub, sin responsabilidad para Banco de Chile y Banco Edwards.</li>
                <li>El uso de Dólares Premio aplica según condiciones del Programa Travel Club (refiérase a los montos mínimos exigidos para canjear y demás condiciones) publicados en <a href="http://www.travelclub.cl">http://www.travelclub.cl</a>.</li>
                <li>Es responsabilidad del cliente informarse y contar con la documentación necesaria para su viaje, así como cumplir con las restricciones establecidas.</li>
                <li>Para vuelos con conexión, es responsabilidad del cliente la compra de estadía y traslados cuando el itinerario así lo amerite.</li>
                <li>Una vez realizada la reserva no se pueden modificar los datos de los pasajeros.</li>
				<li>Cualquier cambio en el itinerario realizado por la línea aérea, será informado a los pasajeros al teléfono de contacto y correo electrónico indicado por el cliente en esta etapa (en datos de Pasajero 1).</li>
				<li>Será necesario ingresar nombre completo del pasajero, como figura en el documento de viaje, sea éste pasaporte o cédula de identidad. No está permitido ingresar acentos, números, ni otros caracteres. Solo está permitido ingresar letras en el nombre y apellido de los pasajeros, exceptuando la letra ñ.</li>
				<li>Es responsabilidad de cada pasajero contar con su documentación vigente, además de la obtención de Visas, documentos personales y familiares, necesarios para el viaje.</li>
				<li>Si eres chileno, revisa tu número de pasaporte. Si tu pasaporte fue emitido después del 2 de septiembre de 2013, el número será distinto al de tu Rut.</li>
				<li>Pasajeros extranjeros con residencia en Chile, deben viajar con su cédula de identidad para extranjeros emitida en Chile, más su pasaporte del país de origen. Pasajeros con doble nacionalidad, deben salir del país con su pasaporte Chileno.</li>
				<li>Las reservas confirmadas y que no son pagadas, son anuladas por robot sin intervención de terceros. Toda nueva reserva, podría sufrir alzas en su precio.</li>
				<li>La Administración de Seguridad en el Transporte nos exige pedirle cierta información suya para fines de verificación con la lista de vigilancia, bajo la autoridad de 49 U.S.C. Sección 114 y la Ley de Reforma de los Servicios de Inteligencia y Prevención del Terrorismo (Intelligence Reform and Terrorism Prevention Act) de 2004. La entrega de esta información es voluntaria. No obstante, si no se suministra, usted podrá ser sometido a investigación adicional de antecedentes o se le negará transporte o la autorización para entrar en un área estéril. La TSA puede compartir la información que usted suministre con las autoridades o agencias de inteligencia u otras bajo su notificación de sistema de registros publicados. Para mayor información sobre las políticas de privacidad de la TSA o para ver la notificación de sistema de registros publicados y la evaluación del impacto en la privacidad, visite la página web de la TSA www.tsa.gov
				</li>
            </ul>
        </div>
        <div class="form-group col-md-12 checkbox-term-and-condition">
            <label>
                <input type="checkbox" id="inlineCheckbox1" class="validatetermsconditions" name="contractAccept" value="true">  Declaro Conocer y Aceptar Condiciones del Servicio
            </label>
        </div>
    </div>
</div>
