<a href="http://asistencia.travelclub.cl/" class="box-info-payment">
    <div class="head-payment">
        <h3 class="detail-title"><img src="/public/img/logo-assit-card.jpg" alt="" title="">Asisst Card</h3>
    </div>
    <div class="body-payment">
        <p>Es un Servicio de asistencia médica en viajes de la Agencia de Viajes Travel Club. Por un precio
            preferencial, nuestros clientes pueden acceder a una protección frente a emergencias médicas imprevistas en sus viajes al exterior. </p>
    </div>
</a>