<div>
    <table class="detail-payment-table confirm-fly-table">
        <thead>
        <tr>
            <th></th>
            <th>Aerolinea</th>
            <th>Vuelo</th>
            <th>Sale</th>
            <th>Llega</th>
            <th>Fecha/Hora</th>
        </tr>
        </thead>
        <tbody>
        #{list items:_flights, as:'segment'}
            <tr>
                <td></td>
                <td>
                    #{airlineLogo carriersCode:segment.airlineCode?.getAsString().toLowerCase(), carriersName: segment.airlineCode /}
                    <span class="name-company-fly">${segment.airlineName?.getAsString()}</span>
                </td>
                <td><span class="name-company-fly">${segment.flight?.getAsString()}</span></td>
                <td>${new utils.ApiFlightsSdk.v1.Airport().getByIataCode(segment.from.getAsString()).city}</td>
                <td>${new utils.ApiFlightsSdk.v1.Airport().getByIataCode(segment.to.getAsString()).city}</td>
                    <td>${new java.text.SimpleDateFormat("yyyy-MM-dd HH:mm:ss").parse(segment.datetime?.getAsString().replace('T', ' ')).format('dd/MM/yyyy HH:mm')}</td>
            </tr>
        #{/list}
        </tbody>
    </table>
</div>