%{
df = new java.text.DecimalFormat("#,###,###");
}%

<div class="box-info-payment">
    <div class="head-payment">
        <h3 class="title-payment">Detalles de Pago</h3>
    </div>
    <div class="body-payment">
        <ul class="box-detail-fly-confirm">
            <li>
                <span class="name-detail-fly">Orden de pago:</span>
                <span class="num-detail-fly">${_order.externalId?.getAsString()}</span>
            </li>
            #{if _order.ccAmount!=null && !_order.ccAmount.getAsString().equals("0")}
            <li>
                <span class="name-detail-fly">Número de cuotas:</span>
                <span class="num-detail-fly">${_order.installments?.getAsString()}</span>
            </li>
            *{<li>}*
                *{<span class="name-detail-fly">Número de tarjeta:</span>}*
                *{<span class="num-detail-fly">**** **** **** XXXX</span>}*
            *{</li>}*
            <li>
                <span class="name-detail-fly">Código autorización Transbank:</span>
                <span class="num-detail-fly">${_order.ccAutorizationId?.getAsString() }</span>
            </li>
            <li>
                <span class="name-detail-fly">Monto tarjeta:</span>
                <span class="num-detail-fly">$ ${df.format(_order.ccAmount?.getAsNumber()).replace(',', '.')}</span>
            </li>
            #{/if}
            <li>
                &nbsp;
            </li>
            #{if !_order.dpAmount.getAsString().equals("0.0000")}
            <li>
                <span class="name-detail-fly" id="coddpdk">Código autorización Dólares Premio:</span>
                <span class="name-detail-fly" id="coddpmv">Código autorización DP:</span>
                <span class="num-detail-fly">${_order.autorizationIdDp?.getAsString() }</span>
            </li>
            <li>
                <span class="name-detail-fly">Monto Dólares Premio:</span>
                <span class="num-detail-fly">${df.format(_order.dpAmount?.getAsNumber())}</span>
            </li>
            #{/if}
        </ul>
    </div>
    %{def paddingTotal = ''}%
    #{if _order.discount!=null && !_order.discount.getAsString().equals("0")}
    	%{paddingTotal = 'padding-top: 5px;'}%
	    <div class="total-payment" style="padding-bottom: 0px;">
	        <ul>
	            <li>Subtotal</li>
	            <li>$ ${df.format(_order.initialAmount?.getAsNumber()).replace(',', '.')}</li>
	        </ul>
	    </div>
	    <div class="total-payment" style="padding-top: 5px; padding-bottom: 0px;">
	        <ul>
	            <li>Descuento</li>
	            <li>$ ${df.format(_order.discount?.getAsNumber()).replace(',', '.')}</li>
	        </ul>
	    </div>
	    <div class="total-payment" style="${paddingTotal}">
	        <ul>
	            <li>Total</li>
	            <li>$ ${df.format(_order.initialAmount?.getAsNumber() + _order.discount.getAsNumber() ).replace(',', '.')}</li>
	        </ul>
	    </div>
	#{/if}
	#{else}
		<div class="total-payment" style="${paddingTotal}">
	        <ul>
	            <li>Total</li>
	            <li>$ ${df.format(_order.initialAmount?.getAsNumber()).replace(',', '.')}</li>
	        </ul>
	    </div>
	#{/else}

</div>