
.search-and-payment-travel {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}


/*  GENERAL
======================== */
.search-arrive {
	background-color: #EBEDF2;
	min-height: 600px;
}
/* ANIMATE PRELOAD
================ */

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  50% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 200deg);
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0;
  }
}

/* SEARCH
=========== */
.bg-search {
	background-color: #2F313A;
	margin: 15px 0;
}
.bg-search h2 {
	color: #fff;
	font-weight: 400;
	padding: 15px 15px 0px 15px;
	margin: 0;
}

.form-search-travel {
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}
.form-search-travel .radio {
	text-align: center;
}
.form-search-travel input,
.form-search-travel select {
	height: 40px;
}
.form-search-travel .bg-arrow {
	background-image: url("../img/bg-arrow.svg");
	background-repeat: no-repeat;
	background-position: center right; 
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}
.form-search-travel .calendar-input {
	border-right: none;
}
.form-search-travel .bg-calendar {
	background-image: url("../img/bg-calendar.svg");
	background-repeat: no-repeat;
	background-position: center right; 
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
}
.form-search-travel .radio input {
	height: auto!important;
}
.form-search-travel .airline {
	padding-left: 0;
}

.form-search-travel .radio label {
	margin: 10px;
}
.form-search-travel label,
.form-search-travel span {
	font-weight: 400;
	color: #fff;
}
.btn-secondary-travel {
	border-width: 2px;
	border-style: solid;
	background-color: transparent;
	text-transform: uppercase;
	transition: all .5s;
}
.btn-search {
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
	border-radius: 4px;
	background-color: #428BCA;
	color: #fff;
	padding: 10px 20px;
	margin-top: 20px;
	width: 100%;
	transition: all .5s;
}

.btn-search:hover {
	color: #fff;
	box-shadow: none;
	opacity: .8;
}
/* FILTER
============== */
.filter-arrive {
	background-color: #fff;
	margin-bottom: 10px;
}
.box-filter {
	border-top: 1px solid #E5E6EB;
    border-left: 1px solid #E5E6EB;
    border-right: 1px solid #E5E6EB;
    cursor: pointer;
}

.box-filter:last-child {
    border-bottom: 1px solid #E5E6EB;	
}
.header-filter {
	border-bottom: 1px solid #fff;
}
.header-filter h3 {
	color: #428BCA;
	font-size: 16px;
	margin: 10px;
	position: relative;
}

.header-filter i {
	background-repeat: no-repeat;
    background-position: center right;
    width: 20px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 7px;
    top: 25%;
}
.arrow-up {
	background-image: url("../img/arrow-up.svg");
}
.arrow-down {
	background-image: url("../img/arrow-down.svg");
}
.body-filter {
	padding: 15px;
	border-top: 1px solid #E5E6EB;
	background-color: #f8f8f8;
	-webkit-box-shadow: inset 1px 7px 10px -10px rgba(0,0,0,0.55);
	-moz-box-shadow: inset 1px 7px 10px -10px rgba(0,0,0,0.55);
	box-shadow: inset 1px 7px 10px -10px rgba(0,0,0,0.55);
	display: none;
}
.body-filter img {
	max-width: 100%;
}
.hidden-filter {
	display: none;
}
.body-filter label {
	color: #999;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.8;
	width: 300px;
	overflow: hidden;
}

.money-type {
	padding-left: 0;
}
.money-type label {
	width: auto;
	margin-left: 12px;
    vertical-align: middle;
}
.body-filter .checkbox {
	margin: 4px 0;
	padding: 2px;
	position: relative;
}
.body-filter .radio {
	margin: 0;
	padding: 10px;
}
.box-number {
	border: 1px solid #E5E6EB;
    color: #999;
    position: absolute;
    right: 10px;
    width: 26px;
    height: 26px;
    text-align: center;
    vertical-align: middle;
    top: 5px;
}
.box-range {
	padding-left: 0!important;
	width: 100%;
}
.selected-box {
	border: 0;
	background-color: #428BCA;
	color: #fff;
}
.box-number span {
	line-height: 2;
	font-size: 13px;
}
/* detail of filter
============ */
.slider.slider-horizontal {
	width: 100%;
}
.price-number-left {
	margin-bottom: 10px;
	float: left;
}
.price-number-right {
	margin-bottom: 10px;
	float: right;
}
.value-min,
.value-max {
	display: inline-block;
	width: 30%;
    margin: 15px;
}
.value-min span,
.value-max span {
	display: block;
}
.btn-filter {
	width: 40%;
}
.txt-filter {
	display: block;
	margin-bottom: 10px;
}
.txt-checkbox {
	margin-left: 10px;
}
/* range input
================ */
.slider-selection {
	background-image: none;
}
.slider-handle {
	top: -3px;
}
.slider.slider-horizontal .slider-track {
	height: 7px;
}
.noUi-pips-horizontal {
	display: none;
}
.noUi-horizontal {
	clear: both;
	height: 8px;
}
.noUi-handle:after, .noUi-handle:before {
	display: none;
}
.noUi-horizontal .noUi-handle {
	height: 18px;
    width: 18px;
    border-radius: 20px;
}
.noUi-handle {
	border: 0;
	box-shadow: none;
	background-color: #428BCA;
}
.noUi-connect {
	background-color: #3b4d6d;
}

/* active filter
============== */
.active-filter {
	border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    min-height: 100px;
    margin-bottom: 10px;
}
.active-filter h4 {
	font-size: 16px;
}
.box-active-filter {
	background-color: #3b4d6d;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	padding: 5px 10px;
	opacity: .7;
	transition: all .5s;
}

.box-active-filter:hover {
	cursor: pointer;
	opacity: 1;
}
.box-active-filter .txt-filter-activer {
	vertical-align: middle;
}
.icon-close-filter {	
	background-image: url(../img/icon-close-filter.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	margin-left: 5px;
	width: 12px;
	height: 12px;
	vertical-align: middle;
}

/* datepicker
===============*/

.ui-widget-content {
	-webkit-box-shadow: 0px 3px 19px 0px rgba(0,0,0,0.75)!important;
	-moz-box-shadow: 0px 3px 19px 0px rgba(0,0,0,0.75)!important;
	box-shadow: 0px 3px 19px 0px rgba(0,0,0,0.75)!important;
	border:1px solid #ddd!important;
}
.ui-datepicker-header {
	background-color: transparent!important;
	background-image: none!important;
	border: 0!important;
}
.ui-datepicker-prev,
.ui-datepicker-next {
	background-color: transparent!important;
	border-color: transparent!important;
	border:0!important;
}

.ui-datepicker-prev-hover,
.ui-datepicker-next-hover {
	background-color: transparent!important;
	border-color: transparent!important;
	border:0!important;
}

.ui-icon-circle-triangle-w {
	background-image: url("../img/bg-izq.svg")!important;
	background-repeat: no-repeat!important;
	background-position: center right!important;
}
.ui-icon-circle-triangle-e {
	background-image: url("../img/bg-der.svg")!important;
	background-repeat: no-repeat!important;
	background-position: center right!important;
}
.ui-datepicker-title .ui-datepicker-month,
.ui-datepicker-title .ui-datepicker-year,
.ui-datepicker-calendar {
	font-family: 'Open Sans', sans-serif!important;
	font-weight: 300;
	color: #222222;
}
.ui-datepicker-calendar thead tr th {
	font-size: 12px!important;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	background-color: transparent!important;
	background-image: none!important;
	border-color: transparent!important;
	color: #428BCA!important;
	text-align: center!important;
}
.ui-state-default:hover {
	border-color: #428BCA!important;
	color: #fff!important;
	background-color: #428BCA!important;
	border-radius: 3px!important;
}
.ui-datepicker-calendar .ui-state-disabled {
	opacity: 1!important;
}
.ui-datepicker-calendar .ui-state-disabled span,
.ui-datepicker-calendar .ui-state-disabled span:hover  {
	color: #ccc!important;
	border: none;
	background-color: transparent!important;
}

.ui-datepicker-departure,
.ui-datepicker-return {
	border-color: #428BCA!important;
	color: #fff!important;
	background-color: #428BCA!important;
	border-radius: 3px!important;
	position: relative;
}
.ui-datepicker-departure {
	border-radius: 3px 0 0 3px!important;
}
.ui-datepicker-return {
	border-radius: 0 3px 3px 0!important;

}
.ui-widget-content .ui-datepicker-departure a,
.ui-widget-content .ui-datepicker-range a,
.ui-widget-content .ui-datepicker-return a,
.ui-widget-content .ui-state-active {
	color: #fff!important;
}
.ui-state-active, .ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	background-color: #428BCA!important;
	color: #fff!important;
	border: 1px solid #428BCA!important;
    background-image: none!important;
    border-radius: 4px!important;
}
.ui-datepicker-departure:after {
	content: '';
	position: absolute;
	right: -9px;
	top: 0px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 14px 0 15px 9px;
	border-color: transparent transparent transparent #428BCA;
}

.ui-datepicker-return:before {
	content: '';
	position: absolute;
	left: -9px;
	top: 0px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 14px 9px 15px 0;
	border-color: transparent #428BCA transparent transparent;
}
.ui-datepicker-range {
	background: #44a0e1;
	color: #fff!important;
}
.ui-widget-content {
	box-shadow: none!important;
	border:1px solid #f5f5f5!important;
}
.ui-datepicker-close {
	font-weight: 400;
}
/* select2
=============== */
.select2-container--default .select2-selection--single {
	box-shadow: none;
    height: 40px!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    background-image: url(../img/icon-arrow-from.svg)!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    border-color: transparent!important;
    width: 20px;
    height: 20px;
    left: -10%!important;
    top: 38%!important;
}
/* search mobile
============== */
#collapseSearchMobile .well {
	padding: 0;
	margin: 0;
	height: auto;
	border: 0;
	background-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.btn-search-mobile,
.btn-search-mobile:hover,
.btn-search-mobile:active {
	background-color: #2F313A!important;
	border-color: #2F313A!important;
	margin: 5px 0;
	border-radius: 0;
}
.btn-search-mobile:hover {
	margin-bottom: 0;
}
.btn-search-mobile ul {
	background-image: url(../img/icon-arrow-down-mobile-search.svg);
	background-repeat: no-repeat;
	background-position: right;
	padding-left: 0;
	margin-bottom: 0;
	text-align: left;
}

.btn-search-mobile[aria-expanded="true"] {
	margin: 5px 0 0 0;	
}
.btn-search-mobile[aria-expanded="true"] ul {
	background-image: url(../img/icon-arrow-up-mobile-search.svg);
	background-repeat: no-repeat;
	background-position: right;
}
.btn-search-mobile ul li {
	display: inline-block;
	margin-right: 15px;
}

.btn-search-mobile .icon-fly-mobile-search {
	background-image: url(../img/icon-fly-mobile-search.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.btn-search-mobile .icon-calendar-mobile-search {
	background-image: url(../img/icon-calendar-mobile-search.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 20px;
	height: 25px;
	vertical-align: middle;
}

.btn-search-mobile .icon-passenger-mobile-search {
	background-image: url(../img/icon-passenger-mobile-search.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 20px;
	height: 25px;
	vertical-align: middle;
}
.btn-search-mobile .txt-fly-mobile {
	text-transform: uppercase;
}

.btn-search-mobile .txt-fly-mobile,
.btn-search-mobile .txt-calendar-mobile,
.btn-search-mobile .txt-passenger-mobile {
	padding-left: 10px;
	font-weight: 400;
	vertical-align: middle;
	opacity: .8;
}

#collapseSearchMobile[aria-expanded="true"] {	
	border-top: 1px solid #666;
}
#collapseSearchMobile[aria-expanded="true"] .bg-search,
#collapseSearchMobile[aria-expanded="false"] .bg-search {
	margin-top: 0;
}
/* PRELOAD
============== */
.tickets-arrives {
	position: relative;
	min-height: 500px;
}
.preload-arrive {
	background-color: #fff;
	border-radius: 4px;
	height: 180px;
	margin: 30px auto;
	padding: 10px 0;
    width: 335px;
    /*position: absolute;*/
    top: 50%;
    left: 0;
    right: 0;
    /*transform: translateY(-50%);*/
    text-align: center;
}

.preload-arrive h3 {
	margin-top: 5px;
}
.preload-arrive i {
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	vertical-align: middle;
}
.preload-arrive hr {
	margin-bottom: 10px
}
.icon-preload {
	background-image: url(../img/icon-preload.svg);
	width: 45px;
	height: 45px;
	-webkit-animation-name: rotateIn;
	animation-name: rotateIn;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}
.arrows-arrive {
	background-image: url(../img/arrows-arrives.svg);
	width: 45px;
	height: 45px;
}
.arrow-arrive {
	background-image: url(../img/arrow-arrive.svg);
	width: 45px;
	height: 45px;
}
/* TABLE ARRIVE
=============== */
.table-arrive {
	margin: 10px 0;	
	width: 100%;
	overflow: hidden;
}
.table-arrive table {
	background: #FFFFFF;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
	border-radius: 3px;
	font-size: 13px;
	margin: 5px auto;
   /* overflow: hidden;*/
	text-align: center;
	width: 100%;
}

.table-arrive table thead {
	background-color: #F2F3F6;
	color: #55575F;
}
.table-arrive table thead a {
	color: #55575F;
	display: block;
	text-decoration: none;
	padding: 10px 8px;
}
.table-arrive table thead a:hover {
	background-color: #5E9AFC;
	color: #fff;
}
.table-arrive .bg-returning td,
.table-arrive .bg-leaving {
	color: #A1A6B4;
	font-weight: 500;
	padding: 0;
}
.bg-returning {
	background-color: #F1F1F1;
}
.bg-leaving {
	background-color: #F8F8F8;
}
.table-arrive table th,
.table-arrive table td {
	border: 1px solid #E5E6EB;
}
.table-arrive table td {
	color: #5E9AFC;
	/*padding: 15px 8px;*/
	width: 110px;
	height: 35px;
}
.table-arrive .leaving-returning {
	padding: 0;
	text-transform: uppercase;
}
.table-arrive .leaving-returning span {
	display: block;
}

.table-arrive .leaving-returning span:nth-child(2) {
	background-color: #F8F8F8;
}
.table-arrive .select-th,
.table-arrive .select-th a {
	background-color: #5E9AFC;
	color: #fff;
}
/* TICKET
================= */
.ticket {
	background: #FFFFFF;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
	border-radius: 3px;
	font-size: 13px;
	margin: 15px auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 300px;
}
.ticket .info-flight,
.ticket .ticket-detail {
	padding: 0;
}

.ticket ul {
	padding-left: 0;
	margin-bottom: 0;
}
.ticket ul li {
	list-style: none;
}
.ticket .info-flight li {
	display: inline-block;
}
.ticket .txt-airport-date ul li,
.ticket .txt-view-detail ul li {
	margin: 5px;
}
.ticket .txt-view-detail ul {
	border-bottom: 1px solid #E5E6EB; 
	min-height: 50px;
}
.ticket .txt-airport-date ul li:nth-child(1),
.ticket .txt-view-detail ul li:nth-child(1) {
	width: 25%;
}

.ticket .txt-airport-date ul li:nth-child(2),
.ticket .txt-view-detail ul li:nth-child(2) {
	width: 29%; 
}
/* txt-airport-date
=====*/
.ticket .txt-airport-date {
	border-bottom: 1px solid #E5E6EB;
	padding: 0 10px;
	width: 100%;
}
.ticket .txt-airport-date {
	background-color: #F2F3F6;
}

.ticket .txt-airport-date .leaving {
	color: #000;
	font-size: 12px;
	text-transform: uppercase;
}
.ticket .txt-airport-date .fly-day,
.ticket .txt-airport-date .description-airport {
	color: #5F6169;
	display: block;
	font-size: 11px;
	text-align: left;
}
.ticket .txt-airport-date .airport {
	color: #55575F;
	font-size: 20px;
	text-transform: uppercase;
}
/* txt-view-detail
======*/
.ticket .txt-view-detail {
	width: 100%;
}

.ticket .txt-view-detail .radio {
	padding-left: 10px;
}

.ticket .txt-view-detail .radio label {
	box-sizing: border-box;
    width: 100%;
}
.ticket .txt-view-detail .radio label input [type="radio"] {
	width: 100%;	
}
/* well ticket
================ */
.icon-arrow-airport {
	background-image: url(../img/icon-arrow-airport.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 18px;
	height: 15px;
	vertical-align: middle; 
}
.info-flight .txt-view-detail .well {
	border-radius: 0;
	margin-bottom: 0;
}
.info-flight .txt-view-detail .well .detail-title-flight {
	padding-left: 0;
	border-bottom: 0;
}
.info-flight .txt-view-detail .well .detail-title-flight li {
	display: inline-block;
}
.info-flight .txt-view-detail .well .detail-title-flight .title-text-from-to {
	font-size: 16px;
    font-weight: 700;
    color: #444;
    display: inline-block;
    width: 62%;
    line-height: 22px;
}
.info-flight .txt-view-detail .well .detail-title-flight
.title-text-from-to .airport-code{
	color: #bbb;
    font-size: 13px;
}
.info-flight .txt-view-detail .well .detail-title-flight
.title-text-total-duration {
	float: right;
    line-height: 22px;
}
.info-flight .txt-view-detail .well .detail-title-flight
.title-text-total-duration .title-duration{
	font-size: 11px;
    color: #888;
}
.info-flight .txt-view-detail .well .detail-title-flight
.title-text-total-duration .title-duration-time {
	font-size: 13px;
    font-weight: 700;
    color: #444;
}


.info-flight .txt-view-detail .well .detail-body-flight {
	background-color: #fff;
    padding: 0 10px 10px;
    border-bottom: 0;
    padding-top: 5px;
}

.info-flight .txt-view-detail .well .detail-body-flight
.airline-logo {
	display: block;
	font-size: 13px;
    padding: 5px;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    width: 100%;
}
.info-flight .txt-view-detail .well .detail-body-flight
.flight-detail-data {
	list-style: none;
	padding: 10px 0 10px 10px;
	overflow: hidden;
	width: 100%;
}

.info-flight .txt-view-detail .well .detail-body-flight
.flight-detail-data ul {
	padding-left: 0;
	border-bottom: 0;
}

.info-flight .txt-view-detail .well .detail-body-flight
.flight-detail-data .flight-detail-data-route {
	display: table;
    width: 58%;
    float: left;
}

.info-flight .txt-view-detail .well .detail-body-flight
.flight-detail-data .flight-detail-data-flight {
	list-style: none;
	width: 38%;
    float: left;
}

.info-flight .txt-view-detail .well
.detail-body-flight .flight-detail-data
.flight-detail-data-route div,
.info-flight .txt-view-detail .well
.detail-body-flight .flight-detail-data
.flight-detail-data-flight div {
	display: table-cell;
    vertical-align: top;
    width: 39%;
}

.info-flight .txt-view-detail .well .detail-body-flight
.flight-detail-data .flight-detail-data-route
.inline-detail-airport-date {
	font-size: 12px;
    display: block;
    margin-bottom: 10px;
}

.info-flight .txt-view-detail .well .detail-body-flight
.flight-detail-data .flight-detail-data-route
.arrow-airport {
	display: table-cell;
    vertical-align: middle;
    width: 7%;
    font-size: 16px;
    color: #888;
}
.info-flight .txt-view-detail .well .detail-body-flight
.flight-detail-data .flight-detail-data-route
.inline-detail-airport-date .inline-detail-airport-date-text {
	color:#999;
	font-size: 11px;
}
.info-flight .txt-view-detail
.well .detail-body-flight
.flight-detail-data .flight-detail-data-route
.inline-detail-airport-code-wrapper {
	font-size: 20px;
	display: block;
    letter-spacing: -1px;
    color: #AAA;
    font-weight: 700;
    margin-right: 5px;
}
.info-flight .txt-view-detail
.well .detail-body-flight
.flight-detail-data .flight-detail-data-route
.inline-detail-airport-code-wrapper
.inline-detail-airport-hour {
    color: #444;
}

.info-flight .txt-view-detail
.well .detail-body-flight
.flight-detail-data .flight-detail-data-route
.inline-detail-airport-code-wrapper
.days-difference {
	color: #FA564D;
	font-size: 10px;
    vertical-align: middle;
}
.info-flight .txt-view-detail
.well .detail-body-flight
.flight-detail-data .flight-detail-data-flight
.inline-detail-airport-description {
	display: block;
    font-size: 11px;
    color: #888;
}

.info-flight .txt-view-detail
.well .detail-body-flight
.flight-detail-data .flight-detail-data-flight
.box-airplane-name {
	display: inline-block;
    padding: 10px 0;
    background-color: #F5F5F5;
	border: 0;
    width: 100%;
    text-align: left;
    color: #666;
    margin-top: 10px;
    font-size: 11px;
}
.icon-airplane-name {
	background-image: url(../img/icon-airplane-name.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 33px;
	height: 15px;
	vertical-align: middle; 
}
.info-flight .txt-view-detail .well .detail-body-flight
.flight-detail-data .flight-detail-data-route
.inline-detail-airport-description {
	display: block;
    font-size: 11px;
    color: #666;
}

.info-flight .txt-view-detail .well .detail-body-flight
.flight-detail-data .flight-detail-data-flight
.inline-detail-flight-data-description {
	font-size: 14px;
    color: #666;
    font-weight: 700;
    display: block;
}
.info-flight .txt-view-detail .well .detail-body-flight
.flight-detail-data .flight-detail-data-flight div {
	width: 33%;
    text-align: center;
    float: left;
    min-height: 1px;
}
.info-flight .txt-view-detail .well .detail-body-flight .flight-detail-data
.flight-detail-data-flight .inline-detail-flight-data-title {
	font-size: 11px;
    color: #AAA;
    display: block;
    margin-bottom: 17px;
}
.info-flight .txt-view-detail .hour-of-flight {
	width: 11%!important;
}
.info-flight .txt-view-detail .hour-of-flight span {
	font-size: 18px;
	color: #616161;
	letter-spacing: 0px;
}
.stops-route {
	width: 14%;
}
.stops-route a {
	position: relative;
    color: #3B4D6D;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}
.stops-route .stop-txt {
	display: inline-block;
    position: absolute;
    top: -17px;
    left: 0;
    right: 0;
}
.stops-route .line-route {
	display: block;
    top: 4px;
    width: 50px;
    border-top: 2px solid #3B4D6D;
    position: relative;	
}
.stops-route .circle {
	background-color: #fff;
    border: 2px solid #3B4D6D;
    bottom: -5px;
    margin-left: -4.5px;
    height: 4px;
    position: absolute;
    width: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.left-circle {
	left: 0;
}
.right-circle {
	right: 0;
}
.info-flight .txt-view-detail .time {
	width: 10%;
}

.info-flight .txt-view-detail .detail {
	width: 11%;
	text-transform: uppercase;
	text-align: center;
}

.info-flight .txt-view-detail .detail a {
	text-decoration: none;
	cursor: pointer;
}
.icon-fly {
	background-image: url(../img/icon-fly.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 40px;
	height: 35px;
	vertical-align: middle;
}
.icon-fly-vuelta {
	background-image: url(../img/icon-fly-vuelta.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 40px;
	height: 35px;
	vertical-align: middle;
}
/* MODAL BODY TICKET
=========== */

.info-flight .modal-body .well {
	background-color: transparent;
	border: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.link-detail-desktop {
	display: inline-block;
}
.link-detail-mobile {
	display: none;
}
.icon-close-modal {
	background-image: url(../img/icon-close-modal.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 40px;
	height: 35px;
	vertical-align: middle;
}
/* ticket-detail
=====*/
.ticket-detail {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: #3B4D6D;	
}

.ticket-detail .box-share {
	text-align: right;
	padding: 0 10px;
}
.ticket-detail .last-ticket-available {
	display: block;
    background-color: #fac64d;
    color: #fff;
    padding: 5px 25px;
    margin: 10px 0 0 -9px;
    text-align: left;
    width: 100%;
}

.ticket-detail .last-ticket-available .info-ticket-avaible {
	display: inline-block;
	vertical-align: middle;	
}
.icon-alert-ticket {
	background-image: url(../img/icon-alert-ticket.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 32px;
	height: 15px;
	vertical-align: middle;
}
.icon-mail {
	background-image: url(../img/icon-mail.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 30px;
	height: 25px;
	vertical-align: middle;
}
.icon-heart {
	background-image: url(../img/icon-heart.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 30px;
	height: 35px;
	vertical-align: middle;	
}
.ticket-detail .title {
	color: #fff;
	display: block;
	padding: 8px 5px;
	text-align: center;
}
.ticket-detail .price {
	color: #fff;
	display: block;
	text-align: center;
	font-size: 27px;
	color: #FFFFFF;
	letter-spacing: 0px;
}
.ticket-detail .detail-price {
	color: #fff;
	font-size: 12px;
	margin: 5px auto;
	width: 80%;
}
.ticket-detail .detail-price hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.ticket-detail .item-detail {
	max-width: 50%;
    text-align: left;
}
.ticket-detail .item-price {
	float: right;
}
.box-ticket-submit {
	margin-bottom: 10px;
}
.btn-ticket {
	background: #FA564D;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
	border-radius: 2px;
	color: #FFFFFF;
	font-size: 18px;
	width: 80%;
	transition: all .5s;
}

.btn-ticket:hover {
	box-shadow: none;
	color: #fff;
	opacity: .8;
}
/* media
=================================== */

@media screen and (max-width: 992px) {
	.ticket-detail {
		position: static;
	}

	.ticket .info-flight {
		margin-right: 0;
	    display: table-row;
	    width: 100%;
	    position: relative;
	    vertical-align: top;
	}
	.ticket .ticket-detail {
		width: 100%;
	    position: relative;
	    padding: 0;
	    display: table-header-group;
	}
}

@media screen and (max-width: 768px) {
	.table-arrive {
		display: none;
	}
	.btn-search-mobile {
		display: block;
		width: 100%;
	}	
}
@media screen and (min-width: 769px) {
	#collapseSearchMobile {
		display: block;
	}
	.btn-search-mobile {
		display: none;
	}
}

@media screen and (max-width: 600px){
	.link-detail-desktop {
		display: none;
	}
	.link-detail-mobile {
		display: inline-block;
		margin-right: 15px;
	}
	/* MODAL BODY TICKET
	=========== */
	.info-flight .modal-body .title-text-from-to,
	.info-flight .modal-body .well .title-text-total-duration,
	.info-flight .modal-body .well .detail-title-flight .title-text-from-to {
		width: 100%;
		float: none!important;
	}
	.info-flight .txt-view-detail .detail {
		text-align: right;
		width: 100%;
	}
	.info-flight .modal-body .well .detail-body-flight
	.flight-detail-data .flight-detail-data-route,
	.info-flight .modal-body .well .detail-body-flight
	.flight-detail-data .flight-detail-data-flight {
		width: 100%;
		margin-top: 15px;
	}
	.info-flight .modal-body .well .detail-body-flight
	.flight-detail-data .flight-detail-data-flight div {
		border: 1px solid #eee;
	}
	.info-flight .modal-body .well .detail-body-flight .flight-detail-data
	.flight-detail-data-flight .inline-detail-flight-data-title {
		border-bottom: 1px solid #eee;
	}
	/* SELECT2 MOBILE
	============= */
	.select2-container--default {
    	width: 100%!important;
	}


}
@media screen and (max-width: 768px){
	/* header
	=============== */
	.navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.headerpayment .navbar-brand {
		padding: 10px;
	}

	.btn-search-mobile .txt-calendar-mobile {
		text-overflow: ellipsis;
		width: 65px;
		overflow: hidden;
		display: inline-block;
	}
}
