.version.index {
	color: #000000;
	background-color: #EC37A9;
}

#page {
	background-color: #F6F6F6;
	border-width: 0px;
	background-image: none;
	margin-right: auto;
	width: 100%;
	border-color: #000000;
	margin-left: auto;
	z-index: 1;
}

#u321 {
	position: relative;
	z-index: 2;
}

#u324-4 {
	font-family: open-sans, sans-serif;
	min-height: 47px;
	z-index: 3;
	background-color: transparent;
	font-weight: 300;
	font-size: 24px;
	position: relative;
	line-height: 29px;
}

#u325-4 {
	font-family: open-sans, sans-serif;
	min-height: 81px;
	z-index: 7;
	background-color: transparent;
	font-weight: 300;
	text-align: justify;
	color: #656565;
	position: relative;
}

#u326 {
	border-radius: 7px 7px 0px 0px;
	z-index: 11;
	background-color: #FFFFFF;
	border-style: solid;
	width: 100%;
	border-color: #F6F6F6;
	position: relative;
	border-width: 0px 0px 1px;
}

.u327-5 {
	font-family: open-sans, sans-serif;
	line-height: 19px;
	z-index: 12;
	margin-right: -10000px;
	background-color: transparent;
	font-weight: 400;
	font-size: 16px;
	position: relative;
	text-indent: 20px;
}

#u328-4 {
	background-color: transparent;
	z-index: 17;
	color: #656565;
	position: relative;
	text-indent: 10px;
	margin-right: -10000px;
}

.u329 {
	border-radius: 0px 0px 7px 7px;
	z-index: 21;
	background-color: #FFFFFF;
	border-style: solid;
	width: 100%;
	border-color: #F6F6F6;
	position: relative;
	border-width: 2px 0px 0px;
}

.u330-4 {
	line-height: 22px;
	z-index: 22;
	margin-right: -10000px;
	background-color: transparent;
	font-size: 18px;
	color: #656565;
	position: relative;
	text-indent: 30px;
}

.u1462 {
	border-radius: 7px 7px 0px 0px;
	z-index: 45;
	background-color: #FFFFFF;
	border-style: solid;
	width: 100%;
	border-color: #F6F6F6;
	position: relative;
	border-width: 0px 0px 1px;
}

#u1463-5 {
	font-family: open-sans, sans-serif;
	line-height: 19px;
	z-index: 46;
	margin-right: -10000px;
	background-color: transparent;
	font-weight: 400;
	font-size: 16px;
	position: relative;
	text-indent: 20px;
}

#u327-2, #u1463-2 {
	color: #656565;
}

#u1464-4 {
	background-color: transparent;
	z-index: 51;
	color: #656565;
	position: relative;
	text-indent: 10px;
	margin-right: -10000px;
}

#u1465 {
	border-radius: 0px 0px 7px 7px;
	z-index: 55;
	background-color: #FFFFFF;
	border-style: solid;
	width: 100%;
	border-color: #F6F6F6;
	position: relative;
	border-width: 2px 0px 0px;
}

#u1466-4 {
	line-height: 22px;
	z-index: 56;
	margin-right: -10000px;
	background-color: transparent;
	font-size: 18px;
	color: #656565;
	position: relative;
	text-indent: 30px;
}

.u327-3, .u328-2, .u330-2, .u1463-3, .u1464-2, .u1466-2 {
	padding-top: 15px;
}

#u760 {
	border-color: #2E3192;
	background-color: #4D4DFE;
	border-width: 1px;
	margin-right: -10000px;
	border-style: solid;
	border-radius: 4px;
	position: relative;
	z-index: 31;
}

#u757-4 {
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	z-index: 27;
	min-height: 14px;
}

#u770 {
	border-color: #FF0000;
	background-color: #FF4E54;
	border-width: 1px;
	margin-right: -10000px;
	border-style: solid;
	border-radius: 4px;
	position: relative;
	z-index: 41;
}

#u769-4 {
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	z-index: 37;
	min-height: 14px;
}

#u764 {
	border-color: #E6E6E6;
	background-color: #FFFFFF;
	border-width: 1px;
	margin-right: -10000px;
	border-style: solid;
	border-radius: 4px;
	position: relative;
	z-index: 36;
}

#u763-4 {
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	z-index: 32;
	min-height: 14px;
}

#u360 {
	position: relative;
	z-index: 26;
}

#u791 {
	filter: alpha(opacity = 100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	z-index: 42;
	position: relative;
	height: 222px;
	background-size: contain;
}

#u797 {
	filter: alpha(opacity = 100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	z-index: 43;
	position: relative;
	height: 634px;
	background-size: contain;
}

#u800 {
	filter: alpha(opacity = 100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	z-index: 44;
	position: relative;
	height: 79px;  
	background-size: contain;
}

.html {
	background-color: #FFFFFF;
}

body {
	position: relative;
}

@media ( min-width : 851px) , print {
	#muse_css_mq {
		background-color: #FFFFFF;
	}
	#bp_infinity.active {
		display: block;
	}
	#page {
		min-height: 914px;
		padding-bottom: 62px;
		max-width: 1050px;
	}
	#pu321 {
		z-index: 2;
		margin-right: -10000px;
		margin-top: 62px;
		width: 55.62%;
	}
	#u321 {
		margin-right: -10000px;
		width: 100%;
		left: 0%;
		margin-left: 2.57%;
	}
	.ie #u321 {
		background-color: #FFFFFF;
		opacity: 0.01;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
		filter: alpha(opacity = 1);
		left: 0%;
		margin-left: 2.57%;
	}
	#u321 .fluid_height_spacer {
		padding-bottom: 161.13013698630135%;
	}
	#u324-4 {
		margin-right: -10000px;
		width: 64.22%;
		left: 0px;
		margin-left: 15px;
	}
	#u325-4 {
		margin-right: -10000px;
		margin-top: 47px;
		width: 100%;
		left: 0px;
		margin-left: 15px;
	}
	#u326 {
		margin-right: -10000px;
		margin-top: 144px;
		left: 0%;
		margin-left: 2.57%;
	}
	.u327-5 {
		min-height: 61px;
		margin-top: 150px;
		width: 23.29%;
		left: 12px;
		margin-left: 15px;
	}
	#u328-4 {
		min-height: 61px;
		margin-top: 150px;
		width: 63.36%;
		left: 148px;
		margin-left: 15px;
	}
	.u329 {
		margin-right: -10000px;
		/*margin-top: 216px;*/
		left: 0%;
		margin-left: 2.57%;
	}
	.u330-4 {
		min-height: 64px;
		/*margin-top: 222px;*/
		width: 96.24%;
		left: 2.06%;
		margin-left: 2.57%;
	}
	.u1462 {
		margin-right: -10000px;
		margin-top: 314px;
		left: 0%;
		margin-left: 2.57%;
	}
	#u326 .fluid_height_spacer, .u1462 .fluid_height_spacer {
		padding-bottom: 12.5%;
	}
	#u1463-5 {
		min-height: 61px;
		margin-top: 320px;
		width: 23.29%;
		left: 12px;
		margin-left: 15px;
	}
	#u1464-4 {
		min-height: 61px;
		margin-top: 320px;
		width: 63.36%;
		left: 148px;
		margin-left: 15px;
	}
	#u1465 {
		margin-right: -10000px;
		margin-top: 386px;
		left: 0%;
		margin-left: 2.57%;
	}
	.u329 .fluid_height_spacer, #u1465 .fluid_height_spacer {
		padding-bottom: 12.67123287671233%;
	}
	#u1466-4 {
		min-height: 64px;
		margin-top: 392px;
		width: 96.24%;
		left: 2.06%;
		margin-left: 2.57%;
	}
	#pu360 {
		z-index: 26;
		margin-right: -10000px;
		margin-top: 62px;
		width: 41.53%;
		margin-left: 57.05%;
	}
	#u360 {
		margin-right: -10000px;
		width: 100%;
	}
	.ie #u360 {
		background-color: #FFFFFF;
		opacity: 0.01;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
		filter: alpha(opacity = 1);
	}
	#u360 .fluid_height_spacer {
		padding-bottom: 215.8256880733945%;
	}
	#u757-4 {
		margin-top: 17px;
		width: 87.85%;
		left: 7.8%;
	}
	#u760 {
		margin-top: 17px;
		width: 3.22%;
		left: 2.99%;
	}
	#u763-4 {
		margin-top: 77px;
		width: 87.85%;
		left: 7.8%;
	}
	#u764 {
		margin-top: 77px;
		width: 3.22%;
		left: 2.99%;
	}
	#u769-4 {
		margin-top: 47px;
		width: 87.85%;
		left: 7.8%;
	}
	#u770 {
		margin-top: 47px;
		width: 3.22%;
		left: 2.99%;
	}
	#u760 .fluid_height_spacer, #u764 .fluid_height_spacer, #u770 .fluid_height_spacer
		{
		padding-bottom: 92.85714285714286%;
	}
	#u791 {
		margin-right: -10000px;
		margin-top: 6px;
		width: 90.83%;
		left: 4.59%;
	}
	#u797 {
		margin-right: -10000px;
		margin-top: 228px;
		width: 92.21%;
		left: 4.13%;
	}
	#u800 {
		margin-right: -10000px;
		margin-top: 862px;
		width: 91.75%;
		left: 4.13%;
	}
}

@media ( max-width : 850px) {
	#muse_css_mq {
		background-color: #000352;
	}
	#bp_850.active {
		display: block;
	}
	#page {
		min-height: 1496px;
		padding-top: 62px;
		padding-bottom: 63px;
		max-width: 850px;
	}
	#u321 {
		background-color: transparent;
		width: 96.48%;
		margin-left: 1.77%;
	}
	#u321_position_content {
		padding-bottom: 28px;
		width: 100%;
	}
	#u324-4 {
		width: 81.1%;
	}
	#u325-4 {
		width: 98.79%;
	}
	#u326 {
		padding-bottom: 5px;
		margin-top: 16px;
	}
	.u330-4 {
		min-height: 49px;
		margin-top: 5px;
		width: 76.71%;
		left: 1.71%;
	}
	.u1462 {
		padding-bottom: 5px;
		margin-top: 45px;
	}
	.u327-5, .u1463-5 {
		width: 129px;
		min-height: 48px;
		margin-top: 6px;
		left: 13px;
	}
	#u328-4, #u1464-4 {
		min-height: 48px;
		margin-top: 6px;
		left: 152px;
		width: 52.44%;
	}
	.u329, .u1465 {
		padding-bottom: 6px;
		top: -2px;
		margin-bottom: -2px;
	}
	#u1466-4 {
		min-height: 49px;
		margin-top: 5px;
		left: 14px;
		width: 76.71%;
	}
	#pu760 {
		z-index: 31;
		margin-left: 25px;
		margin-top: 17px;
		width: 38.48%;
	}
	#pu770 {
		z-index: 41;
		margin-left: 25px;
		margin-top: 13px;
		width: 38.48%;
	}
	#pu764 {
		z-index: 36;
		margin-left: 25px;
		margin-top: 13px;
		width: 38.48%;
	}
	#u760, #u770, #u764 {
		width: 3.37%;
	}
	#u760 .fluid_height_spacer, #u770 .fluid_height_spacer, #u764 .fluid_height_spacer
		{
		padding-bottom: 90.9090909090909%;
	}
	#u757-4, #u769-4, #u763-4 {
		left: 17px;
		width: 94.81%;
	}
	#u360 {
		background-color: transparent;
		margin-top: 10px;
		width: 96.48%;
		margin-left: 1.77%;
	}
	#u791 {
		width: 321px;
		margin-left: 50%;
		left: -163px;
	}
	#u797 {
		width: 325px;
		margin-left: 50%;
		left: -163px;
	}
	#u800 {
		width: 324px;
		margin-left: 50%;
		left: -163px;
	}
	body {
		overflow-x: hidden;
		min-width: 320px;
		padding-bottom: 1px;
	}
}