/* GENERAL
================= */
.headerpayment {
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	background-image: none;
	background-color: #002269;
	min-height: 70px;
}
.footerpayment {
	background-color: #002269;
	color: #fff;
}

.footerpayment p,
.footerpayment ul {
	padding-top: 35px;
	padding-bottom: 35px;
}

.footerpayment ul {
	padding-left: 0;
}

.footerpayment ul li:first-child {
	border-right: 1px solid #fff;
}
.footerpayment ul li {
	display: inline-block;
	list-style: none;
	padding:0 10px;
}
.footerpayment ul li a {
	color: #fff;
	text-decoration: none;
}
.alert-info-payment {
	color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.btn-border-color-travel {
	border-color: #428BCA;
	color: #428BCA;
	font-size: 17px;
	padding: 10px 15px;
}
.btn-border-color-travel:hover {
	background-color: #428BCA;
	color: #fff; 
}
.icon-confirm-path {
	background-image: url("../img/icon-confirm-path.svg");
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.icon-glasses {
	background-image: url("../img/icon-glasses.svg");
	width: 23px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}
.icon-arrow-from {
	background-image: url("../img/icon-arrow-from.svg");
    background-repeat: no-repeat;
    background-position: 75px 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.icon-arrow-payment[aria-expanded="false"] {
	background-image: url("../img/icon-arrow-payment.svg");
    background-repeat: no-repeat;
    background-position: center right 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.icon-arrow-payment[aria-expanded="true"] {
	background-image: url("../img/icon-arrow-payment-up.svg");
    background-repeat: no-repeat;
    background-position: center right 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
/* HEADER
================= */
.headerpayment .btn-secondary-travel {
	color: #fff;
	border-color: #fff;
	margin-top: 15px;
}

.headerpayment .btn-secondary-travel:hover {
	color: #002269;
	background-color: #fff;
}
/* body help modal and modal session expired
=========================================== */
.body-answer-question ul {
	padding-left: 0;
	margin-top: 10px;
}
.body-answer-question ul li {
	list-style: none;
}
.body-answer-question ul li a {
	width: 100%;
	text-align: left;
}
.body-answer-question ul li a[aria-expanded="true"] {
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
	border-radius: 0;
	color: #428BCA;
}
.info-help {
	padding: 0 10px 30px 15px;
    color: #999;
}

.info-help strong {
	font-weight: 400;
	color: #333;
}
.body-answer-question .collapse {
	border: 1px solid #ddd;
}
.body-answer-question p {
	color: #999999;
	font-size: 15px;
	padding: 12px;
	margin-bottom: 0;
}
.body-answer-question .about-answer {
	border-top: 1px solid #ddd;
	color: #999999;
	font-size: 15px;
	padding: 20px 12px;
	margin-bottom: 0; 
}
.body-answer-question .btn-secondary-travel {
	border-color: #428BCA;
	color: #428BCA;
	margin-left: 10px;
}

.body-answer-question .btn-secondary-travel:hover {
	background-color: #428BCA;
	color: #fff;
}
.expired-session-flight  {
	color: #444444;
}
.expired-session-flight h4 {
	font-size: 23px;
}
.expired-session-flight p {
	padding: 15px 0;
}
.expired-session-flight ul {
	padding-left: 0;
}
.expired-session-flight ul li {
	line-height: 2;
	list-style: none;
}
.expired-session-flight .name-flight {
	font-weight: bold;
}
.expired-session-flight .modal-footer {
	border-top: 0;
	text-align: center;
}
.expired-session-flight .modal-footer .btn-search {
    width: 240px;
    padding: 16px 37px;
    margin-bottom: 20px;
}
.link-new-looking-for {
    display: inline-block;
    font-size: 15px;
    width: 240px;
    padding: 16px 37px;
    margin-top: 20px;
    margin-bottom: 20px;
	vertical-align: middle;
	text-decoration: underline;
}
/* PATH
================= */

.bg-path {
	background-color: #fff;
	height: 120px;
	padding-top: 30px;
}
.general-path {
	padding-left: 0;
	width: 351px;
    margin: 0 auto;
    position: relative;
}

.general-path li {
	display: inline-block;
	text-align: center;
}
.circle-path {
	width: 35px;
	height: 35px;
    border: 2px solid #428BCA;
    border-radius: 20px;
    color: #428BCA;
    display: inline-block;
    text-align: center;
    line-height: 2.3;
}
.bg-circle-path {
	background-color: #428BCA;
	color: #fff;
}
.name-path {
	color: #428BCA;
	display: block;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
}
.general-path li:nth-child(1) .name-path {
	left: -20px;
}
.general-path li:nth-child(2) .name-path {
	left: 0;
	right: 0;
}
.general-path li:nth-child(3) .name-path {
	right: 0;
}
.line-path::after,
.line-path::before {
	content: "";
	width: 124px;
    height: 2px;
    display: inline-block;
    vertical-align: middle;
    margin-left: -5px;
    margin-right: -5px;
    background: #428BCA;
}
.icon-checked-path {	
	background-image: url("../img/icon-checked-path.svg");
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
}

/* PATH-2 PASSENGER
=========== */

.payment-path {
	padding-top: 30px;
	padding-bottom: 30px;
}
h2 {
	color: #333333;
	font-size: 26px;
	padding: 0 15px 30px 15px;
	margin: 0;
}

.box-info-payment {
	border-radius: 5px;
	background-color: #FFFFFF;
	margin-bottom: 15px;
	overflow: hidden;
}
.head-payment {
	border-bottom: 1px solid #eee;
	padding: 20px 30px;
}
.title-payment {
	color: #333333;
	font-size: 18px;
	font-weight: 600;
	margin: 0;
}
.detail-title {
	color: #999999;
	font-size: 18px;
	font-weight: 300;
}
.body-payment {
	padding: 20px 30px;
}
.body-payment .form-group {
	color: #666;
	padding-left: 0;
	margin-top: 15px;
}

.body-payment .form-group label {
	padding-left: 0;
	font-size: 15px;
    font-weight: normal;
}
.body-payment input[type="radio"] {
	margin-right: 5px;
}

.body-payment input[type="text"],
.body-payment input[type="email"],
.body-payment input[type="tel"],
.body-payment input[type="date"],
.body-payment select {
	border:1px solid #eee;
	margin-top: 10px;
	height: 50px;
}
.term-and-condition {
	color: #666666;
	font-size: 12px;
}
.term-and-condition p {
	color: #444444;
	font-weight: 600;
}

.term-and-condition a {
	color: #5C9BD2;
	text-decoration: underline;
}
.term-and-condition .underline-text {
	color: #444444;
}
.term-and-condition li {
	line-height: 2.2;
}
.more-term-and-condition {
	list-style: none;
	margin-top: 15px;
}
.body-payment .checkbox-term-and-condition label {
	font-weight: bold;
}
.payment-path .btn-search {
	width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}
/* detail-fly-payment
==================== */
.detail-fly-payment {
	padding: 0;
}
.detail-fly-payment ul {
	padding-left: 0;
	margin-bottom: 0;
}

.detail-fly-payment ul li {
	list-style: none;
}

.detail-fly-payment ul li a,
.detail-fly-payment ul li a:hover,
.detail-fly-payment ul li a[aria-expanded="true"] {
	width: 100%;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    text-align: left;
}
.detail-fly-payment .title-payment {
	font-size: 16px;
}
.detail-fly-payment .date-fly-payment {
	color: #999999;
	font-size: 13px;
	font-weight: normal;
}
.detail-fly-payment #detailFlyTo,
.detail-fly-payment #detailFlyFrom {
	border-bottom: 1px solid #eee;
	padding: 15px;
}
.detail-fly-payment ul li a[aria-expanded="false"] {
	border-bottom: 1px solid #eee!important;
}

.detail-fly-payment ul li a[aria-expanded="true"] {
	border-bottom: 2px dotted #eee!important;
}
/* scale
========== */
.detail-fly-payment .name-passenger .name,
.detail-fly-payment .name-passenger .last-name,
.detail-fly-payment .time .to-time,
.detail-fly-payment .scale {
	display: block;
	text-align: center;
}
.detail-fly-payment .name-passenger {
	padding-top: 20px;
	padding-bottom: 20px;
}
.detail-fly-payment .name-passenger .name {
	color: #444444;
	font-size: 15px;
}
.detail-fly-payment .name-passenger .last-name {
	color: #999999;
	font-size: 13px;
}
.detail-fly-payment .scale {
	line-height: 2.7;
}
.point-scale {
	border: 2px solid #999;
	border-radius: 15px;
	display: inline-block;
	width: 12px;
	height: 12px;
}
.point-scale::after {
	content: "";
	width: 2px;
	height: 17px;
	background-color: #999;
	display: block;
	text-align: center;
    margin: 0px auto;
    margin-top: 10px;

}
.point-scale::before {
	content: "";
	width: 2px;
	height: 17px;
	background-color: #999;
	display: block;
	text-align: center;
    margin: 0px auto;
    margin-top: -19px;
}
.detail-fly-payment .scale .number-of-scale,
.detail-fly-payment .scale .duration-of-fly {
	color: #999999;
	font-size: 11px;
	margin: 0 10px;
}
.detail-fly-payment .time {
	padding-top: 10px;
	padding-bottom: 10px;
}
.detail-fly-payment .time .to-time {
	color: #444444;
	font-size: 24px;	
}
/* payment table detail
=========== */
.detail-payment-table {
	width: 100%;
}
.detail-payment-table thead {
	border-bottom: 2px dotted #eee;
}
.detail-payment-table th {
	color: #999999;
	font-size: 12px;
    font-weight: normal;
	padding-top: 20px;
	padding-bottom: 20px;
}
.detail-payment-table th:first-child {
	width: 30px;
}
.detail-payment-table td {
	color: #4A4A4A;
	font-size: 15px;
	padding-top: 20px;
    padding-bottom: 20px;
}
.total-payment ul {
	margin-bottom: 0;
	padding: 0 10px;
	position: relative;
}
.total-payment ul li {
	color: #fff;
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	list-style: none;
}
.total-payment ul li:first-child {
	margin-left: 20px;
}
.total-payment ul li:last-child {
	position: absolute;
	right: 20px;
}
.txt-payment-table-mark {
	font-weight: bold;
}
.total-payment {
	background-color: #2F313A;
	padding-top: 20px;
	padding-bottom: 20px;
}
/* detail fly confirm
===================== */
.confirm-fly-table th {
	color: #666;
	font-weight: bold;
	text-transform: uppercase;
}
.confirm-fly-table td {
	color: #666;
	padding-top: 15px;
	padding-bottom: 15px;
}
.confirm-fly-table .name-company-fly {
    font-size: 12px;
}
/* add-for-your-travel
===================== */
.add-for-your-travel {
	padding-top: 60px;
}
.add-for-your-travel .box-info-payment {
	display: block;
	text-decoration: none;
	transition: all .5s;
}
.add-for-your-travel .box-info-payment:hover {
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
}
.add-for-your-travel h3 {
	margin: 0;
}
.add-for-your-travel h3 img {
	margin-right: 10px;
}
.add-for-your-travel p {
	color: #333;
}
/* box-detail-fly-confirm
====================== */
.box-detail-fly-confirm {
	padding-left: 0;
}
.box-detail-fly-confirm li {
	list-style: none;
	line-height: 2;
	position: relative;
}
.box-detail-fly-confirm li span {
	color: #666666;
	font-size: 14px;
}
.box-detail-fly-confirm .name-detail-fly {
	font-weight: bold;
}

.box-detail-fly-confirm .num-detail-fly {
	position: absolute;
	right: 0;
}
/* box-continue
=================== */
.box-continue {
	padding-top: 100px;
	padding-bottom: 100px;
}

@media screen and (min-width: 768px) {
	.headerpayment .navbar-brand {
		padding-left: 0;
	}

}

@media screen and (max-width: 768px) {
	.headerpayment .btn-secondary-travel {
		width: 100%;
	}
	h2 {
		text-align: center;
	}
	.payment-path .btn-search {
		margin-bottom:	15px;
		width: 100%; 
	}
}
/* modal-air-rules
=================== */
.modal-air-rules .air-rules-msg-title {
	padding-bottom: 10px;
}
.modal-air-rules .air-rules-msg {
}

.modal-air-rules .air-rules-box-title {
	font-weight: bold;
	padding-top: 20px;
	font-size: 15px;
}

.modal-air-rules .air-rules-box {
	overflow-y: scroll;
	height:400px;
	border: 1px solid #ddd;
	padding: 5px;
}

.modal-air-rules .air-rules-code {
	font-weight: bold;
	font-size: 15px;
}
.modal-air-rules .air-rules-title {
	font-weight: bold;
	font-size: 12px;
	padding: 0px 12px;
}
.modal-air-rules .air-rules-text {
	font-size: 12px;
	color: #999999;
	padding: 0px 12px;
	margin-bottom: 0;
}
