#{extends 'main.html' /}
#{set title:'Confirmation' /}

#{set isAgencyHeader: false /}
<section class="bg-path">
    <article class="container-fluid">
        <div class="row">
            <ul class="general-path">
                <li>
                    <span class="circle-path icon-checked-path"></span>
                    <span class="name-path">búsqueda</span>
                </li>
                <li class="line-path">
                    <span class="circle-path icon-checked-path"></span>
                    <span class="name-path">pasajeros</span>
                </li>
                <li>
                    <span class="circle-path icon-checked-path"></span>
                    <span class="name-path">pago</span>
                </li>
            </ul>
        </div>
    </article>
</section>
<section class="search-arrive payment-path">
    <article class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert"><i class="icon-confirm-path"></i>Felicitaciónes <strong>${bookingConfirmationResult.order.name?.getAsString()}</strong>, tu vuelo ha sido confirmado!! </div>
            </div>
            <div class="col-md-8">
                <div class="box-info-payment">
                    <div class="head-payment">
                        <h3 class="title-payment">Detalle de tu vuelo</h3>
                    </div>
                    #{confirmation.flightDetail flights:bookingConfirmationResult.flights/}
                </div>
                *{<div class="add-for-your-travel">}*
                    *{<h2 class="title-payment">Agregá valor a tu viaje</h2>}*
                    *{#{confirmation.asisstCardBox /}}*
                    *{#{confirmation.rentCarBox /}}*
                *{</div>}*
            </div>
            <div class="col-md-4">
                #{confirmation.paymentDetailBox order: bookingConfirmationResult.order /}
            </div>
            <div class="col-md-12 text-center box-continue">
                <button class="btn btn-secondary-travel btn-border-color-travel">continuar</button>
            </div>
        </div>
    </article>    
</section>

#{modalNeadHelp /}

#{set isAgencyFooter: false /}