<div class="box-filter">
    <div class="header-filter">
        <h3>Aerolíneas<i class="arrow-down"></i></h3>
    </div>
    <div class="body-filter">

        <div class="checkbox">
            <label>
                <input id="clearCarriersFilter" type="checkbox" checked> Todas las aerolíneas
            </label>
            <div class="box-number selected-box"><span>34</span></div>
        </div>

    #{list items:_carriers.keySet(), as:'carriersKey'}
        <div class="checkbox">
            <label>
                <input type="checkbox" name="includedcarriers" value="${carriersKey}">
                <img src="public/img/lan.jpg" title="" alt=""><span class="txt-checkbox"> ${carriersKey}</span>
            </label>
            <div class="box-number"><span>${_carriers.get(carriersKey)}</span></div>
        </div>
    #{/list}

    </div>
</div>