
<div class="box-filter" id="carriersFilter">
    <div class="header-filter">
        <h3>Aerolíneas<i class="arrow-down"></i></h3>
    </div>
    <div class="body-filter">

        <div class="checkbox">
            <label>
                <input id="clearCarriersFilter" type="checkbox" checked> Todas las aerolíneas
            </label>
			%{
				def totalResults=0;
				_carriers.each{ k, v -> totalResults=totalResults + v }
			}%
            <div class="box-number selected-box"><span>${totalResults}</span></div>
        </div>

    #{list items:_carriers.keySet(), as:'carriersKey'}
        <div class="checkbox">
            <label>
                <input class="chkAerolinea" type="checkbox" name="includedcarriers" value="${carriersKey}" checked="checked">
                #{airlineLogo carriersCode:carriersKey, carriersName: _carriersNames.get(carriersKey) /}
                <span class="txt-checkbox"> ${_carriersNames.get(carriersKey)}</span>
            </label>
            <div class="box-number"><span>${_carriers.get(carriersKey)}</span></div>
        </div>
    #{/list}

    </div>
</div>

<script>

function createFilter(){
	$('.filter').click(function() {
		$(this).remove();
		
	});
}
$(document).ready(function() {
	
	$('.chkAerolinea').change(function() {
        if(!$(this).is(":checked")) {
        	$("div").find("[data-airline='" +  $(this).val() + "']").hide();
        	$('#clearCarriersFilter').prop('checked', false);
        	$("div").find("[data-filtervalue='" + "\""+ $(this).val() +"\"" + "']").remove();
        }
        else {
        	$("div").find("[data-airline='" + $(this).val()  + "']").show();
        	$("#activeFilters").append('<div style="margin: 10px;" class="box-active-filter filter" data-filtervalue="'+ $(this).val()+'"><span class="txt-filter-activer">'+$(this).val()+'</span><i class="icon-close-filter"></i></div>');
        }
        checkEmptyFilterResult();
    });
	
	$('#clearCarriersFilter').change(function() {
        if($(this).is(":checked")) {
        	$(".ticketBaxer").show();
        	$('.chkAerolinea').prop('checked', true);
        }
        else {
        	$(".ticketBaxer").hide();
        	$('.chkAerolinea').prop('checked', false);
        }
        checkEmptyFilterResult();
    });
	
});
</script>