<div class="box-filter">
    <div class="header-filter">
        <h3>Aerolíneas<i class="arrow-down"></i></h3>
    </div>
    <div class="body-filter">

        <div class="checkbox">
            <label>
                <input id="clearCarriersFilter" type="checkbox" checked> Todas las aerolíneas
            </label>
            <div class="box-number selected-box"><span>${_carriers.size()}</span></div>
        </div>

    #{list items:_carriers.keySet(), as:'carriersKey'}
        <div class="checkbox">
            <label>
                <input class="chkAerolinea" type="checkbox" name="includedcarriers" value="${carriersKey}" checked="checked">
                #{airlineLogo carriersCode:carriersKey, carriersName: _carriersNames.get(carriersKey) /}
                <span class="txt-checkbox"> ${_carriersNames.get(carriersKey)}</span>
            </label>
            <div class="box-number"><span>${_carriers.get(carriersKey)}</span></div>
        </div>
    #{/list}

    </div>
</div>

<script>

$(document).ready(function() {
	
	$('.chkAerolinea').change(function() {
        if(!$(this).is(":checked")) {
        	$("div").find("[data-airline='" + "\""+ $(this).val() +"\"" + "']").hide();
        	$('#clearCarriersFilter').prop('checked', false);
        }
        else {
        	$("div").find("[data-airline='" + "\""+ $(this).val() +"\"" + "']").show();
        }
    });
	
	$('#clearCarriersFilter').change(function() {
        if($(this).is(":checked")) {
        	$(".ticketBaxer").show();
        	$('.chkAerolinea').prop('checked', true);
        }
        else {
        	$(".ticketBaxer").hide();
        	$('.chkAerolinea').prop('checked', false);
        }
    });
	
});
</script>