<div class="box-filter price-filter">
    <div class="header-filter">
        <h3>Precio<i class="arrow-down"></i></h3>
    </div>
    <div class="body-filter">

        <div class="checkbox">
            <strong class="price-number-left price-range-slider-start-label" id="leftPriceRange"></strong>
            <strong class="price-number-right price-range-slider-end-label" id="rightPriceRange"></strong>
            <div class="price-range-slider"></div>

            <div class="btn-filter">
                <a href="#" class="btn btn-search" id="aplFiltersPrice">Aplicar filtros</a>
            </div>

        </div>

    </div>
</div>

<script>

$(document).ready(function() {
	
	$('#aplFiltersPrice').click(function() {
        var leftPrice = parseInt($("#leftPriceRange").html().substring(1));
        var rightPrice = parseInt($("#rightPriceRange").html().substring(1));

        $(".ticketBaxer").each(function( index ) {
        	var price = parseInt($(this).data("price"))
        	if (price<=rightPrice && price>=leftPrice ) {
        		 $(this).show();
        	}
        	else {
        		$(this).hide();
        	}
        });
        checkEmptyFilterResult();
    });
});
</script>