<div class="box-filter price-filter">
    <div class="header-filter">
        <h3>Precio<i class="arrow-down"></i></h3>
    </div>
    <div class="body-filter">

        <div class="radio money-type">
            Moneda:
            <label>
                <input type="radio" name="opciones" id="opciones_1" value="opcion_1" checked>$
            </label>
            <label>
                <input type="radio" name="opciones" id="opciones_2" value="opciones_2">U$S
            </label>
        </div>


        <div class="checkbox">
            <strong class="price-number-left price-range-slider-start-label"></strong>
            <strong class="price-number-right price-range-slider-end-label"></strong>
            <div class="price-range-slider"></div>

            <div class="btn-filter">
                <a href="" class="btn btn-search">Aplicar filtros</a>
            </div>

        </div>

    </div>
</div>