<div class="box-filter price-filter" id="priceFilter">
    <div class="header-filter">
        <h3>Precio<i class="arrow-down"></i></h3>
    </div>
    <div class="body-filter">

        <div id="rangePricerFilterCLP" class="checkbox">
            <strong class="price-number-left price-range-slider-start-label" id="leftPriceRange"></strong>
            <strong class="price-number-right price-range-slider-end-label" id="rightPriceRange"></strong>
            <div class="price-range-slider"></div>

            <div class="btn-filter">
                <a href="#" class="btn btn-search" id="aplFiltersPrice">Aplicar filtros</a>
            </div>

        </div>
        <div id="rangePricerFilterUSD" class="checkbox" style="display:none;">
            <strong class="price-number-left price-range-slider-start-labelUSD" id="leftPriceRangeUSD"></strong>
            <strong class="price-number-right price-range-slider-end-labelUSD" id="rightPriceRangeUSD"></strong>
            <div class="price-range-sliderUSD"></div>

            <div class="btn-filter">
                <a href="#" class="btn btn-search" id="aplFiltersPriceUSD">Aplicar filtros</a>
            </div>

        </div>

    </div>
</div>

<script>

$(document).ready(function() {
	
	$('#aplFiltersPrice').click(function() {
        var leftPrice = parseInt($("#leftPriceRange").html().replaceAll('\\.','').substring(1));
        var rightPrice = parseInt($("#rightPriceRange").html().replaceAll('\\.','').substring(1));

        $(".ticketBaxer").each(function( index ) {
        	var price = parseInt($(".superPrice",this).html().substr(1).replaceAll('\\.',''));
        	if (price<=rightPrice && price>=leftPrice ) {
        		 $(this).show();
        	}
        	else {
        		$(this).hide();
        	}
        });
        checkEmptyFilterResult();
    });
	
	$('#aplFiltersPriceUSD').click(function() {
        var leftPrice = parseInt($("#leftPriceRangeUSD").html().substring(3));
        var rightPrice = parseInt($("#rightPriceRangeUSD").html().substring(3));

        $(".ticketBaxer").each(function( index ) {
        	var price = parseFloat($(".superUsdPrice",this).html()).toFixed(0);
        	if (price<=rightPrice && price>=leftPrice ) {
        		 $(this).show();
        	}
        	else {
        		$(this).hide();
        	}
        });
        checkEmptyFilterResult();
    });
	
});
</script>