<div class="box-filter" id="stopsFilter">
    <div class="header-filter">
        <h3>Escalas<i class="arrow-down"></i></h3>
    </div>
    <div class="body-filter">

        <div class="checkbox">
            <label>
                <input type="radio" name="outboundflightstops" value="x" checked class="escalaRd" id="clearStopsFilter"> Todas las escalas
            </label>
            <div class="box-number selected-box"><span id="allStops"></span></div>
        </div>


        <div class="checkbox">
            <label>
                <input type="radio" name="outboundflightstops" value="0" class="escalaRd"> Directo
            </label>
            <div class="box-number"><span id="directStop">??</span></div>
        </div>


        <div class="checkbox">
            <label>
                <input type="radio" name="outboundflightstops" value="1" class="escalaRd"> 1 escala
            </label>
            <div class="box-number"><span id="oneStop">??</span></div>
        </div>


        <div class="checkbox">
            <label>
                <input type="radio" name="outboundflightstops" value="2" class="escalaRd"> 2 o más escalas
            </label>
            <div class="box-number"><span id="twoStop">??</span></div>
        </div>

    </div>
</div>



<script>

$(document).ready(function() {
	
	$('.escalaRd').change(function() {
		$(".ticketBaxer").show();
		$('.segmentBaxerIda').show();
		$('.segmentBaxerVuelta').show();
		
		var escalafiltro = $(this).val();
		
		if (escalafiltro!='x') {
	        $(".segmentBaxerIda").each(function( index ) {
	        	var escalas = $(this).data("escalas");
	        	if (escalas==escalafiltro) {
	        		 $(this).show();
	        	}
	        	else {
	        		$(this).hide();
	        	}
	        });
	        $(".segmentBaxerVuelta").each(function( index ) {
	        	var escalas = $(this).data("escalas");
	        	if (escalas==escalafiltro) {
	        		 $(this).show();
	        	}
	        	else {
	        		$(this).hide();
	        	}
	        });
		
	        checkEmptyFilterResult();
	        checkFlightsVisibility();
		}
    });
    $("#allStops").html($('.ticketBaxer').length);
	$("#directStop").html($("ul").find("[data-escalas='0']").length);
	$("#oneStop").html($("ul").find("[data-escalas='1']").length);
	$("#twoStop").html($("ul").find("[data-escalas='2']").length);
});
</script>
