<div class="table-responsive table-arrive" id="airlineSugDiv">
<table border="1">
        <thead>
        <tr>
        %{
        	def size=airlineArray.size();
			def numberOfBlankColumns = size+1-3;
        	for (i = 1; i <=numberOfBlankColumns; i++) {
		}%
			<th></th>
			%{   
			}
			}%
        
        
        
        
            <th  ><a href="#" class="priceSug">Precios +/- 5 días </a></th>
         	<th class="select-th"><a class="PXA" href="#">Precios por aerolíneas</a></th>
         	<th ><a class="tTar" href="#">Tendencia de Tarifas</a></th>
        </tr>
        </thead>
        <tbody>
		 <tr>
		 	<td>Resumen</td>
		 	#{list items:airlineArray, as:'airlineBlock'}
			    <td>#{airlineLogo carriersCode:airlineBlock.airline.getAsString(), carriersName: airlineBlock.airline.getAsString() /}
			    <label class="airlinePricesNames_${airlineBlock.airline.getAsString()}"></label>
			    </td>
			#{/list}
	 	</tr>
		<tr>
		    <td>Directo</td>
		    #{list items:airlineArray, as:'airlineBlock'}
		    	<td> #{if airlineBlock?.price0!=null}US$${airlineBlock?.price0?.getAsString()} #{/if} #{else} - #{/else}</td>
		    #{/list}
		</tr>
		
		<tr>
		    <td>1 escala</td>
		    #{list items:airlineArray, as:'airlineBlock'}
		    	<td> #{if airlineBlock?.price1!=null} US$${airlineBlock?.price1?.getAsString()} #{/if} #{else} - #{/else}</td>
		    #{/list}
		</tr>
		
		<tr>
		    <td>2 escalas o más</td>
		    #{list items:airlineArray, as:'airlineBlock'}
		    	<td> #{if airlineBlock?.price2!=null} US$${airlineBlock?.price2?.getAsString()} #{/if} #{else} - #{/else}</td>
		    #{/list}
		</tr>
	
</table>
</div>

<script>
 	$(function() {
 		$( ".priceSug" ).click(function() { 
 			$("#airlineSugDiv").hide();
 			$("#tarifasDiv").hide();
 			$("#priceSugDiv").show();
 		});
 	});
</script>