#{include "FlightsDataController/airlinesMatrix.html" /}
<input type="hidden" id="dlx" value="${dollarExchangeRate}" />
#{list items:flightsResults, as:'flight'}
    #{flightsItem promotion: params.promotion, flight:flight, flightsResultsFilters:flightsResultsFilters/}
#{/list}
<script type="text/javascript">
	$(function () {
		$('[data-toggle="tooltip"]').tooltip();
	})
</script>
<div id="filterResult" style="display: none">

#{filterBox flightsResultsFilters:flightsResultsFilters, dollarExchangeRate: dollarExchangeRate /}
</div>

<script>
function isInArray(arr,obj) {
    return (arr.indexOf(obj) != -1);
}
function findIndex(arr,element){
	for (var i=0;i<arr.length;i++){
		if (arr[i].airline==element) return i;
	}
}
function numberWithCommas(x) {
	return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
}


var jsonPricesAirlines = new Array();
$(function () {
	$(".collapse").on('hide.bs.collapse', function () {
		$("#"+this.id+"Button").html("Ver detalle");
	});
	$(".collapse").on('show.bs.collapse', function () {
		$("#"+this.id+"Button").html("Ocultar detalle");
	});
	$(document).on('click', '.PXA', function() {
		if ($("#airlineSugDiv").html()==undefined){
			$.ajax({data: {"airlinesPrices": JSON.stringify(jsonPricesAirlines)}, url: "/flights/airlinesmatrix", success: function(result){
				$("#priceSugDiv").hide();
				$("#tarifasDiv").hide();
		        $( "#priceSuggestionMatrix" ).append(result);
		        
		        #{list items:flightsResultsFilters.carriers.keySet(), as:'carriersKey'}
		        		$(".airlinePricesNames_${carriersKey}").html("${flightsResultsFilters.carriersCodesXNames.get(carriersKey)}");
		        #{/list}
		        
	        	if ($("#toWn").hasClass("selectedCurrency")){
	     			setClpExchange();
	     		}
		    }});
		}
		else {
			$("#priceSugDiv").hide();
			$("#tarifasDiv").hide();
			$("#airlineSugDiv").show();
		}
	});

	$(document).on('click', '.priceSug', function() {
		if ($("#priceSugDiv").html() == undefined) {
			$("#priceSuggestionMatrix").load(
					"/flights/matrix?" + getSearchParams(),
					function (responseText, textStatus, XMLHttpRequest) {
						if (textStatus == "success") {
							$("#tarifasDiv").hide();
							$("#airlineSugDiv").hide();
							$("#priceSugDiv").show();
							$("#priceSuggestionMatrix").show();
							onReadyMatrix();
						}
						else {
							showError("Error obteniendo precios para las fechas alternativas.");
						}
					}
			);
		}
		else {
			$("#tarifasDiv").hide();
			$("#airlineSugDiv").hide();
			$("#priceSugDiv").show();
			$("#priceSuggestionMatrix").show();
		}
	});

	$(document).on('click', '.tTar', function() {
		if ($("#tarifasDiv").html()==undefined){
			$.ajax({data: {"origin": $('#origin').val(), "destination": $('#destiny').val(), "departureDate": $('#startDate').val(), "returnDate": $('#endDate').val() }, 
					url: "/flights/lowpricesmatrix", success: function(result){
							$("#priceSugDiv").hide();
							$("#airlineSugDiv").hide();
					        $( "#priceSuggestionMatrix" ).append(result);
		    }});
		}
		else {
			$("#priceSugDiv").hide();
			$("#airlineSugDiv").hide();
			$("#tarifasDiv").show();
		}
	});
	
    var arrayOfAirlines = new Array();
    var minPrice = 999999999999;

	#{if dollarExchangeRate.isNumber()}
	
	$(document).on('click', '#toUsd', function() {
        setUsdExchange();
	});
	
	$(document).on('click', '#toWn', function() {
        setClpExchange();
	});

	function setUsdExchange() {
        $("#toUsd").addClass("selectedCurrency");
		$("#toWn").removeClass("selectedCurrency");

        $( ".clppriceCon" ).each(function( index ) {
            $(this).prev().removeClass("hidden");
            $(this).addClass("hidden");
        });
        $(".selCurrency").val("usd");
        $( ".simbolCurrency" ).each(function( index ) {
            $(this).html("US$");
        });
	}
var changedCLP=false;
	function setClpExchange() {
		$("#toWn").addClass("selectedCurrency");
		$("#toUsd").removeClass("selectedCurrency");

        $( ".usdpriceCon" ).each(function( index ) {
            $(this).next().removeClass("hidden");
            $(this).addClass("hidden");
        });
        $(".selCurrency").val("clp");
        if (!changedCLP) {
	 		$( ".clppriceCon" ).each(function( index ) {
	            $(this).html("$"+$(this).html());
	        });
	 		changedCLP = true;
        }
        calculateClpExchange();
    }
	function commaToPrices() {
		$( ".clppriceCon" ).each(function( index ) {
			$(this).html(numberWithCommas($(this).html()));
		});
	}
	function calculateClpExchange() {
        $( ".usdTablePrice" ).each(function( index ) {
            var exchangeRate = parseFloat("${dollarExchangeRate}");
            var numToChange = parseFloat($(this).html());
            $(this).next().html(numberWithCommas(parseFloat(numToChange * exchangeRate).toFixed(0)));
            $(this).next().removeClass("hidden");
            $(this).addClass("hidden");
        });
        $(".selCurrency").val("clp");
        $( ".simbolCurrency" ).each(function( index ) {
            $(this).html("$");
        });
    }
	
    $(document).ready(function () {setClpExchange(); commaToPrices(); calculateClpExchange(); });

        
	#{/if}
	
	
	$(document).ready(function () {
	    #{if state==null}
	    	$('#loginDiv').show();
	    	$('#logoutDiv').hide();
	        $( "#btnLoginTrUser" ).click(function( event ) {
	            var agencyId ="${promotionDto.agency.externalId}";
	            var transactionId = "${transactionId}";
	            var agencySlug = "${promotionDto.agency.slug}";
	            var selectedCurrency = "clp";
	            var step = 'index';
	            window.history.pushState("", "", window.location.href+transactionId);

	            $('<iframe src="/auth/'+transactionId+'/'+selectedCurrency+'/'+agencyId+'/'+agencySlug+'/'+step+'" frameborder="0" style="padding-left: 50px; position: relative; top: -100px;" width="500" height="500" scrolling="no" id="myFrame"></iframe>').appendTo('#loginModalBody');
	            $('#modalLogin').modal('show');
	
	    	});
	    #{/if}
	    #{else}
	    	    $("#loginDiv").hide();
	    	    $('#loggedDiv').show();
	    	    $('#logoutDiv').show();
	    	    $('#loggedDiv').html("${state.clientName}");
	    	    document.cookie = "tokenVuelos=${state.appToken}";
	    	    
	    	    $( "#btnLogoutTrUser" ).click(function( event ) {
	    	        $.ajax({
	    	            type: "GET",
	    	            data: {transactionId: "${state.transactionId}"},
	    	            dataType: "json",
	    	            url: "@{OAuthController.logout}",
	    	            success:function(result) {
	    	            		window.location.reload();
	    	            },
	    	            error: function (request, status, error) {
	    	            	 	alert("error desconocido");
	    	            }
	    	        });
	    	    });
	    #{/else}
    
    });
    
        
        
        
});
</script>
	