#{list items:flightsResults, as:'flight'}
    #{flightsItem flight:flight, flightsResultsFilters:flightsResultsFilters/}
#{/list}
<div id="filterResult" style="display: none">


#{if dollarExchangeRate.isNumber()}
<div>
	<label id="toWn" style="cursor:pointer;">CLP</label><label id="toUsd" style="cursor:pointer; float: right;">USD</label>
</div>
#{/if}

#{filterBox flightsResultsFilters:flightsResultsFilters/}
</div>




<script>

function isInArray(arr,obj) {
    return (arr.indexOf(obj) != -1);
}
function findIndex(arr,element){
	for (var i=0;i<arr.length;i++){
		if (arr[i].airline==element) return i;
	}
}
function numberWithCommas(x) {
	return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
}


var jsonPricesAirlines = new Array();
$(function () {
	$(document).on('click', '.PXA', function() {
		if ($("#airlineSugDiv").html()==undefined){
			$.ajax({data: {"airlinesPrices": JSON.stringify(jsonPricesAirlines)}, url: "/flights/airlinesmatrix", success: function(result){
				$("#priceSugDiv").hide();
				$("#tarifasDiv").hide();
		        $( "#priceSuggestionMatrix" ).append(result);
		        
		        #{list items:flightsResultsFilters.carriers.keySet(), as:'carriersKey'}
		        		$(".airlinePricesNames_${carriersKey}").html("${flightsResultsFilters.carriersCodesXNames.get(carriersKey)}");
		        #{/list}
		        
		    }});
		}
		else {
			$("#priceSugDiv").hide();
			$("#tarifasDiv").hide();
			$("#airlineSugDiv").show();
		}
	});
	$(document).on('click', '.tTar', function() {
		if ($("#tarifasDiv").html()==undefined){
			$.ajax({data: {"origin": $('#origin').val(), "destination": $('#destiny').val(), "departureDate": $('#startDate').val(), "returnDate": $('#endDate').val() }, 
					url: "/flights/lowpricesmatrix", success: function(result){
							$("#priceSugDiv").hide();
							$("#airlineSugDiv").hide();
					        $( "#priceSuggestionMatrix" ).append(result);
		    }});
		}
		else {
			$("#priceSugDiv").hide();
			$("#airlineSugDiv").hide();
			$("#tarifasDiv").show();
		}
	});
	
    var arrayOfAirlines = new Array();
    var minPrice = 999999999999;
    
	$( ".ticketBaxer" ).each(function( index ) {
		
		var jsonVar = {};
		
		
		var escala = 0;
		if ($(this).data("escala")==0 && $(this).data("escala")==$(this).data("returnescala")){
			escala = 0;
		}
		else  if ( ($(this).data("escala")==0 && $(this).data("returnescala") == 1 ) || 
				($(this).data("escala")==1 && $(this).data("returnescala") == 0 ) || 
				($(this).data("escala")==1 && $(this).data("returnescala") == 1 ) ){
			escala = 1;
		}
		else {
			escala = 2;
		}
		
		var currentAirline = $(this).data("airline");
			
		var firstTime = false;
		if (!isInArray(arrayOfAirlines,currentAirline)){
			arrayOfAirlines.push(currentAirline);
			jsonVar.airline = currentAirline;
			jsonVar.escala = escala;
			firstTime = true;
		}
		
		var currentPrice = $(this).data("price");
		
		if (firstTime){
			if (escala==0){
				jsonVar.price0 = currentPrice;	
			} else if (escala==1){
				jsonVar.price1 = currentPrice;	
			} else if (escala==2){
				jsonVar.price2 = currentPrice;	
			} 
			jsonPricesAirlines.push(jsonVar);
		}
		else {
			var airlineIndex = findIndex(jsonPricesAirlines,currentAirline);
			if (escala==0){
				if (parseFloat(currentPrice)<jsonPricesAirlines[airlineIndex].price0){
					jsonPricesAirlines[airlineIndex].price0 = currentPrice;
					jsonPricesAirlines[airlineIndex].escala = escala;
				}
			} else if (escala==1){
				if (parseFloat(currentPrice)<jsonPricesAirlines[airlineIndex].price1){
					jsonPricesAirlines[airlineIndex].price1 = currentPrice;
					jsonPricesAirlines[airlineIndex].escala = escala;
				}
			} else if (escala==2){
				if (parseFloat(currentPrice)<jsonPricesAirlines[airlineIndex].price2){
					jsonPricesAirlines[airlineIndex].price2 = currentPrice;
					jsonPricesAirlines[airlineIndex].escala = escala;
				}
			} 
		}
		
	});

	#{if dollarExchangeRate.isNumber()}
	
	$(document).on('click', '#toUsd', function() {
		$(this).css("background-color","#428bca");
		$(this).css("color","white");
		$("#toWn").css("background-color","transparent");
		$("#toWn").css("color","black");
		
		$( ".clppriceCon" ).each(function( index ) {
			$(this).prev().removeClass("hidden");
			$(this).addClass("hidden");
		});
	});
	
	$(document).on('click', '#toWn', function() {
		$(this).css("background-color","#428bca");
		$(this).css("color","white");
		$("#toUsd").css("background-color","transparent");
		$("#toUsd").css("color","black");
		
		$( ".usdpriceCon" ).each(function( index ) {
			var exchangeRate = parseFloat("${dollarExchangeRate}");
			var numToChange = parseFloat($(this).html());
			$(this).next().html(numberWithCommas(parseFloat(numToChange * exchangeRate).toFixed(0)));
			$(this).next().removeClass("hidden");
			$(this).addClass("hidden");
		});
	});
	
	#{/if}
	
});
</script>
	