%{
firstDepartureDate = alternateDatesDto.departuredate.minusDays(3);
firstReturnDate = alternateDatesDto.returndate.minusDays(3);
lastDepartureDate = alternateDatesDto.departuredate.plusDays(4);
fmt = org.joda.time.format.DateTimeFormat.forPattern("yyyy-MM-dd");
endUserFmt = org.joda.time.format.DateTimeFormat.forPattern("dd/MM/yyyy");
lineReturnDate = null;
rowDepartureDate = null;
lastRowDate = firstDepartureDate.minusDays(1);

}%
<div class="table-responsive table-arrive">
    <table border="1">
        <thead>
        <tr>
            <th colspan="4"></th>
            <!--<th><a href="#">Tendencia de tarifas</a></th>-->

            <th colspan="2" class="select-th"><a href="#">Precios +/- 5 días </a></th>
         	<th colspan="2" ><a id="PXA" href="#">Precios por aerolíneas</a></th>    
        </tr>
        </thead>
        <tbody>
        <tr class="bg-returning">
            <td class="leaving-returning">
                <span>ida</span>
                <span>vuelta</span>
            </td>
            #{list items:0..6, as:'i'}
                <td>${endUserFmt.print(firstDepartureDate.plusDays(i))}</td>
            #{/list}
        </tr>
        #{list items:alternateDatesDto.detailAlternateDatesDtoList, as:'details'}
            #{if lineReturnDate != details.returnDate }
                %{
                    int daysMissing = org.joda.time.Days.daysBetween(lastRowDate, lastDepartureDate).getDays();
                    lineReturnDate = details.returnDate;
                    lastRowDate = firstDepartureDate.minusDays(1);;
                    rowDepartureDate = null;
                }%
                #{if daysMissing < 8 && daysMissing > 1  }
                    #{list items:1..daysMissing-1, as:'i'}
                    <td>-</td>
                    #{/list}
                #{/if}
                </tr>
                <tr>
                    <td class="bg-leaving">${endUserFmt.print(details.returnDate)}</td>
            #{/if}

            %{
            int days = org.joda.time.Days.daysBetween(lastRowDate, details.departureDate).getDays();
            }%
            #{if days > 1 }
                #{list items:1..days-1, as:'i'}
                <td></td>
                #{/list}
            #{/if}

            #{if rowDepartureDate != details.departureDate }
            %{ rowDepartureDate = details.departureDate;}%
            %{ lastRowDate = details.departureDate;}%
            	<td><a href="#" class="pr-fare" data-from="${endUserFmt.print(details.departureDate)}" data-to="${endUserFmt.print(details.returnDate)}">US$${details?.passengerFare.replace(".0","")}</a>
                *{<td><a onclick="window.location=this.href" class="pr-fare" data-from="${endUserFmt.print(details.departureDate)}" data-to="${endUserFmt.print(details.returnDate)}">US$${details?.passengerFare.replace(".0","")}</a>}*
                *{${details.sequenceNumber}<br>}*
                *{${details.passengerFare}<br>}*
                *{${fmt.print(details.departureDate)}<br>}*
                *{${fmt.print(details.returnDate)}<br>}*
                *{${details.flightsCount}<br>}*
                </td>
            #{/if}
        #{/list}
        <tr class="bg-returning"><td colspan="8">Precio del pasaje ida y vuelta por persona. Los precios visualizados son los mejores encontrados por los usuarios en los últimos días y podrían no estar actualizados.</td></tr>
        </tbody>
    </table>
</div>


<script>

// 	function getJsonSearchParams() {
// 	    var searchForm = $("#flightSearchForm");
// 	    var filterForm = $("#filterResultForm");
// 	    return {
// 	        origin: searchForm.find('input[name="origen"]').val(),
// 	        destination: searchForm.find('input[name="destino"]').val(),
// 	        departuredate: searchForm.find('input[name="partida"]').val(),
// 	        returndate: searchForm.find('input[name="regreso"]').val(),
// 	        adultcount: searchForm.find('select[name="adultcount"]').val(),
// 	        childrencount: searchForm.find('select[name="childrencount"]').val(),
// 	        infantcount: searchForm.find('select[name="infantcount"]').val(),
// 	    };
// 	}
	
	
 	$(function() {
	    
// 		var jsonParameters = getJsonSearchParams();
// 		$( ".pr-fare" ).each(function( index ) {
// 			  var from = $(this).data("from").replace(/\//g,"-");
// 			  var to = $(this).data("to").replace(/\//g,"-");
// 			  var link = window.location.origin+"/"+jsonParameters.origin+"/"+jsonParameters.destination+"/"+from+"/"+to+"/"+jsonParameters.adultcount+"-"+jsonParameters.childrencount+"-"+jsonParameters.infantcount;
// 			  $(this).attr("href",link);
// 		});
		


		
 	});

</script>