<div class="table-responsive table-arrive">
    <table>
        <thead>
        <tr>
            <th colspan="2"></th>
            <!--<th><a href="#">Tendencia de tarifas</a></th>-->

            <th class="select-th"><a href="#">Precios +/- 3 días</a></th>
            <th><a href="#">Precios por aerolíneas</a></th>
        </tr>
        </thead>
        <tbody>
        <tr class="bg-returning">
            <td class="leaving-returning">
                <span>ida</span>
                <span>vuelta</span>
            </td>
            <td>Lunes</td>
            <td>Martes</td>
            <td>Miércoles</td>
        </tr>
        <tr>
            <td class="bg-leaving">Lunes</td>
            <td></td>
            <td>$9.350</td>
            <td></td>
        </tr>
        <tr>
            <td class="bg-leaving">Martes</td>
            <td></td>
            <td></td>
            <td>$12.350</td>
        </tr>
        <tr>
            <td class="bg-leaving">Miércoles</td>
            <td></td>
            <td></td>
            <td>$10.050</td>

        </tr>
        </tbody>
    </table>
</div>