%{
    cabin = _bookingCodeList?.get(_bookingCode).getAsString();

    switch(cabin) {
        case "P" :
            label = "Primera Premium";
            break;
        case "F" :
            label = "Primera";
            break;
        case "J" :
            label = "Ejecutiva";
            break;
        case "S" :
            label = "Económica Premium";
            break;
        case "C" :
            label = "Ejecutiva";
            break;
        case "Y" :
            label = "Económica";
            break;
        default :
            label = cabin;
            break;
    }
}%
${label}