   *{ 
  <div class="active-filter" id="activeFilters">
  <h4>Filtros activos:</h4>
  	#{list items:_flightsResultsFilters.mktcarriers, as:'carriersKey'}
  		<div class="box-active-filter"><span class="txt-filter-activer">${_flightsResultsFilters.mktCarriersCodesXNames.get(carriersKey)}</span><i class="icon-close-filter"></i></div>
  	#{/list}
   
   *{ 
    <div class="box-active-filter"><span class="txt-filter-activer"></span><i class="icon-close-filter"></i></div>
   } *
</div>
  }*
  
<form id="filterResultForm" action="" method="" class="filter-arrive">

    #{if _dollarExchangeRate.isNumber()}
    <div class="box-filter" id="exchangeFilter">
        <div class="header-filter">
            <h3>Moneda<i class="arrow-down"></i></h3>
        </div>
        <div class="body-filter">
            <div id="toWn" class="checkbox">
                <label>
                    <input type="radio" checked="checked" name="currencyRadio"> Pesos
                </label>
            </div>
            <div id="toUsd" class="checkbox">
                <label>
                    <input type="radio" name="currencyRadio"> Dólares
                </label>
            </div>
        </div>
    </div>
    #{/if}

    #{filters.stopsFilter/}
    #{filters.carrierFilter carriers:_flightsResultsFilters.mktcarriers, carriersNames: _flightsResultsFilters.mktCarriersCodesXNames /}
    #{filters.priceFilter/}

    <div class="box-filter hour-filter" id="hoursFilter">
        <div class="header-filter">
            <h3>Horarios<i class="arrow-down"></i></h3>
        </div>
        <div class="body-filter">
            <span class="txt-filter">Ida:</span>
                <div class="box-range">
                  <strong class="price-number-left time-range-slider-start-from-label" id="idaHorarioLeft"></strong>
                  <strong class="price-number-right time-range-slider-end-from-label" id="idaHorarioRight"></strong>
                </div>
                <div class="hour-range-from-slider"></div> 
                <hr>
            <span class="txt-filter">Vuelta:</span>

                <div class="box-range">
                  <strong class="price-number-left time-range-slider-start-to-label" id="vueltaHorarioLeft"></strong>
                  <strong class="price-number-right time-range-slider-end-to-label" id="vueltaHorarioRight"></strong>
                </div>
                <div class="hour-range-to-slider"></div> 

            <div class="btn-filter">
                <a href="#" class="btn btn-search" id="aplFiltrosHorarios">Aplicar filtros</a>
            </div>
        </div>
    </div>

    <div class="box-filter" id="airportsFilter">
        <div class="header-filter">
            <h3>Aeropuertos<i class="arrow-down"></i></h3>
        </div>
        <div class="body-filter">
            <span class="txt-filter">Ida:</span>

            <div class="checkbox">
               
               	#{list items:_flightsResultsFilters.outboundAirport.keySet(), as:'airportKey'}
               		<label>
               			<input type="checkbox" checked="checked" class="aeroChkDeparture" value="${_flightsResultsFilters.outboundAirportCodes.get(airportKey)}"> ${airportKey}
					</label>
			    #{/list}
                
            </div>
            <hr>
            <span class="txt-filter">Vuelta:</span>


            <div class="checkbox">
               
               	#{list items:_flightsResultsFilters.inboundAirport.keySet(), as:'airportKey'}
               		<label>
               			<input type="checkbox" checked="checked" class="aeroChkReturn" value="${_flightsResultsFilters.inboundAirportCodes.get(airportKey)}"> ${airportKey}<br />
			    	</label>
			    #{/list}
                
            </div>
            
        </div>
    </div>

    <div class="box-filter" id="durationFilter">
        <div class="header-filter">
            <h3>Duración<i class="arrow-down"></i></h3>
            <input type="hidden" value="0" id="startDur" />
            <input type="hidden" value="0" id="endDur" />
        </div>
        <div class="body-filter">
            <div class="">
                <span class="txt-filter">Ida:</span>
                <div class="box-range">
                    <strong class="duration-slider-start-label" id="idaDuracion" ></strong> 
                    
                    <div class="duration-start-slider"></div>
                </div>
                <hr>
                <span class="txt-filter">Vuelta:</span>
                <div class="box-range">
                    <strong class="duration-slider-end-label" id="vueltaDuracion"></strong> 
                    
                    <div class="duration-end-slider"></div>
                </div>
                <div class="btn-filter">
                    <a href="#" class="btn btn-search" id="aplFiltrosDur">Aplicar filtros</a>
                </div>
                
            </div>

        </div>
    </div>

</form>


<script>



function checkFlightsVisibility() {
	
	$(".ticketBaxer").each(function( index ) {
		var oneVisible = false;
		var segments = $(this).find('.segmentBaxerIda');
		$(segments).each(function( index ) {
			if ($(this).is(':visible')){
				oneVisible = true;
				return;
			}
		});
		
		if (!oneVisible) {
			$(this).hide();
		}
	});
	
	$(".ticketBaxer").each(function( index ) {
		var oneVisible = false;
		var segments = $(this).find('.segmentBaxerVuelta');
		$(segments).each(function( index ) {
			if ($(this).is(':visible')){
				oneVisible = true;
				return;
			}
		});
		
		if (!oneVisible) {
			$(this).hide();
		}
	});
	
}

$(document).ready(function() {
	
	
	$('#aplFiltrosHorarios').click(function() {
        
        var idaHorarioLeft = parseInt($("#idaHorarioLeft").html().replace(":",''));
        var idaHorarioRight = parseInt($("#idaHorarioRight").html().replace(":",''));

        var vueltaHorarioLeft = parseInt($("#vueltaHorarioLeft").html().replace(":",''));
        var vueltaHorarioRight = parseInt($("#vueltaHorarioRight").html().replace(":",''));
        
        $(".segmentBaxerIda").each(function( index ) {
        	var departureTime = parseInt($(this).data("departuretime").replace(":",''));
        	var returnTime = parseInt($(this).data("returntime").replace(":",''));
        	if (departureTime>=idaHorarioLeft && departureTime<=idaHorarioRight) {
        		 $(this).show();
        	}
        	else {
        		$(this).hide();
        	}
        });
        
        $(".segmentBaxerVuelta").each(function( index ) {
        	var departureTime = parseInt($(this).data("departuretime").replace(":",''));
        	var returnTime = parseInt($(this).data("returntime").replace(":",''));
        	if (returnTime>=vueltaHorarioLeft && returnTime<=vueltaHorarioRight) {
        		 $(this).show();
        	}
        	else {
        		$(this).hide();
        	}
        });
        
        
        checkEmptyFilterResult();
        checkFlightsVisibility();
    });
	
	$('#aplFiltrosDur').click(function() {
		var idaDuracion = parseInt($('#startDur').val());
		var vueltaDuracion = parseInt($('#endDur').val());
		 $(".segmentBaxerIda").each(function( index ) {
	        	var departureElapsedTime = parseInt($(this).data("departureelapsedtime"));
	        	if (idaDuracion>=departureElapsedTime) {
	        		 $(this).show();
	        	}
	        	else {
	        		$(this).hide();
	        	}
	     });
		 
		 $(".segmentBaxerVuelta").each(function( index ) {
	        	var returnElapsedTime = parseInt($(this).data("returnelapsedtime"));
	        	if (vueltaDuracion>=returnElapsedTime) {
	        		 $(this).show();
	        	}
	        	else {
	        		$(this).hide();
	        	}
	     });
        checkEmptyFilterResult();
        checkFlightsVisibility();
	});
	
	$('.aeroChkDeparture').change(function() {
		var readchecks= new Array();
		 $(".aeroChkDeparture").each(function( index ) {
			 	if ( !readchecks.includes($(this).val())) {
					if ($(this).prop('checked')){
						$("div").find("[data-airportDeparture='" + $(this).val() + "']").show();
					}
					else {
						$("div").find("[data-airportDeparture='" + $(this).val() + "']").hide();
					}
					readchecks.push($(this).val());
			 	}
		 });
        checkEmptyFilterResult();
        checkFlightsVisibility();
   });
	
	$('.aeroChkReturn').change(function() {
		var readchecks= new Array();
		 $(".aeroChkReturn").each(function( index ) {
			 if ( !readchecks.includes($(this).val())) {
				if ($(this).prop('checked')){
					$("div").find("[data-airportReturn='" + $(this).val() + "']").show();
				}
				else {
					$("div").find("[data-airportReturn='" + $(this).val() + "']").hide();
				}
				readchecks.push($(this).val());
			 }
		 });
        checkEmptyFilterResult();
        checkFlightsVisibility();
    });
});
var checkEmptyFilterResult = function (){
    var qty = $(".ticketBaxer:visible").size();
    if (qty == 0){
        $("#errorMessageBottom div").remove();
        var em = $("#errorMessageBottom");
        em.append('<div>Sin resultados, por favor, <a href="#">modifica tus opciones de filtro</a>.</div>');
        em.show();
        $('#flightSearchForm input[type="submit"]').attr('disabled', false);
    }
    else {
    	var em = $("#errorMessageBottom");
    	em.hide();
    }
};
var cleanFilters = function() {
    $("#clearCarriersFilter").prop('checked', true);
    $("#clearStopsFilter").prop('checked', true);
    $(".aeroChkDeparture").prop('checked', true);
    $(".aeroChkReturn").prop('checked', true);
    $(".ticketBaxer").show();
}
</script>


