<div class="well">
    <!--DETAIL TITLE FLIGHT-->
    <ul class="detail-title-flight">
        <li class="title-text-from-to">
            ${new utils.ApiFlightsSdk.v1.Airport().getByIataCode(_flightSegment.departureCityCode.getAsString()).city}
                <span class="airport-code">(${_flightSegment.departureCityCode.getAsString()})</span>
            <span class="title-text-to"><i class="icon-arrow-airport"></i></span>
            ${new utils.ApiFlightsSdk.v1.Airport().getByIataCode(_flightSegment.returnCityCode.getAsString()).city}
            <span class="airport-code">(${_flightSegment.returnCityCode.getAsString()})</span>
        </li>
        <li class="title-text-total-duration">
            <span class="title-duration">DURACIÓN TOTAL:</span>
            %{
                segmentElapsedTime = _flightSegment.elapsedTime.getAsInt();
                int segmentElapsedHours = segmentElapsedTime / 60;
                int segmentElapsedMinutes = segmentElapsedTime % 60;
            }%
            <span>&{"%dh %02dm", segmentElapsedHours, segmentElapsedMinutes}</span>
        </li>
    </ul>

    <!--DETAIL BODY FLIGHT-->
    <ul class="detail-body-flight">
        #{list items:_flightSegment.detail, as:'flightSegmentDetail'}
            <li class="airline-logo">
                <span style="font-weight:bold;">Operado por </span>
            	#{airlineLogo carriersCode:flightSegmentDetail.operatingAirlineCode.getAsString(), carriersName: flightSegmentDetail.operatingAirlineCode.getAsString() /}
            	${_flightsResultsFilters?.carriersCodesXNames?.get(flightSegmentDetail.operatingAirlineCode.getAsString())}
            </li>
            <li class="flight-detail-data">
                <ul>
                    <!--SALE LLEGA-->
                    <li class="flight-detail-data-route">
                        <div>
                            <span class="inline-detail-airport-date">
                                <span class="inline-detail-airport-date-text">Sale:</span>
                                <span>${utils.DateUtils.reformateDate(flightSegmentDetail.departureDate.getAsString(),"yyyy-MM-dd","dd-MM-yyyy")}</span>
                            </span>
                            <span class="inline-detail-airport-code-wrapper">
                                <span class="inline-detail-airport-code">${flightSegmentDetail.departureAirportCode.getAsString()}</span>
                                <span class="inline-detail-airport-hour">${flightSegmentDetail.departureTime.getAsString()}</span>
                            </span>
                            <span class="inline-detail-airport-description">
                                ${new utils.ApiFlightsSdk.v1.Airport().getByIataCode(flightSegmentDetail.departureAirportCode.getAsString()).city}
                            </span>
                        </div>
                        <div class="arrow-airport">
                            <i class="icon-arrow-airport"></i>
                        </div>
                        <div>
                            <span class="inline-detail-airport">
                                <span class="inline-detail-airport-date">
                                    <span class="inline-detail-airport-date-text">Llega:</span>
                                    <span>${utils.DateUtils.reformateDate(flightSegmentDetail.arrivalDate.getAsString(),"yyyy-MM-dd","dd-MM-yyyy")}</span>
                                </span>
                                <span class="inline-detail-airport-code-wrapper">
                                    <span class="inline-detail-airport-code">${flightSegmentDetail.arrivalAirportCode.getAsString()}</span>
                                    <span class="inline-detail-airport-hour">${flightSegmentDetail.arrivalTime.getAsString()}</span>
                                    #{daysDifference departure:flightSegmentDetail.departureDate, arrival: flightSegmentDetail.arrivalDate/}
                                </span>
                                <span class="inline-detail-airport-description">
                                    ${new utils.ApiFlightsSdk.v1.Airport().getByIataCode(flightSegmentDetail.arrivalAirportCode.getAsString()).city}
                                </span>
                            </span>
                        </div>
                    </li>

                    <!--DETAIL DATA FLIGHT-->
                    <li class="flight-detail-data-flight">

                        <div class="inline-detail-flight-data">
                            <span class="inline-detail-flight-data-title">CLASE</span>
                            <span class="inline-detail-flight-data-description">${flightSegmentDetail.resBookDesigCode.getAsString()}</span>
                        </div>

                        <div class="inline-detail-flight-data">
                            <span class="inline-detail-flight-data-title">DURACIÓN</span>
                        %{
                            flightElapsedTime = flightSegmentDetail.elapsedTime.getAsInt();
                            int flightElapsedHours = flightElapsedTime / 60;
                            int flightElapsedMinutes = flightElapsedTime % 60;
                            }%
                            <span class="inline-detail-flight-data-description">&{"%dh %02dm", flightElapsedHours, flightElapsedMinutes}</span>
                            
                        </div>
                        <div class="inline-detail-flight-data">
                            <span class="inline-detail-flight-data-title">VUELO N°</span>
                            <span class="inline-detail-flight-data-description">${flightSegmentDetail.flightNumber.getAsString()}</span>
                        </div>
                        <div class="inline-detail-flight-data inline-detail-flight-cabinType">
                            <span class="inline-detail-flight-data-title">CABINA</span>
                            %{ resBookDesigCode = flightSegmentDetail.resBookDesigCode.getAsString();}%
                            <span class="inline-detail-flight-data-description">#{cabin bookingCode:resBookDesigCode, bookingCodeList:_bookingCodes/}</span>
                        </div>
                        

                        <div class="box-airplane-name">
                            <span class="airplane-name">
                                <i class="icon-airplane-name"></i>MATERIAL DE VUELO: ${flightSegmentDetail.airEquipType.getAsString()}
                            </span>
                        </div>
                    </li>
                    
	                    <div class="box-airplane-name" >
	                    	<img src="@{'/public/img/valija.png'}" title="Equipaje de mano" /> 
                        #{list items:_baggageInfoList, as:'baggageInfo'}
	                        #{if baggageInfo.segmentIds.getAsString().contains((flightSegmentDetail_index -1)+'')}
	                        	#{if baggageInfo.pieces.getAsInt()>=1}
	                        	<img src="@{'/public/img/valija-mano.png'}" title="${baggageInfo.pieces.getAsInt()} maleta${baggageInfo.pieces.getAsInt().pluralize()}" /> 
	                        	#{/if}
	                        #{/if}
                        #{/list}
                        
                        #{if _meals!=null && _meals.size()>0}
	                        #{list items:_meals, as:'meal'}
	                        	#{if flightSegmentDetail_index==meal_index && _isDeparture}
			                	<img src="@{'/public/img/food-icon-detail.png'}" style="max-width: 40px;" title="${meal.getAsString()}" />
			                	#{/if}
			                	#{elseif meal_index==_startSegmentCount+flightSegmentDetail_index && !_isDeparture}
			                	<img src="@{'/public/img/food-icon-detail.png'}" style="max-width: 40px;" title="${meal.getAsString()}" />
			                	#{/elseif}
			                #{/list}
			                         
                        #{/if}
                        </div>
                        
                        
                        
                </ul>
                #{if flightSegmentDetail.extraData!=null && flightSegmentDetail.extraData.longConnection}
                	<span class="extraInfoDetail">Conexión por tiempo extenso, se sugiere estadía.</span>
                #{/if}
                #{if flightSegmentDetail.stopQuantity?.getAsInt() > 0}
                    <span class="extraInfoDetail">Este vuelo tiene una parada técnica sin cambiar de avión.</span>
                #{/if}
            </li>
            #{if !flightSegmentDetail_isLast}
            <li class="airplane-change">
                Cambio de avión
            </li>
            #{/if}
        #{/list}
    </ul>
</div>
<!--END WELL-->
