                            %{
                              connectionsDepartureCount = _flight.departureSegment.flightsCount.getAsInt() - 1;
                              connectionsReturnCount = _flight.returnSegment.flightsCount.getAsInt() - 1;
                              returnElapsedTimeEX = _flight.returnSegment.elapsedTime.getAsInt();
                              departureElapsedTimeEX = _flight.departureSegment.elapsedTime.getAsInt();
                              baxterHeight = _flight.pricing.shareNumber!=null? '350px':'320px';
                            }%
			#{if baxterHeight == "350px" && _flight.pricing.accountCode}
			%{
				baxterHeight = "390px";
			}%
			#{/if}
			#{if baxterHeight == "320px" && _flight.pricing.accountCode}
			%{
				baxterHeight = "350px";
			}%
			#{/if}

<div class="row ticket ticketBaxer" 
		data-airportReturn="${_flight.returnAirportCode.getAsString()}" 
		data-airportDeparture="${_flight.departureAirportCode.getAsString()}" 
		data-departureElapsedTime="${departureElapsedTimeEX}"
		data-returnElapsedTime="${returnElapsedTimeEX}" 
		data-returntime="${_flight.returnSegment.departureTime.getAsString()}" 
		data-departuretime="${_flight.departureSegment.departureTime.getAsString()}" 
		data-price="${_flight.pricing.totalPassengerFare.getAsString()}"
		data-airline="${_flight.departureSegment.detail.get(0).operatingAirlineCode.getAsString()}"
        	data-marketingAirline="${_flight.departureSegment.detail.get(0).marketingAirline.getAsString()}"
		data-escala="${connectionsDepartureCount}"
		data-returnEscala="${connectionsReturnCount}" style="min-height: ${baxterHeight}">
    <form class="form-ticket" action="@{PaymentFlowController.index}" method="post">
    	<input type="hidden" name="selectedCurrency" class="selCurrency" value="usd" id="hdnSelectedCurrency"/>
    	
        <div class="col-md-9 info-flight">
            <ul>
                <li class="txt-airport-date">
                    <ul>
                        <li>
                            <i class="icon-fly"></i>
                            <span class="leaving">ida</span>
                            <span class="fly-day">${utils.DateUtils.reformateDate(_flight.departureDate.getAsString(),"yyyy-MM-dd","dd-MM-yyyy")}</span>
                        </li>
                        <li>
                            <span class="airport">${new utils.ApiFlightsSdk.v1.Airport().getByIataCode(_flight.departureAirportCode.getAsString()).name}</span>
                            <span class="description-airport">${_flight.departureAirportCode.getAsString()}</span>
                        </li>
                        <li>
                            <span class="airport">${new utils.ApiFlightsSdk.v1.Airport().getByIataCode(_flight.returnAirportCode.getAsString()).name}</span>
                            <span class="description-airport">${_flight.returnAirportCode.getAsString()}</span>
                        </li>
                    </ul>
                </li>
                <li class="txt-view-detail">
                    <ul>
                        <li>
                            <label style="font-weight: 500;">
                                #{list items:_flight.departureSegment.detail.get(0).marketingAirline, as:"airlineCode"}
                                	#{airlineLogo carriersCode:airlineCode?.getAsString().toLowerCase(), carriersName: airlineCode /}
                                	${_flightsResultsFilters?.mktCarriersCodesXNames?.get(airlineCode.getAsString())}
                                #{/list}
                            </label>
                        </li>
                        <li class="hour-of-flight">
                            <span>${_flight.departureSegment.departureTime.getAsString()}</span>
                        </li>
                        <li class="stops-route">
                            <a type="button" data-toggle="collapse" data-target="#departureSegment${_flight.sequenceNumber.getAsString()}" aria-expanded="false" aria-controls="collapseExample" class="link-detail-desktop">
                                %{
                                    connectionsCount = _flight.departureSegment.flightsCount.getAsInt() - 1;
                                }%
                            #{if connectionsCount == 0 }
                                <span class="stop-txt">Directo</span>
                                <span class="line-route"></span>
                            #{/if}
                            #{elseif connectionsCount == 1 }
                                <span class="stop-txt">${connectionsCount} escala</span>
                                <span class="circle"></span>
                                <span class="line-route"></span>
                            #{/elseif}
                            #{elseif connectionsCount >= 2 }
                                <span class="stop-txt">${connectionsCount}&nbsp;escalas</span>
                                <span class="circle left-circle"></span>
                                <span class="circle right-circle"></span>
                                <span class="line-route"></span>
                            #{/elseif}
                            </a>
                        </li>
                        <li class="hour-of-flight">
                            <span>${_flight.departureSegment.returnTime.getAsString()}</span>
                            #{daysDifference departure:_flight.departureSegment.departureDate, arrival: _flight.departureSegment.returnDate/}
                        </li>
                        <li class="time">
                            %{
                            	departureElapsedTime = _flight.departureSegment.elapsedTime.getAsInt();
                                int departureElapsedHours = departureElapsedTime / 60;
                                int departureElapsedMinutes = departureElapsedTime % 60;
                            }%
                            <span>&{"%dh %02dm", departureElapsedHours, departureElapsedMinutes}</span>
                        </li>
                        <li class="detail">
                            <a id="departureSegment${_flight.sequenceNumber.getAsString()}Button" type="button" data-toggle="collapse" data-target="#departureSegment${_flight.sequenceNumber.getAsString()}" aria-expanded="false" aria-controls="collapseExample" class="link-detail-desktop" style="font-weight: bold;">
                                Ver detalle
                            </a>
                            <a data-toggle="modal" data-target="#detailModalFlight${_flight.sequenceNumber.getAsString()}" class="link-detail-mobile">detalle</a>
                            
                            
                            
                            
                            <!-- Modal -->
							<div class="modal fade" id="detailModalFlight${_flight.sequenceNumber.getAsString()}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content info-flight">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-close-modal"></i></button>
							        <h4 class="modal-title" id="myModalLabel">Detalle del Vuelo</h4>
							      </div>
							      <div class="modal-body txt-view-detail">
				                            #{list items:_flight.departureSegment, as:'flightSegment'}
				                           		 #{modalDetail flightSegment:flightSegment, flightsResultsFilters:_flightsResultsFilters, bookingCodes: _flight.pricing.bookingCodes/}
				                            #{/list}
	                                    <!-- END MODAL BODY-->
							      </div>
							    </div>
							  </div>
							</div>
	                            
                            
                            
                            
                        </li>

                        <div class="collapse" id="departureSegment${_flight.sequenceNumber.getAsString()}">
                            #{list items:_flight.departureSegment, as:'flightSegment'}
                                #{flightsItemDetail flightSegment:flightSegment, flightsResultsFilters:_flightsResultsFilters, bookingCodes: _flight.pricing.bookingCodes/}
                            #{/list}
                        </div>
                    </ul>
                </li>
                <li class="txt-airport-date">
                    <ul>
                        <li>
                            <i class="icon-fly-vuelta"></i>
                            <span class="leaving">vuelta</span>
                            <span class="fly-day">${utils.DateUtils.reformateDate(_flight.returnDate.getAsString(),"yyyy-MM-dd","dd-MM-yyyy")}</span>
                        </li>
                        <li>
                            <span class="airport">${new utils.ApiFlightsSdk.v1.Airport().getByIataCode(_flight.returnSegment.departureCityCode.getAsString()).name}</span>
                            <span class="description-airport">${_flight.returnSegment.departureCityCode.getAsString()}</span>
                        </li>
                        <li>
                            <span class="airport">${new utils.ApiFlightsSdk.v1.Airport().getByIataCode(_flight.returnSegment.returnCityCode.getAsString()).name}</span>
                            <span class="description-airport">${_flight.returnSegment.returnCityCode.getAsString()}</span>
                        </li>
                    </ul>
                </li>
                <li class="txt-view-detail">
                    <ul>
                        <li>
                            <label style="font-weight: 500;">
                                #{list items:_flight.returnSegment.detail.get(0).marketingAirline, as:"airlineCode"}
                                	#{airlineLogo carriersCode:airlineCode?.getAsString().toLowerCase(), carriersName: airlineCode /}
                                    ${_flightsResultsFilters?.mktCarriersCodesXNames?.get(airlineCode.getAsString())}
                                #{/list}
                            </label>
                        </li>
                        <li class="hour-of-flight">
                            <span>${_flight.returnSegment.departureTime.getAsString()}</span>
                        </li>
                        <li class="stops-route">
                            <a type="button" data-toggle="collapse" data-target="#returnSegment${_flight.sequenceNumber.getAsString()}" aria-expanded="false" aria-controls="collapseExample2" class="link-detail-desktop">
                            %{
                                connectionsCount = _flight.returnSegment.flightsCount.getAsInt() - 1;
                            }%
                            #{if connectionsCount == 0 }
                                <span class="stop-txt">Directo</span>
                                <span class="line-route"></span>
                            #{/if}
                            #{if connectionsCount == 1 }
                                <span class="stop-txt">${connectionsCount} escala</span>
                                <span class="circle"></span>
                                <span class="line-route"></span>
                            #{/if}
                            #{if connectionsCount == 2 }
                                <span class="stop-txt">${connectionsCount}&nbsp;escalas</span>
                                <span class="circle left-circle"></span>
                                <span class="circle right-circle"></span>
                                <span class="line-route"></span>
                            #{/if}
                            </a>
                        </li>
                        <li class="hour-of-flight">
                            <span>${_flight.returnSegment.returnTime.getAsString()}</span>
                            #{daysDifference departure:_flight.returnSegment.departureDate, arrival: _flight.returnSegment.returnDate/}
                        </li>
                        <li class="time">
                        %{
                            returnElapsedTime = _flight.returnSegment.elapsedTime.getAsInt();
                            int returnElapsedHours = returnElapsedTime / 60;
                            int returnElapsedMinutes = returnElapsedTime % 60;
                            }%
                            <span>&{"%dh %02dm", returnElapsedHours, returnElapsedMinutes}</span>
                        </li>
                        <li class="detail">
                            <a id="returnSegment${_flight.sequenceNumber.getAsString()}Button" type="button" data-toggle="collapse" data-target="#returnSegment${_flight.sequenceNumber.getAsString()}" aria-expanded="false" aria-controls="collapseExample2" class="link-detail-desktop" style="font-weight: bold;">
                                Ver detalle
                            </a>
                             <a data-toggle="modal" data-target="#detailModalFlight2${_flight.sequenceNumber.getAsString()}" class="link-detail-mobile">detalle</a>
                             
                            <!-- Modal -->
							<div class="modal fade" id="detailModalFlight2${_flight.sequenceNumber.getAsString()}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content info-flight">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-close-modal"></i></button>
							        <h4 class="modal-title" id="myModalLabel">Detalle del Vuelo</h4>
							      </div>
							      <div class="modal-body txt-view-detail">
				                            #{list items:_flight.returnSegment, as:'flightSegment'}
				                           		 #{modalDetail flightSegment:flightSegment, flightsResultsFilters:_flightsResultsFilters, bookingCodes: _flight.pricing.bookingCodes/}
				                            #{/list}
	                                    <!-- END MODAL BODY-->
							      </div>
							    </div>
							  </div>
							</div>
							
							
                        </li>
                        </li>
                        <div class="collapse" id="returnSegment${_flight.sequenceNumber.getAsString()}">
                            #{list items:_flight.returnSegment, as:'flightSegment'}
                                #{flightsItemDetail flightSegment:flightSegment, flightsResultsFilters:_flightsResultsFilters, bookingCodes:_flight.pricing.bookingCodes/}
                            #{/list}
                        </div>
                    </ul>
                </li>
                <li class="info-detail-promo" id="bigImgPromoLi">
                	#{if _flight.pricing.urlBannerImage!=null && !_flight.pricing.urlBannerImage.equals("")}
	               		<img style="height:auto;" src="${utils.CloudinaryUtils.getUrl(_flight.pricing.urlBannerImage.getAsString(), 'q_90,c_fill,h_130', '')}">
                   	#{/if}
                </li>
                <li class="info-detail-promo" id="mobileImgPromoLi">
                	#{if _flight.pricing.urlBannerImageMobile!=null && !_flight.pricing.urlBannerImageMobile.equals("")}
	               		<img style="height:200px;" src="${utils.CloudinaryUtils.getUrl(_flight.pricing.urlBannerImageMobile.getAsString(), 'q_90,c_fill,h_200', '')}">
                   	#{/if}
                </li>
            </ul>
        </div>

        <div class="col-md-3 ticket-detail">
            #{if _flight.pricing.accountCode} *{CAMBIAR ESTA CONDICION CUANDO VENGA LA INFO DE LA API}*
            <span class="private-fare">
                <i class="icon-private-fare"></i>
                <span class="info-private-fare">Tarifa Exclusiva</span>
            </span>
            #{/if}
            #{else}
                *{<span class="private-fare-space-saver">&nbsp;</span>}*
            #{/else}
            #{if _flight.pricing.adtTotalPriceBeforeDiscount && _flight.pricing.adtTotalPriceBeforeDiscount != _flight.pricing.adtTotalPrice}
                <span class="private-fare-space-saver" id="private-fare-img"><img src="http://res.cloudinary.com/hyvrprjak/image/upload/c_scale,w_60/superDosB.jpg" alt="Super Dos" title="super dos"></span>
            #{/if}
            #{else}
                <span class="private-fare-space-saver" id="private-fare-img">&nbsp;</span>
            #{/else}
            <span class="title">Precio por Adulto</span>
            #{if _flight.pricingCLP.adtTotalPriceWithAllTaxes.getAsDouble() > _flight.pricingCLP.adtTotalPrice.getAsDouble() && _flight.pricing.adtTotalPriceBeforeDiscount && _flight.pricing.adtTotalPriceBeforeDiscount != _flight.pricing.adtTotalPrice}
            <span class="price before-discount"><span class="usdpriceCon"><span class="simbolCurrency">US$</span>${_flight.pricing.adtTotalPriceWithAllTaxes?.getAsString()}</span><span class="clppriceCon hidden">${_flight.pricingCLP.adtTotalPriceWithAllTaxes?.getAsString()}</span></span>
            <span class="price"><span class="usdpriceCon"><span class="simbolCurrency">US$</span>${_flight.pricing.adtTotalPrice?.getAsString()}</span><span class="clppriceCon hidden">${_flight.pricingCLP.adtTotalPrice?.getAsString()}</span></span>
            #{/if}
            #{elseif _flight.pricingCLP.adtTotalPriceWithAllTaxes.getAsDouble() <= _flight.pricingCLP.adtTotalPrice.getAsDouble() && _flight.pricing.adtTotalPriceBeforeDiscount && _flight.pricing.adtTotalPriceBeforeDiscount != _flight.pricing.adtTotalPrice}
            <span class="price"><span class="usdpriceCon"><span class="simbolCurrency">US$</span>${_flight.pricing.adtTotalPrice?.getAsString()}</span><span class="clppriceCon hidden">${_flight.pricingCLP.adtTotalPrice?.getAsString()}</span></span>
            #{/elseif}
            #{else}
            <span class="price"><span class="usdpriceCon"><span class="simbolCurrency">US$</span>${_flight.pricing.adtTotalPriceWithAllTaxes?.getAsString()}</span><span class="clppriceCon hidden">${_flight.pricingCLP.adtTotalPriceWithAllTaxes?.getAsString()}</span></span>
            #{/else}
           
            <ul class="detail-price">
        
		              
                      
               	<li><span class="item-detail">${_flight.pricing.detail.getAsJsonArray().get(0).getAsJsonObject().quantity.getAsInt()} Adulto${_flight.pricing.detail.getAsJsonArray().get(0).getAsJsonObject().quantity.getAsInt().pluralize()}</span><span class="item-price usdpriceCon"><span class="simbolCurrency">US$</span>${_flight.pricing.totalAdt.getAsString()}</span><span class="item-price clppriceCon hidden">${_flight.pricingCLP.totalAdt.getAsString()}</span></li>
                	
                #{if _flight.pricing.detail.getAsJsonArray().size()>1}	
                	<li><span class="item-detail">${_flight.pricing.detail.getAsJsonArray().get(1).getAsJsonObject().quantity.getAsInt()} Niño${_flight.pricing.detail.getAsJsonArray().get(1).getAsJsonObject().quantity.getAsInt().pluralize()}</span><span class="item-price usdpriceCon"><span class="simbolCurrency">US$</span>${_flight.pricing.totalChd.getAsString()}</span><span class="item-price clppriceCon hidden">${_flight.pricingCLP.totalChd.getAsString()}</span></li>
                #{/if}
                #{if _flight.pricing.detail.getAsJsonArray().size()>2}
                	<li><span class="item-detail">${_flight.pricing.detail.getAsJsonArray().get(2).getAsJsonObject().quantity.getAsInt()} Infante${_flight.pricing.detail.getAsJsonArray().get(2).getAsJsonObject().quantity.getAsInt().pluralize()}</span><span class="item-price usdpriceCon"><span class="simbolCurrency">US$</span>${_flight.pricing.totalInf.getAsString()}</span><span class="item-price clppriceCon hidden">${_flight.pricingCLP.totalInf.getAsString()}</span></li>
                #{/if}
                
                
                <li><span class="item-detail">Imp. y Tasas</span><span class="item-price usdpriceCon"><span class="simbolCurrency">US$ </span>${_flight.pricing.totalTax?.getAsString()}</span><span class="item-price clppriceCon hidden">${_flight.pricingCLP.totalTax?.getAsString()}</span></li>
                #{if _flight.pricingCLP?.totalFee!=null && _flight.pricingCLP?.totalFee.getAsInt()>0 && !_flight.pricingCLP?.totalFee.getAsString().trim().equals('')}
                	<li><span class="item-detail">Gestión agencia </span><span class="item-price usdpriceCon"><span class="simbolCurrency">US$ </span>${_flight.pricing.totalFee?.getAsString()}</span><span class="item-price clppriceCon hidden">${_flight.pricingCLP.totalFee?.getAsString()}</span></li>
                #{/if}
                <hr>
                <li><span class="">Total </span><span class="item-price usdpriceCon"><span class="simbolCurrency">US$ </span>${_flight.pricing.totalAmount?.getAsString()}</span><span class="item-price clppriceCon hidden">${_flight.pricingCLP.totalAmount?.getAsString()}</span></li>
                <li style="text-align: center;">Incluye tasas e impuestos</li>
              
                #{if _flight.pricing.shareNumber!=null}
	                <li class="info-detail-dues">
	                    <div class="col-xs-6 interest-free" style="padding-right: 5px;"><span>${_flight.pricing.shareNumber.shareQuantity.getAsString()} cuotas sin interés</span></div>
	                    <div class="col-xs-6 total" style="padding-left: 5px; padding-right: 0px;">
	                    %{def shareValue =  new java.text.DecimalFormat("#.##").format(_flight.pricing.totalAmount.getAsNumber() / _flight.pricing.shareNumber.shareQuantity.getAsNumber())}%
	                    %{def shareValueCLP = _flight.pricingCLP.totalAmount.getAsNumber() / _flight.pricing.shareNumber.shareQuantity.getAsNumber()}%
	                        <span ><span class="item-price usdpriceCon" style="font-size: 14px; padding-top: 7px;"><span class="simbolCurrency" style="font-size: 14px;">US$ </span>${shareValue}</span><span class="item-price clppriceCon hidden" style="font-size: 14px; padding-top: 7px;">${(int) shareValueCLP}</span></span>
	                    </div>
	                    <div class="col-xs-12 detail" style="padding-right:0px;">
	                       <ul>
	                            <li>C.A.E: ${_flight.pricing.shareNumber.cae.getAsString()}%</li>
	                            <li>Costo total: <span class="item-price usdpriceCon"><span class="simbolCurrency" >US$ </span>${_flight.pricing.totalWithOverCost.getAsString()}</span><span class="item-price clppriceCon hidden">${_flight.pricingCLP.totalWithOverCost.getAsString()}</span></li>
	                        </ul>
	                    </div>
	                </li>
                #{/if}
            </ul>
            <div class="text-center box-ticket-submit">
                <input type="hidden" name="promotion" value="${_promotion}">
                <input type="hidden" name="bfmResultItem" value="${_flight.toString()}">
                <input type="submit" style="margin-top:20px;" class="btn btn-ticket" value="Seleccionar">
                *{<a class="btn btn-ticket" href="@{PaymentFlowController.index}">Comprar</a>}*

            </div>
        </div>
    </form>
</div>
