<div class="row ticket">
    <form class="form-ticket" action="" method="">
        <div class="col-md-9 info-flight">
            <ul>
                <li class="txt-airport-date">
                    <ul>
                        <li>
                            <i class="icon-fly"></i>
                            <span class="leaving">ida</span>
                            <span class="fly-day">Jueves 1 de Mar. 2016</span>
                        </li>
                        <li>
                            <span class="airport">SCL</span>
                            <span class="description-airport">Santiago de Chile</span>
                        </li>
                        <li>
                            <span class="airport">SCL</span>
                            <span class="description-airport">Santiago de Chile</span>
                        </li>
                    </ul>
                </li>
                <li class="txt-view-detail">
                    <ul>
                        <li class="radio">
                            <label><input type="radio" name=""><img src="img/lan.jpg" title="" alt=""></label>
                        </li>
                        <li class="hour-of-flight">
                            <span>20:15</span>
                        </li>
                        <li class="stops-route">
                            <a href="">
                                <span class="stop-txt">1 escala</span>
                                <span class="circle"></span>
                                <span class="line-route"></span>
                            </a>
                        </li>
                        <li class="hour-of-flight">
                            <span>20:15</span>
                        </li>
                        <li class="time">
                            <span>18h 50m</span>
                        </li>
                        <li class="detail">
                            <a type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                detalle
                            </a>
                        </li>

                        <div class="collapse" id="collapseExample">
                            <div class="well">
                                ...
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="txt-airport-date">
                    <ul>
                        <li>
                            <i class="icon-fly-vuelta"></i>
                            <span class="leaving">vuelta</span>
                            <span class="fly-day">Jueves 1 de Mar. 2016</span>
                        </li>
                        <li>
                            <span class="airport">SCL</span>
                            <span class="description-airport">Santiago de Chile</span>
                        </li>
                        <li>
                            <span class="airport">SCL</span>
                            <span class="description-airport">Santiago de Chile</span>
                        </li>
                    </ul>
                </li>
                <li class="txt-view-detail">
                    <ul>
                        <li class="radio">
                            <label><input type="radio" name=""><img src="img/lan.jpg" title="" alt=""></label>
                        </li>
                        <li class="hour-of-flight">
                            <span>20:15</span>
                        </li>
                        <li class="stops-route">
                            <a href="">
                                <span class="stop-txt">2 escala</span>
                                <span class="circle left-circle"></span>
                                <span class="circle right-circle"></span>
                                <span class="line-route"></span>
                            </a>
                        </li>
                        <li class="hour-of-flight">
                            <span>20:15</span>
                        </li>
                        <li class="time">
                            <span>18h 50m</span>
                        </li>
                        <li class="detail">
                            <a type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                                detalle
                            </a>
                        </li>

                        <div class="collapse" id="collapseExample2">
                            <div class="well">
                                ...
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="txt-view-detail">
                    <ul>
                        <li class="radio">
                            <label><input type="radio" name=""><img src="img/lan.jpg" title="" alt=""></label>
                        </li>
                        <li class="hour-of-flight">
                            <span>20:15</span>
                        </li>
                        <li class="stops-route">
                            <a href="">
                                <span class="stop-txt">3 escala</span>
                                <span class="circle left-circle"></span>
                                <span class="circle"></span>
                                <span class="circle right-circle"></span>
                                <span class="line-route"></span>
                            </a>
                        </li>
                        <li class="hour-of-flight">
                            <span>20:15</span>
                        </li>
                        <li class="time">
                            <span>18h 50m</span>
                        </li>
                        <li class="detail">
                            <a type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                                detalle
                            </a>
                        </li>

                        <div class="collapse" id="collapseExample3">
                            <div class="well">
                                ...
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-md-3 ticket-detail">
            <div class="box-share">
                <a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Compartir" >
                    <i class="icon-mail"></i>
                </a>
                <a href=""  data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Agregar a favoritos">
                    <i class="icon-heart"></i>
                </a>
            </div>
            <span class="title">Precio por Adulto</span>
            <span class="price">$4.500</span>
            <ul class="detail-price">
                <li><span class="item-detail">1 Adulto</span><span class="item-price">$4500</span></li>
                <li><span class="item-detail">Imp. y Tasas</span><span class="item-price">$1500</span></li>
                <li><span class="item-detail">Cargas</span><span class="item-price">$500</span></li>
                <hr>
                <li><span class="item-detail">Total</span><span class="item-price">$6500</span></li>
            </ul>
            <div class="text-center box-ticket-submit">
                <input type="submit" class="btn btn-ticket" value="Comprar">
            </div>
        </div>
    </form>
</div>