                            %{
                              connectionsCount = _flight.departureSegment.flightsCount.getAsInt() - 1;
                              returnElapsedTimeEX = _flight.returnSegment.elapsedTime.getAsInt();
                              departureElapsedTimeEX = _flight.departureSegment.elapsedTime.getAsInt(); 
                              airportCode=_flight.departureSegment.departureAirportCode;
                            }%
                            
<div class="row ticket ticketBaxer" data-airportReturn="${_flight.returnAirportCode.getAsString()}" data-airportDeparture="${_flight.departureAirportCode.getAsString()}" data-departureElapsedTime="${departureElapsedTimeEX}" data-returnElapsedTime="${returnElapsedTimeEX}" data-returntime="${_flight.returnSegment.departureTime.getAsString()}" 
data-departuretime="${_flight.departureSegment.departureTime.getAsString()}" data-price="${_flight.passengerFare.getAsString()}" data-airline="${_flight.departureSegment.detail.get(0).operatingAirlineCode}" data-escala="${connectionsCount}"> 
    <form class="form-ticket" action="@{PaymentFlowController.index}" method="post">
        <div class="col-md-9 info-flight">
            <ul>
                <li class="txt-airport-date">
                    <ul>
                        <li>
                            <i class="icon-fly"></i>
                            <span class="leaving">ida</span>
                            <span class="fly-day">${_flight.departureDate.getAsString()}</span>
                        </li>
                        <li>
                            <span class="airport">${_flight.departureAirportCode.getAsString()}</span>
                            <span class="description-airport">${_flight.departureName.getAsString()}</span>
                        </li>
                        <li>
                            <span class="airport">${_flight.returnAirportCode.getAsString()}</span>
                            <span class="description-airport">${_flight.returnName.getAsString()}</span>
                        </li>
                    </ul>
                </li>
                <li class="txt-view-detail">
                    <ul>
                        <li class="radio">
                            <label><input type="radio" name="optiona"><img src="public/img/lan.jpg" title="" alt="">${_flight.departureSegment.airlinesCodes}</label>
                        </li>
                        <li class="hour-of-flight">
                            <span>${_flight.departureSegment.departureTime.getAsString()}</span>
                        </li>
                        <li class="stops-route">
                            <a href="#">
                                %{
                                    connectionsCount = _flight.departureSegment.flightsCount.getAsInt() - 1;
                                }%
                            #{if connectionsCount == 0 }
                                <span class="stop-txt">Directo</span>
                                <span class="line-route"></span>
                            #{/if}
                            #{elseif connectionsCount == 1 }
                                <span class="stop-txt">${connectionsCount} escala</span>
                                <span class="circle"></span>
                                <span class="line-route"></span>
                            #{/elseif}
                            #{elseif connectionsCount >= 2 }
                                <span class="stop-txt">${connectionsCount} escalas</span>
                                <span class="circle left-circle"></span>
                                <span class="circle right-circle"></span>
                                <span class="line-route"></span>
                            #{/elseif}
                            </a>
                        </li>
                        <li class="hour-of-flight">
                            <span>${_flight.departureSegment.returnTime.getAsString()}</span>
                        </li>
                        <li class="time">
                            %{
                            	departureElapsedTime = _flight.departureSegment.elapsedTime.getAsInt();
                                int departureElapsedHours = departureElapsedTime / 60;
                                int departureElapsedMinutes = departureElapsedTime % 60;
                            }%
                            <span>&{"%dh %02dm", departureElapsedHours, departureElapsedMinutes}</span>
                        </li>
                        <li class="detail">
                            <a type="button" data-toggle="collapse" data-target="#departureSegment${_flight.sequenceNumber.getAsString()}" aria-expanded="false" aria-controls="collapseExample" class="link-detail-desktop">
                                detalle
                            </a>
                            <a data-toggle="modal" data-target="#detailModalFlight" class="link-detail-mobile">detalle</a>
                        </li>

                        <div class="collapse" id="departureSegment${_flight.sequenceNumber.getAsString()}">
                            #{list items:_flight.departureSegment, as:'flightSegment'}
                                #{flightsItemDetail flightSegment:flightSegment/}
                            #{/list}
                        </div>
                    </ul>
                </li>
                <li class="txt-airport-date">
                    <ul>
                        <li>
                            <i class="icon-fly-vuelta"></i>
                            <span class="leaving">vuelta</span>
                            <span class="fly-day">${_flight.returnDate.getAsString()}</span>
                        </li>
                        <li>
                            <span class="airport">${_flight.returnAirportCode.getAsString()}</span>
                            <span class="description-airport">${_flight.returnName.getAsString()}</span>
                        </li>
                        <li>
                            <span class="airport">${_flight.departureAirportCode.getAsString()}</span>
                            <span class="description-airport">${_flight.departureName.getAsString()}</span>
                        </li>
                    </ul>
                </li>
                <li class="txt-view-detail">
                    <ul>
                        <li class="radio">
                            <label><input type="radio" name="optionb"><img src="public/img/lan.jpg" title="" alt="">${_flight.returnSegment.airlinesCodes}</label>
                        </li>
                        <li class="hour-of-flight">
                            <span>${_flight.returnSegment.departureTime.getAsString()}</span>
                        </li>
                        <li class="stops-route">
                            <a href="#">

                            #{if connectionsCount == 0 }
                                <span class="stop-txt">Directo</span>
                                <span class="line-route"></span>
                            #{/if}
                            #{if connectionsCount == 1 }
                                <span class="stop-txt">${connectionsCount} escala</span>
                                <span class="circle"></span>
                                <span class="line-route"></span>
                            #{/if}
                            #{if connectionsCount == 2 }
                                <span class="stop-txt">${connectionsCount} escalas</span>
                                <span class="circle left-circle"></span>
                                <span class="circle right-circle"></span>
                                <span class="line-route"></span>
                            #{/if}
                            </a>
                        </li>
                        <li class="hour-of-flight">
                            <span>${_flight.returnSegment.returnTime.getAsString()}</span>
                        </li>
                        <li class="time">
                        %{
                            returnElapsedTime = _flight.returnSegment.elapsedTime.getAsInt();
                            int returnElapsedHours = returnElapsedTime / 60;
                            int returnElapsedMinutes = returnElapsedTime % 60;
                            }%
                            <span>&{"%dh %02dm", returnElapsedHours, returnElapsedMinutes}</span>
                        </li>
                        <li class="detail">
                            <a type="button" data-toggle="collapse" data-target="#returnSegment${_flight.sequenceNumber.getAsString()}" aria-expanded="false" aria-controls="collapseExample2" class="link-detail-desktop">
                                detalle
                            </a>
                             <a data-toggle="modal" data-target="#detailModalFlight" class="link-detail-mobile">detalle</a>
                        </li>
                        </li>

                        <div class="collapse" id="returnSegment${_flight.sequenceNumber.getAsString()}">
                            #{list items:_flight.returnSegment, as:'flightSegment'}
                                #{flightsItemDetail flightSegment:flightSegment/}
                            #{/list}
                        </div>
                    </ul>
                </li>
                *{<li class="txt-view-detail">}*
                    *{<ul>}*
                        *{<li class="radio">}*
                            *{<label><input type="radio" name="optionb"><img src="public/img/lan.jpg" title="" alt=""></label>}*
                        *{</li>}*
                        *{<li class="hour-of-flight">}*
                            *{<span>20:15</span>}*
                        *{</li>}*
                        *{<li class="stops-route">}*
                            *{<a href="">}*
                                *{<span class="stop-txt">3 escala</span>}*
                                *{<span class="circle left-circle"></span>}*
                                *{<span class="circle"></span>}*
                                *{<span class="circle right-circle"></span>}*
                                *{<span class="line-route"></span>}*
                            *{</a>}*
                        *{</li>}*
                        *{<li class="hour-of-flight">}*
                            *{<span>20:15</span>}*
                        *{</li>}*
                        *{<li class="time">}*
                            *{<span>18h 50m</span>}*
                        *{</li>}*
                        *{<li class="detail">}*
                            *{<a type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3" class="link-detail-desktop">}*
                                *{detalle}*
                            *{</a>}*
                             *{<a data-toggle="modal" data-target="#detailModalFlight" class="link-detail-mobile">detalle</a>}*
                        *{</li>}*
                        *{</li>}*

                        *{<div class="collapse" id="collapseExample3">}*
                            *{<div class="well">}*
                                *{...}*
                            *{</div>}*
                        *{</div>}*
                    *{</ul>}*
                *{</li>}*
            </ul>
        </div>

        <div class="col-md-3 ticket-detail">
            <span class="last-ticket-available">
                <i class="icon-alert-ticket"></i>
                <span class="info-ticket-avaible">¡Últimos 2 lugares!</span>
            </span>
            <span class="title">Precio por Adulto</span>
            <span class="price">$${_flight.passengerFare.getAsString()}</span>
            <ul class="detail-price">
                <li><span class="item-detail">${_flight.passengers} Adulto</span><span class="item-price">$${_flight.totalPassengerFare.getAsString()}</span></li>
                <li><span class="item-detail">Imp. y Tasas</span><span class="item-price">$${_flight.taxFare.getAsString()}</span></li>
                <li><span class="item-detail">Cargas</span><span class="item-price">$???????</span></li>
                <hr>
                <li><span class="item-detail">Total</span><span class="item-price">$${_flight.totalFare.getAsString()}</span></li>
            </ul>
            <div class="text-center box-ticket-submit">
                <input type="hidden" name="departureDate" value="${_flight.departureDate.getAsString()}">
                <input type="hidden" name="departureAirportCode" value="${_flight.departureAirportCode.getAsString()}">
                <input type="hidden" name="returnDate" value="${_flight.returnDate.getAsString()}">
                <input type="hidden" name="returnAirportCode" value="${_flight.returnAirportCode.getAsString()}">
                <input type="hidden" name="taxFare" value="${_flight.taxFare.getAsString()}">
                <input type="hidden" name="totalFare" value="${_flight.totalFare.getAsString()}">
                <input type="submit" class="btn btn-ticket" value="Comprar">
                *{<a class="btn btn-ticket" href="@{PaymentFlowController.index}">Comprar</a>}*

            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    #{get 'moreScripts' /}
</script>

