                            %{                                   
                              connectionsDepartureCount = _flightsResults.get(0).departureSegment.flightsCount.getAsInt() - 1;
                              connectionsReturnCount = _flightsResults.get(0).returnSegment.flightsCount.getAsInt() - 1;
                              returnElapsedTimeEX = _flightsResults.get(0).returnSegment.elapsedTime.getAsInt();
                              departureElapsedTimeEX = _flightsResults.get(0).departureSegment.elapsedTime.getAsInt();
                              baxerHeight = _flightsResults.get(0).pricing.shareNumber!=null? '350px':'320px';
                            }%
			#{if baxerHeight == "350px" && _flight.pricing.accountCode}
			%{
				baxerHeight = "390px";
			}%
			#{/if}
			#{if baxerHeight == "320px" && _flight.pricing.accountCode}
			%{
				baxerHeight = "350px";
			}%
			#{/if}

<div class="row ticket ticketBaxer" 
		data-airportReturn="${_flight.returnAirportCode.getAsString()}" 
		data-airportDeparture="${_flight.departureAirportCode.getAsString()}" 
		data-departureElapsedTime="${departureElapsedTimeEX}"
		data-returnElapsedTime="${returnElapsedTimeEX}" 
		data-allStopsi="${_allStops.get('I_'+_indexTicket)}" 
		data-allStopsv="${_allStops.get('V_'+_indexTicket)}"
		data-returntime="${_flightsResults.get(0).returnSegment.departureTime.getAsString()}" 
		data-departuretime="${_flightsResults.get(0).departureSegment.departureTime.getAsString()}" 
		data-price="${_flight.pricing.totalPassengerFare.getAsString()}"
		data-airline="${_flight.idaAirSearchSegments.get(0).airlinesCodes.get(0).getAsString()}"
        data-marketingAirline="${_flight.idaAirSearchSegments.get(0).marketingAirlinesCodes.get(0).getAsString()}"
        data-validatingcarrier="${_flight.pricing.validatingCarrier.getAsString()}"
		data-escala="${_flight.idaAirSearchSegments.get(0).flightsCount.getAsInt() - 1}"
		data-returnEscala="${connectionsReturnCount}" style="min-height: ${baxerHeight}">
    <form class="form-ticket" id="fnumber${_flightNumber}" action="@{PaymentFlowController.index}" method="post" data-tknumber="${_tknumber}">
    	<input type="hidden" name="selectedCurrency" class="selCurrency" value="usd" id="hdnSelectedCurrency"/>
    	
        <div class="col-md-9 info-flight">
            <ul>
                <li class="txt-airport-date">
                    <ul>
                        <li>
                            <i class="icon-fly"></i>
                            <span class="leaving">ida </span>
                            <span class="fly-day">${utils.DateUtils.reformateDate(_flight.departureDate.getAsString(),"yyyy-MM-dd","dd-MM-yyyy")}</span>
                        </li>
                        <li>
                            <span class="airport">${new utils.ApiFlightsSdk.v1.Airport().getByIataCode(_flight.departureAirportCode.getAsString()).name}</span>
                            <span class="description-airport">${_flight.departureAirportCode.getAsString()}</span>
                        </li>
                        <li>
                            <span class="airport">${new utils.ApiFlightsSdk.v1.Airport().getByIataCode(_flight.returnAirportCode.getAsString()).name}</span>
                            <span class="description-airport">${_flight.returnAirportCode.getAsString()}</span>
                        </li>
                    </ul>
                </li>
                #{list items:_flight.idaAirSearchSegments, as:'segment'}
                <li class="txt-view-detail #{if segment_index==1} shadow-checked #{/if}">
                 				%{
                                    connectionsCount = segment.flightsCount.getAsInt() - 1;
                                    stopsQtySignal = (segment.detail.inject(0, { sum, value -> sum + value.stopQuantity?.getAsInt() }) > 0)?"*":""
                                }%
                    <ul class="segmentBaxerIda" data-departuretime="${segment.departureTime.getAsString()}" data-returntime="${segment.returnTime.getAsString()}"
                    							data-departureelapsedtime="${segment.elapsedTime.getAsInt()}" data-escalas="${connectionsCount}" data-marketingairline="${segment.detail.get(0).marketingAirline.getAsString()}">
                    	
                    	<input type="radio" name="resultSegmentIda" value="${segment.toString()}" class="r${_flightNumber}" #{if segment_index==1} checked="checked" #{/if} />
                        <li style="width:20%;" id="liAirlineBaxer">
                            <label style="font-weight: 500;">
                            
                            #{if segment.detail.size()>1}
                            
                            	%{def airlinesPrinted='';}%
                            	%{def numberAirlinesPrinted=0;}%
                            	#{list items:segment.detail, as:"detail"}
                            		%{def fullName=_flightsResultsFilters?.mktCarriersCodesXNames?.get(detail.marketingAirline.getAsString())}%
                            		#{if !airlinesPrinted.contains(detail.marketingAirline.getAsString())}
                            			%{airlinesPrinted = airlinesPrinted + detail.marketingAirline.getAsString() + ',';}%
                            			%{numberAirlinesPrinted++;}%
                            			#{airlineLogo carriersCode:detail.marketingAirline.getAsString().toLowerCase(), carriersName: detail.marketingAirline.getAsString(), carriersFullName:fullName /}
                            		#{/if}
                                #{/list}
                                #{if numberAirlinesPrinted==1}
                                	${_flightsResultsFilters?.mktCarriersCodesXNames?.get(segment.detail.get(0).marketingAirline.getAsString())}
                                #{/if}
                                
                            #{/if}    
                            #{else}
                                #{list items:segment.detail.get(0).marketingAirline, as:"airlineCode"}
                                	#{airlineLogo carriersCode:airlineCode?.getAsString().toLowerCase(), carriersName: airlineCode /}
                                	${_flightsResultsFilters?.mktCarriersCodesXNames?.get(airlineCode.getAsString())}
                                #{/list}
                            #{/else}
                            
                            </label>
                        </li>
			<li class="hour-of-flight" style="width: 13% !important;">
                            <span>${segment.departureTime.getAsString()}</span>
                        </li>
                        <li class="stops-route">
                            <a type="button" data-toggle="collapse" data-target="#departureSegment${_flight.sequenceNumber.getAsString()}" aria-expanded="false" aria-controls="collapseExample" class="link-detail-desktop">
                            #{if connectionsCount == 0 }
                                <span class="stop-txt">Directo${stopsQtySignal}</span>
                                <span class="line-route"></span>
                            #{/if}
                            #{elseif connectionsCount == 1 }
                                <span class="stop-txt">${connectionsCount} escala${stopsQtySignal}</span>
                                <span class="circle"></span>
                                <span class="line-route"></span>
                            #{/elseif}
                            #{elseif connectionsCount >= 2 }
                                <span class="stop-txt">${connectionsCount}&nbsp;escalas${stopsQtySignal}</span>
                                <span class="circle left-circle"></span>
                                <span class="circle right-circle"></span>
                                <span class="line-route"></span>
                            #{/elseif}
                            </a>
                        </li>
                        <li class="hour-of-flight" style="width: 13% !important;">
                            <span>${segment.returnTime.getAsString()}</span>
                            #{daysDifference departure:segment.departureDate, arrival: segment.returnDate/}
                        </li>
                        <li class="time">
                            %{
                            	departureElapsedTime = segment.elapsedTime.getAsInt();
                                int departureElapsedHours = departureElapsedTime / 60;
                                int departureElapsedMinutes = departureElapsedTime % 60;
                            }%
                            <span>&{"%dh %02dm", departureElapsedHours, departureElapsedMinutes}</span>
                        </li>
                        <li class="detail" style="width:12%;">
                            <a id="departureSegment${_flight.sequenceNumber.getAsString()}_${segment_index}Button" type="button" data-toggle="collapse" data-target="#departureSegment${_flight.sequenceNumber.getAsString()}_${segment_index}" aria-expanded="false" aria-controls="collapseExample" class="link-detail-desktop" style="font-weight: bold;">
                                Ver detalle
                            </a>
                            <a data-toggle="modal" data-target="#detailModalFlight${_flight.sequenceNumber.getAsString()}_${segment_index}" class="link-detail-mobile">detalle</a>
                            
                            <!-- Modal -->
<div class="modal fade" id="detailModalFlight${_flight.sequenceNumber.getAsString()}_${segment_index}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content info-flight">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-close-modal"></i></button>
							        <h4 class="modal-title" id="myModalLabel">Detalle del Vuelo</h4>
							      </div>
							      <div class="modal-body txt-view-detail">
  										#{list items:segment, as:'flightSegment'}
				                           		 #{modalDetail flightSegment:flightSegment, flightsResultsFilters:_flightsResultsFilters, bookingCodes: _flightsResults.get(0).pricing.bookingCodes/}
				                        #{/list}
	                                    <!-- END MODAL BODY-->
							      </div>
							    </div>
							  </div>
							</div>
	                            
                            
                            
                            
                        </li>
                        <div class="collapse" id="departureSegment${_flight.sequenceNumber.getAsString()}_${segment_index}">
                           
                            #{list items:segment, as:'flightSegment'}
                                #{flightsItemDetail flightSegment:flightSegment, flightsResultsFilters:_flightsResultsFilters, bookingCodes: _flightsResults.get(0).pricing.bookingCodes,
                                	baggageInfoList: _flight.baggageInformationDtoList, meals:_flight.pricing.meals, isDeparture:true, startSegmentCount: flightSegment.flightsCount.getAsInt()/}
                            #{/list}
                        </div>
                    </ul>
                </li>
                
                 #{/list}
                <li class="txt-airport-date">
                    <ul>
                        <li>
                            <i class="icon-fly-vuelta"></i>
                            <span class="leaving">vuelta</span>
                            <span class="fly-day">${utils.DateUtils.reformateDate(_flightsResults.get(0).returnDate.getAsString(),"yyyy-MM-dd","dd-MM-yyyy")}</span>
                        </li>
                        <li>
                            <span class="airport">${new utils.ApiFlightsSdk.v1.Airport().getByIataCode(_flightsResults.get(0).returnSegment.departureCityCode.getAsString()).name}</span>
                            <span class="description-airport">${_flightsResults.get(0).returnSegment.departureCityCode.getAsString()}</span>
                        </li>
                        <li>
                            <span class="airport">${new utils.ApiFlightsSdk.v1.Airport().getByIataCode(_flightsResults.get(0).returnSegment.returnCityCode.getAsString()).name}</span>
                            <span class="description-airport">${_flightsResults.get(0).returnSegment.returnCityCode.getAsString()}</span>
                        </li>
                    </ul>
                </li>
       
                
                #{list items:_flight.vueltaAirSearchSegments, as:'segment'}
                <li class="txt-view-detail #{if segment_index==1} shadow-checked #{/if}">
                			%{
                                connectionsCount = segment.flightsCount.getAsInt() - 1;
                            }%
                    <ul class="segmentBaxerVuelta" data-departuretime="${segment.departureTime.getAsString()}" data-returntime="${segment.returnTime.getAsString()}" 
                    							   data-returnelapsedtime="${segment.elapsedTime.getAsInt()}"  data-escalas="${connectionsCount}" data-marketingairline="${segment.detail.get(0).marketingAirline.getAsString()}">
                    							   
                    	<input type="radio" name="resultSegmentVuelta" value="${segment.toString()}" class="r${_flightNumber}" #{if segment_index==1} checked="checked" #{/if}/>
                    	
                        <li style="width:20%;" id="liAirlineBaxer">
                            <label style="font-weight: 500;">
                            #{if segment.detail.size()>1}
                            
                            	%{def airlinesPrinted='';}%
                            	%{def numberAirlinesPrinted=0;}%
                            	#{list items:segment.detail, as:"detail"}
                            		%{def fullName=_flightsResultsFilters?.mktCarriersCodesXNames?.get(detail.marketingAirline.getAsString())}%
                            		#{if !airlinesPrinted.contains(detail.marketingAirline.getAsString())}
                            			%{airlinesPrinted = airlinesPrinted + detail.marketingAirline.getAsString() + ',';}%
                            			%{numberAirlinesPrinted++;}%
                            			#{airlineLogo carriersCode:detail.marketingAirline.getAsString().toLowerCase(), carriersName: detail.marketingAirline.getAsString(), carriersFullName:fullName /}
                            		#{/if}
                                #{/list}
                                #{if numberAirlinesPrinted==1}
                                	${_flightsResultsFilters?.mktCarriersCodesXNames?.get(segment.detail.get(0).marketingAirline.getAsString())}
                                #{/if}
                                
                            #{/if}    
                            #{else}
                                #{list items:segment.detail.get(0).marketingAirline, as:"airlineCode"}
                                	#{airlineLogo carriersCode:airlineCode?.getAsString().toLowerCase(), carriersName: airlineCode /}
                                	${_flightsResultsFilters?.mktCarriersCodesXNames?.get(airlineCode.getAsString())}
                                #{/list}
                            #{/else}

                            </label>
                        </li>
                        <li class="hour-of-flight" style="width: 13% !important;">
                            <span>${segment.departureTime.getAsString()}</span>
                        </li>
                        <li class="stops-route">
                            <a type="button" data-toggle="collapse" data-target="#returnSegment${_flight.sequenceNumber.getAsString()}" aria-expanded="false" aria-controls="collapseExample2" class="link-detail-desktop">
                            
                            #{if connectionsCount == 0 }
                                <span class="stop-txt">Directo</span>
                                <span class="line-route"></span>
                            #{/if}
                            #{if connectionsCount == 1 }
                                <span class="stop-txt">${connectionsCount} escala</span>
                                <span class="circle"></span>
                                <span class="line-route"></span>
                            #{/if}
                            #{if connectionsCount >= 2 }
                                <span class="stop-txt">${connectionsCount}&nbsp;escalas</span>
                                <span class="circle left-circle"></span>
                                <span class="circle right-circle"></span>
                                <span class="line-route"></span>
                            #{/if}
                            </a>
                        </li>
                        <li class="hour-of-flight" style="width: 13% !important;">
                            <span>${segment.returnTime.getAsString()}</span>
                            #{daysDifference departure:segment.departureDate, arrival: segment.returnDate/}
                        </li>
                        <li class="time">
                        %{
                            returnElapsedTime = segment.elapsedTime.getAsInt();
                            int returnElapsedHours = returnElapsedTime / 60;
                            int returnElapsedMinutes = returnElapsedTime % 60;
                            }%
                            <span>&{"%dh %02dm", returnElapsedHours, returnElapsedMinutes}</span>
                        </li>
                        <li class="detail" style="width:12%;">
                            <a id="returnSegment${_flight.sequenceNumber.getAsString()}_${segment_index}Button" type="button" data-toggle="collapse" data-target="#returnSegment${_flight.sequenceNumber.getAsString()}_${segment_index}" aria-expanded="false" aria-controls="collapseExample2" class="link-detail-desktop" style="font-weight: bold;">
                                Ver detalle
                            </a>
                             <a data-toggle="modal" data-target="#detailModalFlight2${_flight.sequenceNumber.getAsString()}_${segment_index}" class="link-detail-mobile">detalle</a>
                             
                            <!-- Modal -->
							<div class="modal fade" id="detailModalFlight2${_flight.sequenceNumber.getAsString()}_${segment_index}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content info-flight">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-close-modal"></i></button>
							        <h4 class="modal-title" id="myModalLabel">Detalle del Vuelo</h4>
							      </div>
							      <div class="modal-body txt-view-detail">
				                            #{list items:segment, as:'flightSegment'}
				                           		 #{modalDetail flightSegment:flightSegment, flightsResultsFilters:_flightsResultsFilters, bookingCodes: _flightsResults.get(0).pricing.bookingCodes/}
				                            #{/list}
				                     
	                                    <!-- END MODAL BODY-->
							      </div>
							    </div>
							  </div>
							</div>
							
							
                        </li>
                        
                        <div class="collapse" id="returnSegment${_flight.sequenceNumber.getAsString()}_${segment_index}">
                            
                            #{list items:segment, as:'flightSegment'}
                                #{flightsItemDetail flightSegment:flightSegment, flightsResultsFilters:_flightsResultsFilters, bookingCodes:_flightsResults.get(0).pricing.bookingCodes,
                                	baggageInfoList: _flight.baggageInformationDtoList, meals:_flight.pricing.meals, isDeparture:false, startSegmentCount: segment.flightsCount.getAsInt()/}
                            #{/list}
                            
                        </div>
                    </ul>
                </li>
                
                 #{/list}
                
                <li class="info-detail-promo" id="bigImgPromoLi">
                	#{if _flight.pricing.urlBannerImage!=null && !_flight.pricing.urlBannerImage.equals("")}
	               		<img style="height:auto;" src="${utils.CloudinaryUtils.getUrl(_flight.pricing.urlBannerImage.getAsString(), 'q_90,c_fill,h_130', '')}">
                   	#{/if}
                </li>
                <li class="info-detail-promo" id="mobileImgPromoLi">
                	#{if _flight.pricing.urlBannerImageMobile!=null && !_flight.pricing.urlBannerImageMobile.equals("")}
	               		<img style="height:200px;" src="${utils.CloudinaryUtils.getUrl(_flight.pricing.urlBannerImageMobile.getAsString(), 'q_90,c_fill,h_200', '')}">
                   	#{/if}
                </li>
            </ul>
        </div>

        <div class="col-md-3 ticket-detail">
            #{if _flight.pricing.accountCode} *{CAMBIAR ESTA CONDICION CUANDO VENGA LA INFO DE LA API}*
            <span class="private-fare">
                <i class="icon-private-fare"></i>
                <span class="info-private-fare">Tarifa Exclusiva</span>
            </span>
            #{/if}
            #{else}
                *{<span class="private-fare-space-saver">&nbsp;</span>}*
            #{/else}
            #{if _flight.pricing.adtTotalPriceBeforeDiscount && _flight.pricing.adtTotalPriceBeforeDiscount != _flight.pricing.adtTotalPrice}
                <span class="private-fare-space-saver" id="private-fare-img"><img src="https://res.cloudinary.com/hyvrprjak/image/upload/c_scale,w_60/superDosB.jpg" alt="Super Dos" title="super dos"></span>
            #{/if}
            #{else}
                <span class="private-fare-space-saver" id="private-fare-img">&nbsp;</span>
            #{/else}
            <span class="title">Precio por Adulto</span>
            #{if _flight.pricingCLP.adtTotalPriceWithAllTaxes.getAsDouble() > _flight.pricingCLP.adtTotalPrice.getAsDouble() && _flight.pricing.adtTotalPriceBeforeDiscount && _flight.pricing.adtTotalPriceBeforeDiscount != _flight.pricing.adtTotalPrice}
            <span class="price before-discount"><span class="usdpriceCon"><span class="simbolCurrency">US$</span><span class="superUsdPrice">${_flight.pricing.adtTotalPriceWithAllTaxes?.getAsString()}</span></span><span class="clppriceCon hidden">${_flight.pricingCLP.adtTotalPriceWithAllTaxes?.getAsString()}</span></span>
            <span class="price"><span class="usdpriceCon"><span class="simbolCurrency">US$</span><span class="superUsdPrice">${_flight.pricing.adtTotalPriceString?.getAsString()}</span><span class="clppriceCon hidden superPrice">${_flight.pricingCLP.adtTotalPriceString?.getAsString()}</span></span>
            #{/if}
            #{elseif _flight.pricingCLP.adtTotalPriceWithAllTaxes.getAsDouble() <= _flight.pricingCLP.adtTotalPrice.getAsDouble() && _flight.pricing.adtTotalPriceBeforeDiscount && _flight.pricing.adtTotalPriceBeforeDiscount != _flight.pricing.adtTotalPrice}
            <span class="price"><span class="usdpriceCon"><span class="simbolCurrency">US$</span><span class="superUsdPrice">${_flight.pricing.adtTotalPriceString?.getAsString()}</span></span><span class="clppriceCon hidden superPrice">${_flight.pricingCLP.adtTotalPriceString?.getAsString()}</span></span>
            #{/elseif}
            #{else}
            <span class="price"><span class="usdpriceCon"><span class="simbolCurrency">US$</span><span class="superUsdPrice">${_flight.pricing.adtTotalPriceWithAllTaxes?.getAsString()}</span></span><span class="clppriceCon hidden superPrice">${_flight.pricingCLP.adtTotalPriceWithAllTaxes?.getAsString()}</span></span>
            #{/else}
           
            <ul class="detail-price">
        
		              
                      
               	<li><span class="item-detail">${_flight.pricing.detail.getAsJsonArray().get(0).getAsJsonObject().quantity.getAsInt()} Adulto${_flight.pricing.detail.getAsJsonArray().get(0).getAsJsonObject().quantity.getAsInt().pluralize()}</span><span class="item-price usdpriceCon"><span class="simbolCurrency">US$</span>${_flight.pricing.totalAdt.getAsString()}</span><span class="item-price clppriceCon hidden">${_flight.pricingCLP.totalAdt.getAsString()}</span></li>
                	
                #{if _flight.pricing.detail.getAsJsonArray().size()>1}	
                	<li><span class="item-detail">${_flight.pricing.detail.getAsJsonArray().get(1).getAsJsonObject().quantity.getAsInt()} Niño${_flight.pricing.detail.getAsJsonArray().get(1).getAsJsonObject().quantity.getAsInt().pluralize()}</span><span class="item-price usdpriceCon"><span class="simbolCurrency">US$</span>${_flight.pricing.totalChd.getAsString()}</span><span class="item-price clppriceCon hidden">${_flight.pricingCLP.totalChd.getAsString()}</span></li>
                #{/if}
                #{if _flight.pricing.detail.getAsJsonArray().size()>2}
                	<li><span class="item-detail">${_flight.pricing.detail.getAsJsonArray().get(2).getAsJsonObject().quantity.getAsInt()} Infante${_flight.pricing.detail.getAsJsonArray().get(2).getAsJsonObject().quantity.getAsInt().pluralize()}</span><span class="item-price usdpriceCon"><span class="simbolCurrency">US$</span>${_flight.pricing.totalInf.getAsString()}</span><span class="item-price clppriceCon hidden">${_flight.pricingCLP.totalInf.getAsString()}</span></li>
                #{/if}
                
                
                <li><span class="item-detail">Imp. y Tasas</span><span class="item-price usdpriceCon"><span class="simbolCurrency">US$ </span>${_flight.pricing.totalTax?.getAsString()}</span><span class="item-price clppriceCon hidden">${_flight.pricingCLP.totalTax?.getAsString()}</span></li>
                #{if _flight.pricingCLP?.totalFee!=null && _flight.pricingCLP?.totalFee.getAsInt()>0 && !_flight.pricingCLP?.totalFee.getAsString().trim().equals('')}
                	<li><span class="item-detail">Gestión agencia </span><span class="item-price usdpriceCon"><span class="simbolCurrency">US$ </span>${_flight.pricing.totalFee?.getAsString()}</span><span class="item-price clppriceCon hidden">${_flight.pricingCLP.totalFee?.getAsString()}</span></li>
                #{/if}
                <hr>
                <li><span class="">Total </span><span class="item-price usdpriceCon"><span class="simbolCurrency">US$ </span>${_flight.pricing.totalAmount?.getAsString()}</span><span class="item-price clppriceCon hidden">${_flight.pricingCLP.totalAmount?.getAsString()}</span></li>
                <li style="text-align: center;">Incluye tasas e impuestos</li>
              
                #{if _flight.pricing.shareNumber!=null}
	                <li class="info-detail-dues">
	                    <div class="col-xs-6 interest-free" style="padding-right: 5px;"><span>${_flight.pricing.shareNumber.shareQuantity.getAsString()} cuotas sin interés</span></div>
	                    <div class="col-xs-6 total" style="padding-left: 5px; padding-right: 0px;">
	                    %{def shareValue =  new java.text.DecimalFormat("#.##").format(_flight.pricing.totalAmount.getAsNumber() / _flight.pricing.shareNumber.shareQuantity.getAsNumber())}%
	                    %{def shareValueCLP = _flight.pricingCLP.totalAmount.getAsNumber() / _flight.pricing.shareNumber.shareQuantity.getAsNumber()}%
	                        <span ><span class="item-price usdpriceCon" style="font-size: 14px; padding-top: 7px;"><span class="simbolCurrency" style="font-size: 14px;">US$ </span>${shareValue}</span><span class="item-price clppriceCon hidden" style="font-size: 14px; padding-top: 7px;">${(int) shareValueCLP}</span></span>
	                    </div>
	                    <div class="col-xs-12 detail" style="padding-right:0px;">
	                       <ul>
	                            <li>C.A.E: ${_flight.pricing.shareNumber.cae.getAsString()}%</li>
	                            <li>Costo total: <span class="item-price usdpriceCon"><span class="simbolCurrency" >US$ </span>${_flight.pricing.totalWithOverCost.getAsString()}</span><span class="item-price clppriceCon hidden">${_flight.pricingCLP.totalWithOverCost.getAsString()}</span></li>
	                        </ul>
	                    </div>
	                </li>
                #{/if}
            </ul>
            <div class="text-center box-ticket-submit">
                <input type="hidden" name="promotion" value="${_promotion}">
                <input type="hidden" name="bfmResultItem" value="${_flight.toString()}">
                <input type="submit" style="margin-top:20px;" class="btn btn-ticket btnSelFlight" data-flightnumber="${_flightNumber}" value="Seleccionar">
                <input type="hidden" name="pricingElement" value="${_flight.pricing.toString()}"/>
                *{<a class="btn btn-ticket" href="@{PaymentFlowController.index}">Comprar</a>}*

            </div>
        </div>
    </form>
</div>
