<div class="row ticket">
    <form class="form-ticket" action="" method="">
        <div class="col-md-9 info-flight">
            <ul>
                <li class="txt-airport-date">
                    <ul>
                        <li>
                            <i class="icon-fly"></i>
                            <span class="leaving">ida</span>
                            <span class="fly-day">Jueves 1 de Mar. 2016</span>
                        </li>
                        <li>
                            <span class="airport">SCL</span>
                            <span class="description-airport">Santiago de Chile</span>
                        </li>
                        <li>
                            <span class="airport">SCL</span>
                            <span class="description-airport">Santiago de Chile</span>
                        </li>
                    </ul>
                </li>
                <li class="txt-view-detail">
                    <ul>
                        <li class="radio">
                            <label><input type="radio" name="optiona"><img src="public/img/lan.jpg" title="" alt=""></label>
                        </li>
                        <li class="hour-of-flight">
                            <span>20:15</span>
                        </li>
                        <li class="stops-route">
                            <a href="">
                                <span class="stop-txt">1 escala</span>
                                <span class="circle"></span>
                                <span class="line-route"></span>
                            </a>
                        </li>
                        <li class="hour-of-flight">
                            <span>20:15</span>
                        </li>
                        <li class="time">
                            <span>18h 50m</span>
                        </li>
                        <li class="detail">
                            <a type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="link-detail-desktop">
                                detalle
                            </a>
                            <a data-toggle="modal" data-target="#detailModalFlight" class="link-detail-mobile">detalle</a>
                        </li>

                        <div class="collapse" id="collapseExample">
                            <div class="well">
                            <!--DETAIL TITLE FLIGHT-->
                                <ul class="detail-title-flight">
                                    <li class="title-text-from-to">
                                        Buenos Aires
                                        <span class="airport-code">(BUE)</span>
                                        <span class="title-text-to">
                                            <i class="icon-arrow-airport"></i>
                                        </span>
                                        Valencia
                                        <span class="airport-code">(VLC)</span>
                                    </li>
                                    <li class="title-text-total-duration">                                        
                                        <span class="title-duration">DURACIÓN TOTAL:</span>
                                        <span class="title-duration-time">
                                        35h 40m
                                        </span>
                                    </li>
                                </ul>

                            <!--DETAIL BODY FLIGHT-->
                                <ul class="detail-body-flight">
                                    <li class="airline-logo">
                                        <img src="public/img/lan.jpg" title="" alt="">
                                    </li>
                                    <li class="flight-detail-data">
                                        <ul>
                                        <!--SALE LLEGA-->
                                            <li class="flight-detail-data-route">
                                                <div>         
                                                    <span class="inline-detail-airport-date">
                                                    <span class="inline-detail-airport-date-text">Sale:</span>
                                                    <span>Vie 19 Ago. 2016</span>

                                                    </span>
                                                    <span class="inline-detail-airport-code-wrapper">
                                                    <span class="inline-detail-airport-code">EZE</span>
                                                    <span class="inline-detail-airport-hour">23:10</span>
                                                    </span>
                                                    <span class="inline-detail-airport-description">
                                                    Buenos Aires - Aeropuerto Buenos Aires Ministro Pistarini Ezeiza (EZE) </span>
                                                </div>
                                                <div class="arrow-airport">
                                                    <i class="icon-arrow-airport"></i>
                                                </div>
                                                <div>
                                                    <span class="inline-detail-airport">
                                                    <span class="inline-detail-airport-date">

                                                    <span class="inline-detail-airport-date-text">Llega:</span>
                                                    <span>Sáb 20 Ago. 2016</span>
                                                    </span>
                                                    <span class="inline-detail-airport-code-wrapper">
                                                    <span class="inline-detail-airport-code">GRU</span>
                                                    <span class="inline-detail-airport-hour">01:50</span>
                                                    <span class="days-difference">
                                                    <span>+1 dia</span>
                                                    </span>
                                                    </span>
                                                    <span class="inline-detail-airport-description">
                                                    San Pablo - Aeropuerto Internacional Guarulhos (GRU)
                                                    </span>
                                                    </span>
                                                </div>
                                            </li>

                                        <!--DETAIL DATA FLIGHT-->
                                            <li class="flight-detail-data-flight">
                                                <div class="inline-detail-flight-data">
                                                    <span class="inline-detail-flight-data-title">DURACIÓN</span>
                                                    <span class="inline-detail-flight-data-description">2h 40m</span>
                                                </div>
                                                <div class="inline-detail-flight-data">
                                                    <span class="inline-detail-flight-data-title">VUELO N°</span>
                                                    <span class="inline-detail-flight-data-description">16</span>
                                                </div>
                                                <div class="inline-detail-flight-data inline-detail-flight-cabinType">
                                                    <span class="inline-detail-flight-data-title">CLASE</span>
                                                    <span class="inline-detail-flight-data-description">Económica</span>
                                                </div>
                                                <div class="box-airplane-name">
                                                    <span class="airplane-name">
                                                    <i class="icon-airplane-name"></i>
                                                    Boeing 777-300ER
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!--END WELL-->
                        </div>
                    </ul>
                </li>
                <li class="txt-airport-date">
                    <ul>
                        <li>
                            <i class="icon-fly-vuelta"></i>
                            <span class="leaving">vuelta</span>
                            <span class="fly-day">Jueves 1 de Mar. 2016</span>
                        </li>
                        <li>
                            <span class="airport">SCL</span>
                            <span class="description-airport">Santiago de Chile</span>
                        </li>
                        <li>
                            <span class="airport">SCL</span>
                            <span class="description-airport">Santiago de Chile</span>
                        </li>
                    </ul>
                </li>
                <li class="txt-view-detail">
                    <ul>
                        <li class="radio">
                            <label><input type="radio" name="optionb"><img src="public/img/lan.jpg" title="" alt=""></label>
                        </li>
                        <li class="hour-of-flight">
                            <span>20:15</span>
                        </li>
                        <li class="stops-route">
                            <a href="">
                                <span class="stop-txt">2 escala</span>
                                <span class="circle left-circle"></span>
                                <span class="circle right-circle"></span>
                                <span class="line-route"></span>
                            </a>
                        </li>
                        <li class="hour-of-flight">
                            <span>20:15</span>
                        </li>
                        <li class="time">
                            <span>18h 50m</span>
                        </li>
                        <li class="detail">
                            <a type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2" class="link-detail-desktop">
                                detalle
                            </a>
                             <a data-toggle="modal" data-target="#detailModalFlight" class="link-detail-mobile">detalle</a>
                        </li>
                        </li>

                        <div class="collapse" id="collapseExample2">
                            <div class="well">
                                ...
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="txt-view-detail">
                    <ul>
                        <li class="radio">
                            <label><input type="radio" name="optionb"><img src="public/img/lan.jpg" title="" alt=""></label>
                        </li>
                        <li class="hour-of-flight">
                            <span>20:15</span>
                        </li>
                        <li class="stops-route">
                            <a href="">
                                <span class="stop-txt">3 escala</span>
                                <span class="circle left-circle"></span>
                                <span class="circle"></span>
                                <span class="circle right-circle"></span>
                                <span class="line-route"></span>
                            </a>
                        </li>
                        <li class="hour-of-flight">
                            <span>20:15</span>
                        </li>
                        <li class="time">
                            <span>18h 50m</span>
                        </li>
                        <li class="detail">
                            <a type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3" class="link-detail-desktop">
                                detalle
                            </a>
                             <a data-toggle="modal" data-target="#detailModalFlight" class="link-detail-mobile">detalle</a>
                        </li>
                        </li>

                        <div class="collapse" id="collapseExample3">
                            <div class="well">
                                ...
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-md-3 ticket-detail">
        <!--
            <div class="box-share">
                <a href="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Compartir" >
                    <i class="icon-mail"></i>
                </a>
                <a href=""  data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Agregar a favoritos">
                    <i class="icon-heart"></i>
                </a>
            </div>
        -->
            <span class="title">Precio por Adulto</span>
            <span class="price">$4.500</span>
            <ul class="detail-price">
                <li><span class="item-detail">1 Adulto</span><span class="item-price">$4500</span></li>
                <li><span class="item-detail">Imp. y Tasas</span><span class="item-price">$1500</span></li>
                <li><span class="item-detail">Cargas</span><span class="item-price">$500</span></li>
                <hr>
                <li><span class="item-detail">Total</span><span class="item-price">$6500</span></li>
            </ul>
            <div class="text-center box-ticket-submit">
                <input type="submit" class="btn btn-ticket" value="Comprar">
            </div>
        </div>
    </form>
</div>

