
<!-- Modal -->
<div class="modal fade expired-session-flight" id="modalExpiredSession" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content info-flight">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-close-modal"></i></button>
        <h4 class="modal-title" id="myModalLabel">La sesión ha caducado</h4>
      </div>
      <div class="modal-body">

        <p>Lo sentimos, pero debido a que has permanecido mucho tiempo inactivo, tendrás que volver a realizar la búsqueda.</p>
        <ul>
            <li><strong class="name-flight">Santiago de Chile a New York</strong></li>
            <li><span class="to-flight">Salida: 13 nov. 2016</span>  |  <span class="from-flight">Vuelta: 17 nov 2016</span></li>
            <li>Para 2 pasajeros</li>
        </ul>
      </div>
      <div class="modal-footer">
          <a class="btn btn-search" href="#">REALIZAR BÚSQUEDA</a>
          <a class="link-new-looking-for" href="#">Iniciar nueva búsqueda</a>
      </div>
      
    </div>
  </div>
</div>
