
<!-- Modal -->
<div class="modal fade" id="modalNeadHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content info-flight">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-close-modal"></i></button>
        <h4 class="modal-title" id="myModalLabel">¿Con qué podemos ayudarte?</h4>
      </div>
      <div class="modal-body body-answer-question">

        <ul>
            <li>
                <a class="btn icon-arrow-payment" data-toggle="collapse" href="#answerA" aria-expanded="false" aria-controls="answerA">
                ¿Qué hacer antes de comprar con tarjeta de crédito?
                </a>
            </li>
        </ul>
            
        <div class="collapse" id="answerA">
            <p>Previa a confirmar su compra con una tarjeta de crédito, le recomendamos realice estas verificaciones:
            Comuníquese con la entidad emisora de la Tarjeta (VISA, AMERICAN EXPRESS)  y notifique los montos de la compra.
            Verifique  el límite de compra, dependiendo la forma de financiamiento.
            Valide que los datos ingresados al momento de confirmar la compra, coincidan con los de la tarjeta de crédito.</p>
            <ul class="about-answer">
              <li>¿Te resultó útil la información? <button class="btn btn-secondary-travel">si</button><button class="btn btn-secondary-travel">no</button></li>
            </ul>
        </div>

        <ul>
            <li>
                <a class="btn icon-arrow-payment" data-toggle="collapse" href="#answerB" aria-expanded="false" aria-controls="answerb">
                ¿Cuál es el tiempo de envío del voucher de compra?
                </a>
            </li>
        </ul>
            
        <div class="collapse" id="answerB">
            <p>Previa a confirmar su compra con una tarjeta de crédito, le recomendamos realice estas verificaciones:
            Comuníquese con la entidad emisora de la Tarjeta (VISA, AMERICAN EXPRESS)  y notifique los montos de la compra.
            Verifique  el límite de compra, dependiendo la forma de financiamiento.
            Valide que los datos ingresados al momento de confirmar la compra, coincidan con los de la tarjeta de crédito.</p>
            <ul class="about-answer">
              <li>¿Te resultó útil la información? <button class="btn btn-secondary-travel">si</button><button class="btn btn-secondary-travel">no</button></li>
            </ul>
        </div>

        <ul>
            <li>
                <a class="btn icon-arrow-payment" data-toggle="collapse" href="#answerC" aria-expanded="false" aria-controls="answerC">
                ¿Comó accedo a mi compra, ver el estado de la reserva, solicitud o pedido?
                </a>
            </li>
        </ul>
            
        <div class="collapse" id="answerC">
            <p>Previa a confirmar su compra con una tarjeta de crédito, le recomendamos realice estas verificaciones:
            Comuníquese con la entidad emisora de la Tarjeta (VISA, AMERICAN EXPRESS)  y notifique los montos de la compra.
            Verifique  el límite de compra, dependiendo la forma de financiamiento.
            Valide que los datos ingresados al momento de confirmar la compra, coincidan con los de la tarjeta de crédito.</p>
            <ul class="about-answer">
              <li>¿Te resultó útil la información? <button class="btn btn-secondary-travel">si</button><button class="btn btn-secondary-travel">no</button></li>
            </ul>
        </div>

      </div>
      
    </div>
  </div>
</div>
