
<!-- Modal -->
<div class="modal fade" id="detailModalFlight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content info-flight">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-close-modal"></i></button>
        <h4 class="modal-title" id="myModalLabel">Detalle del Vuelo</h4>
      </div>
      <div class="modal-body txt-view-detail">

        <div class="well">
        <!--DETAIL TITLE FLIGHT-->
            <ul class="detail-title-flight">
                <li class="title-text-from-to">
                    Buenos Aires
                    <span class="airport-code">(BUE)</span>
                    <span class="title-text-to">
                        <i class="icon-arrow-airport"></i>
                    </span>
                    Valencia
                    <span class="airport-code">(VLC)</span>
                </li>
                <li class="title-text-total-duration">                                        
                    <span class="title-duration">DURACIÓN TOTAL:</span>
                    <span class="title-duration-time">
                    35h 40m
                    </span>
                </li>
            </ul>

        <!--DETAIL BODY FLIGHT-->
            <ul class="detail-body-flight">
                <li class="airline-logo">
                    <img src="public/img/lan.jpg" title="" alt="">
                </li>
                <li class="flight-detail-data">
                    <ul>
                    <!--SALE LLEGA-->
                        <li class="flight-detail-data-route">
                            <div>         
                                <span class="inline-detail-airport-date">
                                <span class="inline-detail-airport-date-text">Sale:</span>
                                <span>Vie 19 Ago. 2016</span>

                                </span>
                                <span class="inline-detail-airport-code-wrapper">
                                <span class="inline-detail-airport-code">EZE</span>
                                <span class="inline-detail-airport-hour">23:10</span>
                                </span>
                                <span class="inline-detail-airport-description">
                                Buenos Aires - Aeropuerto Buenos Aires Ministro Pistarini Ezeiza (EZE) </span>
                            </div>
                            <div class="arrow-airport">
                                <i class="icon-arrow-airport"></i>
                            </div>
                            <div>
                                <span class="inline-detail-airport">
                                <span class="inline-detail-airport-date">

                                <span class="inline-detail-airport-date-text">Llega:</span>
                                <span>Sáb 20 Ago. 2016</span>
                                </span>
                                <span class="inline-detail-airport-code-wrapper">
                                <span class="inline-detail-airport-code">GRU</span>
                                <span class="inline-detail-airport-hour">01:50</span>
                                <span class="days-difference">
                                <span>+1 dia</span>
                                </span>
                                </span>
                                <span class="inline-detail-airport-description">
                                San Pablo - Aeropuerto Internacional Guarulhos (GRU)
                                </span>
                                </span>
                            </div>
                        </li>

                    <!--DETAIL DATA FLIGHT-->
                        <li class="flight-detail-data-flight">
                            <div class="inline-detail-flight-data">
                                <span class="inline-detail-flight-data-title">DURACIÓN</span>
                                <span class="inline-detail-flight-data-description">2h 40m</span>
                            </div>
                            <div class="inline-detail-flight-data">
                                <span class="inline-detail-flight-data-title">VUELO N°</span>
                                <span class="inline-detail-flight-data-description">16</span>
                            </div>
                            <div class="inline-detail-flight-data inline-detail-flight-cabinType">
                                <span class="inline-detail-flight-data-title">CLASE</span>
                                <span class="inline-detail-flight-data-description">Económica</span>
                            </div>
                            <div class="box-airplane-name">
                                <span class="airplane-name">
                                    <i class="icon-airplane-name"></i>
                                Boeing 777-300ER
                                </span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- END MODAL BODY-->
      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      -->
    </div>
  </div>
</div>
