<button class="btn btn-primary btn-search-mobile" type="button" data-toggle="collapse"
        data-target="#collapseSearchMobile" aria-expanded="false" aria-controls="collapseSearchMobile">
    <ul>
        <li><i class="icon-fly-mobile-search"></i>
            <span id="citiesMobile" class="txt-fly-mobile">${params.origin} - ${params.destination}</span>
        </li>
        <li><i class="icon-calendar-mobile-search"></i><span id="datesMobile" class="txt-calendar-mobile">${params.departureDate?.replace('-','/')} - ${params.returnDate?.replace('-','/')}</span>
        </li>
        <li><i class="icon-passenger-mobile-search"></i><span id="passengersMobile" class="txt-passenger-mobile"></span></li>
    </ul>
</button>
<div class="collapse" id="collapseSearchMobile">
    <div class="well">
        <div class="bg-search">
            <form id="flightSearchForm" class="form-search-travel" action="" method="" data-toggle="validator" role="form">
                #{if params.promotion}
                    <input type="hidden" name="promotion" id="promotion" value="${params.promotion}" />
                #{/if}
                <div class="form-group col-md-12">
                    <label>Origen:</label>
                    <select name="origenSlc" class="form-control percent" id="origin" value="${params.origin}" data-city="${originCity}">
                        #{if params.origin}
                        <option value="${params.origin}">${originCity}</option>
                        #{/if}
                    </select>
                    <input type="hidden" name="origen" id="originHdn" value="${params.origin}" />
                </div>
                <div class="form-group col-md-12">
                    <label>Destino:</label>
                    <select  name="destinoSlc" class="form-control percent" id="destiny" value="${params.destination}" data-city="${destinationCity}">
                        #{if params.destination}
                        <option value="${params.destination}">${destinationCity}</option>
                        #{/if}
                    </select>
                    <input type="hidden" name="destino" id="destinyHdn" value="${params.destination}" />
                </div>
                <div class="form-group col-xs-6">
                    <label>Partida:</label>
                    	<div class='input-group date' id='starDateBtn'>
                            <input type="text" readonly="true" name="partida" autocomplete="off" id="startDate"
                                   class="form-delta form-control percent" value="${params.departureDate}">
        					<i class="form-delta bg-calendar input-group-addon"></i>
                        </div>
                </div>
                <div class="form-group col-xs-6">
                    <label>Regreso:</label>
                    <div class='input-group date' id='endDateBtn'>
                        <input type="text" readonly="true" name="regreso" id="endDate" autocomplete="off"
                               class="form-delta form-control percent" value="${params.returnDate}">
    					<i class="form-delta bg-calendar input-group-addon"></i>
    					</span>
                    </div>
                </div>
                <div class="form-group col-xs-4">
                    <label>Adultos:</label>
                    <select id="adultCount" class="form-delta bg-arrow form-control" name="adultcount">
                        <option #{if params.adults == "1"}selected#{/if}>1</option>
                        <option #{if params.adults == "2"}selected#{/if}>2</option>
                        <option #{if params.adults == "3"}selected#{/if}>3</option>
                        <option #{if params.adults == "4"}selected#{/if}>4</option>
                        <option #{if params.adults == "5"}selected#{/if}>5</option>
                        <option #{if params.adults == "6"}selected#{/if}>6</option>
                        <option #{if params.adults == "7"}selected#{/if}>7</option>
                    </select>
                    <span>(12 ó + años)</span>
                </div>
                <div class="form-group col-xs-4">
                    <label>Niños:</label>
                    <select id="childrenCount" class="form-delta bg-arrow form-control" name="childrencount">
                    	<option #{if params.children == "0"}selected#{/if}>0</option>
                        <option #{if params.children == "1"}selected#{/if}>1</option>
                        <option #{if params.children == "2"}selected#{/if}>2</option>
                        <option #{if params.children == "3"}selected#{/if}>3</option>
                        <option #{if params.children == "4"}selected#{/if}>4</option>
                    </select>
                    <span>(2 a 11 años)</span>
                </div>
                <div class="form-group col-xs-4">
                    <label>Infantes:</label>
                    <select id="infantCount" class="form-delta bg-arrow form-control" name="infantcount">
                        <option #{if params.infants == "0"}selected#{/if}>0</option>
                        <option #{if params.infants == "1"}selected#{/if}>1</option>
                        <option #{if params.infants == "2"}selected#{/if}>2</option>
                        <option #{if params.infants == "3"}selected#{/if}>3</option>
                        <option #{if params.infants == "4"}selected#{/if}>4</option>
                    </select>
                    <span>(0 a 23 meses)</span>
                </div>
                <div class="form-group col-xs-12">
                    <label>Cabina:</label>
                    <select name="cabin" class="form-delta form-control bg-arrow" id="cabin">
                        #{list items:cabinConfigurationDto.cabins, as:'cabins'}
                            <option value="${cabins.key}"
                            #{if params.cabin == null && cabins.key == "Y"}selected#{/if}
                            #{if params.cabin == cabins.key}selected#{/if} >
                            ${cabins.value}
                            </option>
                        #{/list}
                    </select>
                </div>
                <div class="col-md-12 text-center">
                    <input type="submit" value="Buscar Vuelos" class="btn btn-search">
                </div>
            #{set 'moreScripts'}
            #{get 'moreScripts' /}

            $(document).ready(function() {
                var loadFlightData = (function() {
                    cleanErrors();
                    window.history.pushState("responseText", "Results", getCurrentSearchURL());
                    if ($('#adultCount').val()*2<parseInt($('#childrenCount').val())+parseInt($('#infantCount').val())){
                      alert("La cantidad de niños e infantes tiene un máximo de dos por adulto.");
                      $('#flightSearchForm input[type="submit"]').attr('disabled', false);
                      return false;
                    }


                    $("#citiesMobile").html( $("#originHdn").val() + " - " + $("#destinyHdn").val() );
                    $("#datesMobile").html( $("#startDate").val() + " - " + $("#endDate").val() );
                    $("#passengersMobile").html(parseInt($("#adultCount").val())+parseInt($("#childrenCount").val())+parseInt($("#infantCount").val()));

                    $("#collapseSearchMobile").collapse('hide');


                    $( "#loading_departure_city").html($('#origin').select2('data')[0].city);
                    $( "#loading_return_city").html($('#destiny').select2('data')[0].city);

                    $( "#loading" ).show("fade");
                    $( "#priceSuggestionMatrix" ).html("");
                    $( "#fligthsData" ).html("");
					$( "#filterContent" ).html("");

                    $( "#fligthsData" ).load(
                        "/flights/data?" + getSearchParams(),
                        function (responseText, textStatus, XMLHttpRequest) {
                            $( "#loading" ).hide();
                            if (textStatus == "success") {
                                $( "#fligthsData" ).show("slow");
                                    $( "#filterContent" ).html($( "#filterResult" ).html());
                                    onReadyFilters();
                                $('#flightSearchForm input[type="submit"]').attr('disabled', false);

                                window.history.pushState(responseText, "Results", getCurrentSearchURL());
                            }
                            else {
                                showError("Error obteniendo precios para la fecha buscada.");
                            }
                        }
                    );

                    $( "#priceSuggestionMatrix" ).load("/flights/matrix?" + getSearchParams(),
                        function (responseText, textStatus, XMLHttpRequest) {
                            if (textStatus == "success") {
                                onReadyMatrix();
                            }
                        }
                    );

                });

                window.addEventListener('popstate', function(event) {
                    if (event.state) {
                        $("#fligthsData").html(event.state);
                    }
                }, false);

                var getCurrentSearchURL = function(){

                    var searchURL = "";
                    var searchForm = $("#flightSearchForm");
                    var promotion = searchForm.find('input[name="promotion"]').val();
                    var origin = searchForm.find('input[name="origen"]').val();
                    var destination = searchForm.find('input[name="destino"]').val();
                    var departuredate = searchForm.find('input[name="partida"]').val().split("/").join("-");
                    var returndate = searchForm.find('input[name="regreso"]').val().split("/").join("-");
                    var adultcount = searchForm.find('select[name="adultcount"]').val();
                    var childrencount = searchForm.find('select[name="childrencount"]').val();
                    var infantcount = searchForm.find('select[name="infantcount"]').val();
                    var cabin = searchForm.find('select[name="cabin"]').val();
                    *{if(promotion){}*
                        *{searchURL += "/promociones/" + promotion;}*
                    *{}}*

                    var originPathArr = window.location.pathname.split("/");
                    searchURL += "/" + originPathArr[1];
                    searchURL += "/" + originPathArr[2];

                    return searchURL + "/"+origin+"/"+destination+"/"+departuredate+"/"+returndate+"/"+adultcount+"-"+childrencount+"-"+infantcount+"/" + cabin;
                };

                var showError = function(msg){
                    var em = $("#errorMessage");
                    em.append("<div>"+msg+"</div>");
                    em.show();
                    $('#flightSearchForm input[type="submit"]').attr('disabled', false);
                };

                var cleanErrors = function(){
                    $("#errorMessage div").remove();
                    $("#errorMessageBottom div").remove();
                    $("#errorMessage").hide();
                    $("#errorMessageBottom").hide();
                };

                $('#flightSearchForm').bootstrapValidator({
                    fields: {
                        'percentage': {
                            selector: '.percent',
                            validators: {
                                notEmpty: {
                                    message: 'Este campo está vacio.'
                                }

                            }
                        }
                    },
                    submitHandler: function(validator, form, submitButton) {
                        loadFlightData();
                    }
                });

                function onReadyMatrix(){
                    $('a.pr-fare').click(function(e){
                        e.preventDefault();
                        $("#startDate").val($(this).data('from'));
                        $("#endDate").val($(this).data('to'));
                        var url = getCurrentSearchURL();
						window.location.href = url;
                    });
                }

            $("#origin").select2({
              placeholder: {
                "city": "Ingresa el origen de tu viaje",
                "id": ""
              },
              language: {
                searching: function() {
                  return "Buscando...";
                },
                inputTooShort: function(args) {
                  return "Por favor ingresar al menos las primeras 3 letras";
                },
                inputTooLong: function(args) {
                  return "";
                },
                errorLoading: function() {
                  return "";
                },
                loadingMore: function() {
                  return "";
                },
                noResults: function() {
                  return "No se encontraron resultados";
                },
                maximumSelected: function(args) {
                  return "";
                }
              },
              ajax: {
                url: "@{SearchController.getAutoComplete}",
                dataType: 'json',
                delay: 250,
                language: "es",
                data: function (params) {
                  return {
                    q: params.term, // search term
                    page: params.page
                  };
                },
                processResults: function (data, params) {
                  params.page = params.page || 1;
            
                  return {
                    results: data.items,
                    pagination: {
                      more: (params.page * 30) < data.total_count
                    }
                  };
                },
                cache: true
              },
              initSelection: function(element, callback) {callback({id: element.attr('value'), city: element.attr('data-city')});},
              minimumInputLength: 3,
              escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
              templateResult: formatRepo,
              templateSelection: formatRepoSelection
            }).on("change", function(e) {
                $('#originHdn').val($('#origin').select2('data')[0].id);
            });

            $("#destiny").select2({
              placeholder: {
                "city": "Ingresa el destino de tu viaje",
                "id": ""
              },
              language: {
                inputTooShort: function(args) {
                  return "Por favor ingresar al menos las primeras 3 letras";
                },
                inputTooLong: function(args) {
                  return "";
                },
                errorLoading: function() {
                  return "";
                },
                loadingMore: function() {
                  return "";
                },
                noResults: function() {
                  return "No se encontraron resultados";
                },
                searching: function() {
                  return "Buscando...";
                },
                maximumSelected: function(args) {
                  return "";
                }
              },
              ajax: {
                url: "@{SearchController.getAutoComplete}",
                dataType: 'json',
                delay: 250,
                language: "es",
                data: function (params) {
                  return {
                    q: params.term, // search term
                    page: params.page
                  };
                },
                processResults: function (data, params) {
                  params.page = params.page || 1;
                  return {
                    results: data.items,
                    pagination: {
                      more: (params.page * 30) < data.total_count
                    }
                  };
                }
              },
              minimumInputLength: 3,
              initSelection: function(element, callback) {callback({id: element.attr('value'), city: element.attr('data-city')});},
              escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
              templateResult: formatRepo,
              templateSelection: formatRepoSelection

            }).on("change", function(e) {
                  $('#destinyHdn').val($('#destiny').select2('data')[0].id);
                });

            #{if params.destination && params.origin}
                loadFlightData();
            #{/if}
        });





 
                
     
               

			  //var dateFormat = "dd/mm/yy";
              var dateFormat = "dd-mm-yy";
              var minDate = new Date(parseDate("24-04-2017"));
              var maxDate = new Date(parseDate("01-01-2018"));

              jQuery(function($) {
                if (jQuery().datepicker) {
                  $.datepicker.regional['es'] = {
                      prevText: '',
                      nextText: '',
                      currentText: 'Hoy',
                      monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                      monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                      dayNames: ['Domingo', 'Lunes', 'Martes', 'Mi&eacute;rcoles', 'Jueves', 'Viernes', 'S&aacute;bado'],
                      dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mi&eacute;', 'Juv', 'Vie', 'S&aacute;b'],
                      dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'S&aacute;'],
                      weekHeader: 'Sm',
                      firstDay: 1,
                      isRTL: false,
                      showMonthAfterYear: false,
                      numberOfMonths: 2,
                      dateFormat: dateFormat,
                      yearSuffix: "",
                      beforeShowDay: highlightDates
                    };
                  $.datepicker.setDefaults($.datepicker.regional['es']);
                }
              });
              function parseDate(str) {
                  var mdy = str.split('-')
                  return new Date(parseInt(mdy[2], 10), (parseInt(mdy[1], 10) - 1), parseInt(mdy[0], 10));
              }
              String.prototype.replaceAll = function(search, replacement) {
                  var target = this;
                  return target.replace(new RegExp(search, 'g'), replacement);
              }
              function toSlash(str) {
                return str.replaceAll("-","/");
              }
              function toHyphen(str) {
                return str.replaceAll("/","-");
              }

                $( "#starDateBtn" ).click(function() {
                    $("#startDate").datepicker('show')
                });

                $( "#endDateBtn" ).click(function() {
                    $("#endDate").datepicker('show')
                });

                function getDate( element ) {
                    var date;
                    try {
                        date = new Date(parseDate(element.val()));
                    } catch( error ) {
                        date = null;
                    }
                    return date;
                }

                function highlightDates(date) {
                    var currentStartDate = getDate($("#startDate"));
                    var currentEndDate = getDate($("#endDate"));

                    if (date.getTime() === currentStartDate.getTime()) {
                        return [true, "ui-datepicker-departure", ''];
                    } else if (date.getTime()  === currentEndDate.getTime()) {
                        return [true, "ui-datepicker-return", ''];
                    } else if ( date < currentEndDate) {
                        if (date > currentStartDate) {
                            return [true, "ui-datepicker-range", ''];
                        } else {
                            return [true, '', ''];
                        }
                    } else {
                        return [true, '', ''];
                    }
                }



              $(function() {
                $("#startDate").datepicker({
                  minDate: 5,
                  maxDate: 300,
                  onClose: function(){
                    $("#endDate").datepicker("show");
                  }
                }).on( "change", function() {
                  var currentStartDate = getDate($("#startDate"));

                  var min = $(this).datepicker("getDate") || new Date();
                  min.setDate(min.getDate() + 1);
                  if(currentStartDate <= minDate){
                    $("#endDate").datepicker( "option", "minDate", minDate );
                    $("#endDate").datepicker( "option", "maxDate", maxDate );
                  }
                  if(currentStartDate > minDate){
                    $("#endDate").datepicker( "option", "minDate", currentStartDate );
                  }
                  //$("#endDate").datepicker("show");

                });
                $('#startDate').val("${params.departureDate}");
              });


              $(function() {
                $( "#endDate" ).datepicker({
                  minDate: 5,
                  maxDate: 300,
                }).on( "change", function() {
                  var currentEndDate = getDate($("#endDate"));
                  if(currentEndDate <= maxDate){
                    $("#departureDate").datepicker( "option", "minDate", minDate );
                    $("#departureDate").datepicker( "option", "maxDate", currentEndDate );
                  }
                });
                $('#endDate').val("${params.returnDate}");
              });


            #{/set}
            </form>
        </div>

    </div>

</div>

#{set 'moreScripts'}
    #{get 'moreScripts' /}
 
 var queryResults;
 

    var tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 1);

    var tomorrow2 = (new Date()).setDate(tomorrow.getDate() + 1);
    
    
 
 function markMatch(text, markup) {
    markup.push("<span class='select2-matched'>");
    markup.push(text);
    markup.push("</span>");
}


    function formatRepoSelection (place) {
      return place.city;
    }
    
    function formatRepo (place) {
        if (place.hasOwnProperty("text")){
            return place.text;
        }
        else {
            var markup=[];
            if (!place)return place;
            markMatch(place.name + " (" + place.id + ")", markup);
            return markup.join("");
        }
    }

function getSearchParams() {
    var searchForm = $("#flightSearchForm");
    var filterForm = $("#filterResultForm");
    return $.param({
        promotion: searchForm.find('input[name="promotion"]').val(),
        origin: searchForm.find('input[name="origen"]').val(),
        destination: searchForm.find('input[name="destino"]').val(),
        departuredate: searchForm.find('input[name="partida"]').val(),
        returndate: searchForm.find('input[name="regreso"]').val(),
        adultcount: searchForm.find('select[name="adultcount"]').val(),
        childrencount: searchForm.find('select[name="childrencount"]').val(),
        infantcount: searchForm.find('select[name="infantcount"]').val(),
        cabin: searchForm.find('select[name="cabin"]').val()
    });
}

function addActiveFilter(description) {
    $(".active-filter").append('<div class="box-active-filter"><span class="txt-filter-activer">' + text + '</span><i class="icon-close-filter"></i></div> ');
}

function deleteActiveFilter(obj) {
    obj.remove();
}


function onReadyFilters() {

    /*FILTER*/

    var priceRangeSliderStartLabel = $('.price-range-slider-start-label');
    var priceRangeSliderEndLabel = $('.price-range-slider-end-label');
    var timeRangeSliderStartToLabel = $('.time-range-slider-start-to-label');
    var timeRangeSliderStartFromLabel = $('.time-range-slider-start-from-label');
    var timeRangeSliderEndToLabel = $('.time-range-slider-end-to-label');
    var timeRangeSliderEndFromLabel = $('.time-range-slider-end-from-label');


    var availabilityTimeRangeSlider = $(' .time-range-slider')[0];
    var priceRangeSlider = $('.price-range-slider')[0];
    var hourRangeSliderTo = $('.hour-range-to-slider')[0];
    var hourRangeSliderFrom = $('.hour-range-from-slider')[0];


    noUiSlider.create(priceRangeSlider, {
        start: [ 100, 500 ],
        range: {
            'min': 0,
            'max': 1000
        },
            margin: 1,
            step: 1,
            connect: true,
            pips: {
            mode: 'count',
            values: 1,
            density: 4
        }
    });

    priceRangeSlider.noUiSlider.on('update', function(values, handle) {
        priceRangeSliderStartLabel.text('$' + values[0]);
        priceRangeSliderEndLabel.text('$' + values[1]);
    });

    noUiSlider.create(hourRangeSliderTo, {
        start: [ new Date(2000, 0, 1, 0, 0, 0, 0).getTime(), new Date(2000, 0, 1, 23, 59, 0, 0).getTime() ],
        range: {
            'min': new Date(2000, 0, 1, 0, 0, 0, 0).getTime(),
            'max': new Date(2000, 0, 2, 0, 0, 0, 0).getTime()
        },
        margin: 5 * 60 * 1000,
        step: 1 * 60 * 1000,
        connect: true,

        pips: {
            mode: 'count',
            values: 1,
            density: 4
        }

    });

    noUiSlider.create(hourRangeSliderFrom, {
        start: [ new Date(2000, 0, 1, 0, 0, 0, 0).getTime(), new Date(2000, 0, 1, 23, 59, 0, 0).getTime() ],
        range: {
            'min': new Date(2000, 0, 1, 0, 0, 0, 0).getTime(),
            'max': new Date(2000, 0, 2, 0, 0, 0, 0).getTime()
        },
        margin: 5 * 60 * 1000,
        step: 1 * 60 * 1000,
        connect: true,

        pips: {
            mode: 'count',
            values: 1,
            density: 4
        }

    });

    hourRangeSliderTo.noUiSlider.on('update', function(values, handle) {
        var dateToFormatStart = new Date(+values[0]);
        var dateToFormatEnd = new Date(+values[1]);
        var dateFormattedStart = ('00' + dateToFormatStart.getHours()).slice(-2) + ':' + ('00' + dateToFormatStart.getMinutes()).slice(-2);
        var dateFormattedEnd = ('00' + dateToFormatEnd.getHours()).slice(-2) + ':' + ('00' + dateToFormatEnd.getMinutes()).slice(-2);
        timeRangeSliderStartToLabel.text(dateFormattedStart + ' hs');
        timeRangeSliderEndToLabel.text((dateFormattedEnd === '00:00'? '24:00' : dateFormattedEnd) + ' hs');
    });

    hourRangeSliderFrom.noUiSlider.on('update', function(values, handle) {
        var dateToFormatStart = new Date(+values[0]);
        var dateToFormatEnd = new Date(+values[1]);
        var dateFormattedStart = ('00' + dateToFormatStart.getHours()).slice(-2) + ':' + ('00' + dateToFormatStart.getMinutes()).slice(-2);
        var dateFormattedEnd = ('00' + dateToFormatEnd.getHours()).slice(-2) + ':' + ('00' + dateToFormatEnd.getMinutes()).slice(-2);
        timeRangeSliderStartFromLabel.text(dateFormattedStart + ' hs');
        timeRangeSliderEndFromLabel.text((dateFormattedEnd === '00:00'? '24:00' : dateFormattedEnd) + ' hs');
    });



    $('.box-active-filter .icon-close-filter').click(function(){
        deleteActiveFilter($(this).parent());
    });



    $('.body-filter .checkbox').click(function(){

        $("input[type=checkbox]").change(function(){

            $(this).parent().parent().find('.box-number').removeClass('selected-box');

            if($(this).prop("checked")){
                $(this).parent().parent().find('.box-number').addClass('selected-box');
            }
        });

    });



    $('.box-filter .header-filter').click(function() {

        if($(this).find('h3 i').hasClass('arrow-down')){
            $('.header-filter h3 i').addClass('arrow-down');
            $('.header-filter h3 i').removeClass('arrow-up');
            $(this).find('h3 i').removeClass('arrow-down');
            $(this).find('h3 i').addClass('arrow-up');


            $('.body-filter').slideUp( "slow" );

            $(this).find('.body-filter').slideDown( "slow" );

            $(this).parent().find('.body-filter').slideDown( "slow" );
        } else {
            $('.header-filter h3 i').addClass('arrow-down');
            $('.header-filter h3 i').removeClass('arrow-up');
            $('.body-filter').slideUp( "slow" );
        }

    });


















	
	var maxDeparture = 0;
	var maxReturn = 0;
       
	$(".ticketBaxer").each(function( index ) {
     	var departureElapsedTime = parseInt($(this).data("departureelapsedtime"));
     	var returnElapsedTime = parseInt($(this).data("returnelapsedtime"));
     	

     	if (departureElapsedTime>maxDeparture){
     		maxDeparture = departureElapsedTime;
     	}
     	if (returnElapsedTime>maxReturn){
     		maxReturn = returnElapsedTime;
     	}
	});
	
     
	var durationSliderStart = $('.duration-start-slider')[0];
    var durationSliderEnd = $('.duration-end-slider')[0];
     
     noUiSlider.create(durationSliderStart, {
         	start: maxDeparture,
		    step: 1,
		    connect: "lower",
		    range: {
		      'min': 0,
		      'max': maxDeparture
		    },
		    serialization: {
		      format: {
		        decimals: 0
		      }
		    }
     });


     noUiSlider.create(durationSliderEnd, {
         	start: maxReturn,
		    step: 1,
		    connect: "lower",
		    range: {
		      'min': 0,
		      'max': maxReturn
		    },
		    serialization: {
		      format: {
		        decimals: 0
		      }
		    }
     });


     var durationSliderStartLabel = $('.duration-slider-start-label');


     var durationSliderEndLabel = $('.duration-slider-end-label');

     
     durationSliderStart.noUiSlider.on('update', function(values, handle) {
         var currentMinutesDuration = (values[handle] | 0);
         $('#startDur').val(currentMinutesDuration);
         var hora = parseInt(Number(currentMinutesDuration)/60);
         var minutos = Number(currentMinutesDuration)%60;
         durationSliderStartLabel.text(hora+"h:"+minutos+"m");
     });


     durationSliderEnd.noUiSlider.on('update', function(values, handle) {
         var currentMinutesDuration = (values[handle] | 0);
         $('#endDur').val(currentMinutesDuration);
         var hora = parseInt(Number(currentMinutesDuration)/60);
         var minutos = Number(currentMinutesDuration)%60;
         durationSliderEndLabel.text(hora+"h:"+minutos+"m");
     });



     
     
     
     
}
#{/set}