<button class="btn btn-primary btn-search-mobile" type="button" data-toggle="collapse"
        data-target="#collapseSearchMobile" aria-expanded="false" aria-controls="collapseSearchMobile">
    <ul>
        <li><i class="icon-fly-mobile-search"></i><span class="txt-fly-mobile">eze - lon</span></li>
        <li><i class="icon-calendar-mobile-search"></i><span class="txt-calendar-mobile">Sábado 8 de Abr - Domingo 23 Abr</span>
        </li>
        <li><i class="icon-passenger-mobile-search"></i><span class="txt-passenger-mobile">1</span></li>
    </ul>
</button>
<div class="collapse" id="collapseSearchMobile">
    <div class="well">
        <div class="bg-search">
            <form id="flightSearchForm" class="form-search-travel" action="" method="">
                <div class="form-group col-md-12">
                    <label>Origen:</label>
                    <input type="text" name="origen" class="form-control"
                           placeholder="Santiago de Chile" value="EZE">
                </div>
                <div class="form-group col-md-12">
                    <label>Destino:</label>
                    <input type="text" name="destino" class="form-control"
                           placeholder="Iguazu" value="MIA">
                </div>
                <div class="form-group col-xs-6">
                    <label>Partida:</label>
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" name="partida" class="calendar-input form-control" value="2016-11-02">
                        <i class="bg-calendar input-group-addon"></i>
                    </div>
                </div>
                <div class="form-group col-xs-6">
                    <label>Regreso:</label>
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" name="regreso" class="calendar-input form-control" value="2016-11-15">
                        <i class="bg-calendar input-group-addon"></i>
                    </div>
                </div>
                <div class="form-group col-xs-4">
                    <label>Adultos:</label>
                    <select class="bg-arrow form-control" name="passengercount">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                    </select>
                    <span>(12 ó + años)</span>
                </div>
                <div class="form-group col-xs-4">
                    <label>Niños:</label>
                    <select class="bg-arrow form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    <span>(2 a 11 años)</span>
                </div>
                <div class="form-group col-xs-4">
                    <label>Infantes:</label>
                    <select class="bg-arrow form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    <span>(0 a 23 meses)</span>
                </div>
                <div class="col-md-12 text-center">
                    <input type="submit" value="Buscar Vuelos" class="btn btn-search">
                </div>
            #{set 'moreScripts'}
            #{get 'moreScripts' /}
                $(document).ready(function() {


                    $("#flightSearchForm").submit(function(event) {

                        $( "#loading_departure_city").html($(this).find('input[name="origen"]').val());
                        $( "#loading_return_city").html($(this).find('input[name="destino"]').val());

                        $( "#loading" ).show("fade");
                        $( "#priceSuggestionMatrix" ).html("");
                        $( "#fligthsData" ).html("");

                        $( "#priceSuggestionMatrix" ).load(
                            "/flights/matrix?" + getPriceSuggestionMatrixParams(),
                            function (responseText, textStatus, XMLHttpRequest) {
                                if (textStatus == "success") {
                                    $( "#priceSuggestionMatrix" ).show("slow");
                                }
                            }
                        );
                        $( "#fligthsData" ).load(
                            "/flights/data?" + getSearchParams(),
                            function (responseText, textStatus, XMLHttpRequest) {
                                if (textStatus == "success") {
                                    $( "#loading" ).hide();
                                    $( "#fligthsData" ).show("slow");
                                    if(!$( "#filterContent" ).html().length) {
                                        $( "#filterContent" ).html($( "#filterResult" ).html());
                                        onReadyFilters();
                                    }
                                }
                            }
                        );

                        event.preventDefault();
                    });
                });
            #{/set}
            </form>
        </div>

    </div>

</div>

#{set 'moreScripts'}
    #{get 'moreScripts' /}

function getPriceSuggestionMatrixParams() {
    var searchForm = $("#flightSearchForm");
    return $.param({
        origin: searchForm.find('input[name="origen"]').val(),
        destination: searchForm.find('input[name="destino"]').val(),
        departuredate: searchForm.find('input[name="partida"]').val(),
        returndate: searchForm.find('input[name="regreso"]').val(),
        passengercount: searchForm.find('select[name="passengercount"]').val(),
    });
}

function getSearchParams() {
    var searchForm = $("#flightSearchForm");
    var filterForm = $("#filterResultForm");
    return $.param({
        origin: searchForm.find('input[name="origen"]').val(),
        destination: searchForm.find('input[name="destino"]').val(),
        departuredate: searchForm.find('input[name="partida"]').val(),
        returndate: searchForm.find('input[name="regreso"]').val(),
        passengercount: searchForm.find('select[name="passengercount"]').val(),
        outboundflightstops: filterForm.find('input[name="outboundflightstops"]:checked').val(),
        includedcarriers: filterForm.find('input[name="includedcarriers"]:checked').map(
                            function () {
                                return this.value;
                            }).get().join(",")
    });
}

function addActiveFilter(description) {
    $(".active-filter").append('<div class="box-active-filter"><span class="txt-filter-activer">' + text + '</span><i class="icon-close-filter"></i></div> ');
}

function deleteActiveFilter(obj) {
    obj.remove();
}


function onReadyFilters() {

    /*FILTER*/

    var priceRangeSliderStartLabel = $('.price-range-slider-start-label');
    var priceRangeSliderEndLabel = $('.price-range-slider-end-label');
    var timeRangeSliderStartToLabel = $('.time-range-slider-start-to-label');
    var timeRangeSliderStartFromLabel = $('.time-range-slider-start-from-label');
    var timeRangeSliderEndToLabel = $('.time-range-slider-end-to-label');
    var timeRangeSliderEndFromLabel = $('.time-range-slider-end-from-label');


    var durationSliderStartLabel = $('.duration-slider-start-label');


    var durationSliderEndLabel = $('.duration-slider-end-label');

    var availabilityTimeRangeSlider = $(' .time-range-slider')[0];
    var priceRangeSlider = $('.price-range-slider')[0];
    var hourRangeSliderTo = $('.hour-range-to-slider')[0];
    var hourRangeSliderFrom = $('.hour-range-from-slider')[0];


    var durationSliderStart = $('.duration-start-slider')[0];
    var durationSliderEnd = $('.duration-end-slider')[0];

    noUiSlider.create(priceRangeSlider, {
        start: [ 100, 500 ],
        range: {
            'min': 0,
            'max': 1000
        },
            margin: 1,
            step: 1,
            connect: true,
            pips: {
            mode: 'count',
            values: 1,
            density: 4
        }
    });

    priceRangeSlider.noUiSlider.on('update', function(values, handle) {
        priceRangeSliderStartLabel.text('$' + values[0]);
        priceRangeSliderEndLabel.text('$' + values[1]);
    });

    noUiSlider.create(hourRangeSliderTo, {
        start: [ new Date(2000, 0, 1, 9, 0, 0, 0).getTime(), new Date(2000, 0, 1, 18, 0, 0, 0).getTime() ],
        range: {
            'min': new Date(2000, 0, 1, 0, 0, 0, 0).getTime(),
            'max': new Date(2000, 0, 2, 0, 0, 0, 0).getTime()
        },
        margin: 5 * 60 * 1000,
        step: 1 * 60 * 1000,
        connect: true,

        pips: {
            mode: 'count',
            values: 1,
            density: 4
        }

    });

    noUiSlider.create(hourRangeSliderFrom, {
        start: [ new Date(2000, 0, 1, 9, 0, 0, 0).getTime(), new Date(2000, 0, 1, 18, 0, 0, 0).getTime() ],
        range: {
            'min': new Date(2000, 0, 1, 0, 0, 0, 0).getTime(),
            'max': new Date(2000, 0, 2, 0, 0, 0, 0).getTime()
        },
        margin: 5 * 60 * 1000,
        step: 1 * 60 * 1000,
        connect: true,

        pips: {
            mode: 'count',
            values: 1,
            density: 4
        }

    });

    hourRangeSliderTo.noUiSlider.on('update', function(values, handle) {
        var dateToFormatStart = new Date(+values[0]);
        var dateToFormatEnd = new Date(+values[1]);
        var dateFormattedStart = ('00' + dateToFormatStart.getHours()).slice(-2) + ':' + ('00' + dateToFormatStart.getMinutes()).slice(-2);
        var dateFormattedEnd = ('00' + dateToFormatEnd.getHours()).slice(-2) + ':' + ('00' + dateToFormatEnd.getMinutes()).slice(-2);
        timeRangeSliderStartToLabel.text(dateFormattedStart + ' hs');
        timeRangeSliderEndToLabel.text((dateFormattedEnd === '00:00'? '24:00' : dateFormattedEnd) + ' hs');
    });

    hourRangeSliderFrom.noUiSlider.on('update', function(values, handle) {
        var dateToFormatStart = new Date(+values[0]);
        var dateToFormatEnd = new Date(+values[1]);
        var dateFormattedStart = ('00' + dateToFormatStart.getHours()).slice(-2) + ':' + ('00' + dateToFormatStart.getMinutes()).slice(-2);
        var dateFormattedEnd = ('00' + dateToFormatEnd.getHours()).slice(-2) + ':' + ('00' + dateToFormatEnd.getMinutes()).slice(-2);
        timeRangeSliderStartFromLabel.text(dateFormattedStart + ' hs');
        timeRangeSliderEndFromLabel.text((dateFormattedEnd === '00:00'? '24:00' : dateFormattedEnd) + ' hs');
    });


    noUiSlider.create(durationSliderStart, {
        start: 150,
        range: {
        'min': 100,
        'max': 300
        },
        step: 1,
        connect: 'lower',
        pips: {
        mode: 'steps',
        density: 10
        }
    });


    noUiSlider.create(durationSliderEnd, {
        start: 150,
        range: {
            'min': 100,
            'max': 300
        },
        step: 1,
        connect: 'lower',
        pips: {
            mode: 'steps',
            density: 10
        }
    });

    durationSliderStart.noUiSlider.on('update', function(values, handle) {
        var currentMinutesDuration = (values[handle] | 0);
        durationSliderStartLabel.text(currentMinutesDuration);
    });


    durationSliderEnd.noUiSlider.on('update', function(values, handle) {
        var currentMinutesDuration = (values[handle] | 0);
        durationSliderEndLabel.text(currentMinutesDuration);
    });


    $('.box-active-filter .icon-close-filter').click(function(){
        deleteActiveFilter($(this).parent());
    });



    $('.body-filter .checkbox').click(function(){

        $("input[type=checkbox]").change(function(){

            $(this).parent().parent().find('.box-number').removeClass('selected-box');

            if($(this).prop("checked")){
                $(this).parent().parent().find('.box-number').addClass('selected-box');
            }
        });

    });



    $('.box-filter .header-filter').click(function() {

        if($(this).find('h3 i').hasClass('arrow-down')){
            $('.header-filter h3 i').addClass('arrow-down');
            $('.header-filter h3 i').removeClass('arrow-up');
            $(this).find('h3 i').removeClass('arrow-down');
            $(this).find('h3 i').addClass('arrow-up');


            $('.body-filter').slideUp( "slow" );

            $(this).find('.body-filter').slideDown( "slow" );

            $(this).parent().find('.body-filter').slideDown( "slow" );
        } else {
            $('.header-filter h3 i').addClass('arrow-down');
            $('.header-filter h3 i').removeClass('arrow-up');
            $('.body-filter').slideUp( "slow" );
        }

    });

}
#{/set}