#{extends 'main.html' /}
#{set title:'Results' /}

#{set isAgencyHeader: true /}

<section class="search-arrive">
    <article class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                #{searchBox /}
                <div id="filterContent"></div>
            </div>
            <div class="col-md-8 tickets-arrives">
                <div id="priceSuggestionMatrix" style="display: none"></div>
                <div id="fligthsData" style="display: none"></div>
                <div id="loading" style="display: none">#{preload /}</div>
            </div>
        </div>
    </article>    
    #{modalDetail /}
</section>


#{set isAgencyFooter: true /}