#{extends 'main.html' /}
#{set title:'Results' /}

<section class="search-arrive">
    <article class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                #{searchBox /}
                <form action="" method="" class="filter-arrive">
                    
                        <div class="box-filter">
                            <div class="header-filter">
                                <h3>Escalas<i class="arrow-down"></i></h3>
                            </div>
                            <div class="body-filter">
                           
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" checked> Todas las escalas
                                    </label>
                                    <div class="box-number selected-box"><span>34</span></div>
                                </div>


                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> Directo
                                    </label>
                                    <div class="box-number"><span>24</span></div>
                                </div>


                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> 1 escala
                                    </label>
                                    <div class="box-number"><span>14</span></div>
                                </div>


                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> 2 o más escalas
                                    </label>
                                    <div class="box-number"><span>304</span></div>
                                </div>

                            </div>
                        </div>


                        <div class="box-filter">
                            <div class="header-filter">
                                <h3>Aerolíneas<i class="arrow-down"></i></h3>
                            </div>
                            <div class="body-filter">
                           
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" checked> Todas las aerolíneas
                                    </label>
                                    <div class="box-number selected-box"><span>34</span></div>
                                </div>


                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox">
                                        <img src="public/img/lan.jpg" title="" alt=""><span class="txt-checkbox"> KLM</span>
                                    </label>
                                    <div class="box-number"><span>24</span></div>
                                </div>


                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox">
                                        <img src="public/img/lan.jpg" title="" alt=""><span class="txt-checkbox"> Qatar</span>
                                    </label>
                                    <div class="box-number"><span>14</span></div>
                                </div>


                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox">
                                        <img src="public/img/lan.jpg" title="" alt=""><span class="txt-checkbox"> LATAM</span>
                                    </label>
                                    <div class="box-number"><span>304</span></div>
                                </div>


                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> Ida y vuelta por la misma aerolínea
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="box-filter">
                            <div class="header-filter">
                                <h3>Precio<i class="arrow-down"></i></h3>
                            </div>
                            <div class="body-filter">
                           
                                <div class="radio">
                                    Moneda:
                                    <label>
                                        <input type="radio" name="opciones" id="opciones_1" value="opcion_1" checked>$
                                    </label>
                                    <label>
                                        <input type="radio" name="opciones" id="opciones_2" value="opciones_2">U$S
                                    </label>
                                </div>


                                <div class="checkbox">
                                    <label class="box-range">
                                        <span class="price-number-left">$10</span>
                                        <span class="price-number-right">$1000</span>

                                        <input id="ex2" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/>

                                        <div class="value-min">
                                            <span>Desde:</span>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="value-max">
                                            
                                            <span>Hasta:</span>
                                            <input type="text" class="form-control">
                                        </div>

                                    </label>

                                    <div class="btn-filter">
                                        <a href="" class="btn btn-search">Aplicar filtros</a>
                                    </div>
                                    
                                </div>

                            </div>
                        </div>


                        <div class="box-filter">
                            <div class="header-filter">
                                <h3>Horarios<i class="arrow-down"></i></h3>
                            </div>
                            <div class="body-filter">
                                <div class="">
                                    <span class="txt-filter">Ida:</span>
                                    <label class="box-range">
                                        <span class="price-number-left">Desde: 00h 00m</span>
                                        <span class="price-number-right">Hasta: 00h 00m</span>
                                        <input id="ex3" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/> 
                                    </label>
                                    <hr>
                                    <span class="txt-filter">Vuelta:</span>
                                    <label class="box-range">
                                        <span class="price-number-left">$10</span>
                                        <span class="price-number-right">$1000</span>

                                        <input id="ex4" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/> 
                                    </label>
                                    <div class="btn-filter">
                                        <a href="" class="btn btn-search">Aplicar filtros</a>
                                    </div>
                                    
                                </div>

                            </div>
                        </div>

                        <div class="box-filter">
                            <div class="header-filter">
                                <h3>Aeropuertos<i class="arrow-down"></i></h3>
                            </div>
                            <div class="body-filter">
                                <span class="txt-filter">Ida:</span>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" checked> Todas los aeropuertos
                                    </label>
                                    <div class="box-number selected-box"><span>524</span></div>
                                </div>

                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> Aeropuerto Buenos Aires Ministro Pistarini Ezeiza
                                    </label>
                                    <div class="box-number"><span>24</span></div>
                                </div>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> Partida y Regreso por el mismo aeropuerto
                                    </label>
                                </div>
                                <hr>
                                <span class="txt-filter">Vuelta:</span>
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" checked> Todas los aeropuertos
                                    </label>
                                    <div class="box-number selected-box"><span>524</span></div>
                                </div>

                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> Aeropuerto Buenos Aires Ministro Pistarini Ezeiza
                                    </label>
                                    <div class="box-number"><span>24</span></div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="box-filter">
                            <div class="header-filter">
                                <h3>Duración<i class="arrow-down"></i></h3>
                            </div>
                            <div class="body-filter">
                                <div class="">
                                    <span class="txt-filter">Ida:</span>
                                    <label class="box-range">
                                        <span class="price-number-left">Desde: 00h 00m</span>
                                        <span class="price-number-right">Hasta: 00h 00m</span>
                                        <input id="ex5" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/> 
                                    </label>
                                    <hr>
                                    <span class="txt-filter">Vuelta:</span>
                                    <label class="box-range">
                                        <span class="price-number-left">$10</span>
                                        <span class="price-number-right">$1000</span>

                                        <input id="ex6" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/> 
                                    </label>
                                    <div class="btn-filter">
                                        <a href="" class="btn btn-search">Aplicar filtros</a>
                                    </div>
                                    
                                </div>

                            </div>
                        </div>


                        <div class="box-filter">
                            <div class="header-filter">
                                <h3>Alianzas<i class="arrow-down"></i></h3>
                            </div>
                            <div class="body-filter">
                           
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" checked> Todas las escalas
                                    </label>
                                    <div class="box-number selected-box"><span>34</span></div>
                                </div>


                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox">
                                        <img src="public/img/lan.jpg" title="" alt=""><span class="txt-checkbox">Sky Team</span>
                                    </label>
                                    <div class="box-number"><span>24</span></div>
                                </div>


                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"><img src="public/img/lan.jpg" title="" alt=""><span class="txt-checkbox"> One World</span>
                                    </label>
                                    <div class="box-number"><span>14</span></div>
                                </div>


                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox"><img src="public/img/lan.jpg" title="" alt=""><span class="txt-checkbox"> Star Alliance</span>
                                    </label>
                                    <div class="box-number"><span>304</span></div>
                                </div>

                            </div>
                        </div>
                    
                </form>
            </div>
            <div class="col-md-8 tickets-arrives">
                <div id="priceSuggestionMatrix" style="display: none"></div>
                <div id="fligthsData" style="display: none"></div>
                <div id="loading" style="display: none">#{preload /}</div>
            </div>
        </div>
    </article>



<!-- Modal -->
<div class="modal fade" id="detailModalFlight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content info-flight">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon-close-modal"></i></button>
        <h4 class="modal-title" id="myModalLabel">Detalle del Vuelo</h4>
      </div>
      <div class="modal-body txt-view-detail">

        <div class="well">
        <!--DETAIL TITLE FLIGHT-->
            <ul class="detail-title-flight">
                <li class="title-text-from-to">
                    Buenos Aires
                    <span class="airport-code">(BUE)</span>
                    <span class="title-text-to">
                        <i class="icon-arrow-airport"></i>
                    </span>
                    Valencia
                    <span class="airport-code">(VLC)</span>
                </li>
                <li class="title-text-total-duration">                                        
                    <span class="title-duration">DURACIÓN TOTAL:</span>
                    <span class="title-duration-time">
                    35h 40m
                    </span>
                </li>
            </ul>

        <!--DETAIL BODY FLIGHT-->
            <ul class="detail-body-flight">
                <li class="airline-logo">
                    <img src="public/img/lan.jpg" title="" alt="">
                </li>
                <li class="flight-detail-data">
                    <ul>
                    <!--SALE LLEGA-->
                        <li class="flight-detail-data-route">
                            <div>         
                                <span class="inline-detail-airport-date">
                                <span class="inline-detail-airport-date-text">Sale:</span>
                                <span>Vie 19 Ago. 2016</span>

                                </span>
                                <span class="inline-detail-airport-code-wrapper">
                                <span class="inline-detail-airport-code">EZE</span>
                                <span class="inline-detail-airport-hour">23:10</span>
                                </span>
                                <span class="inline-detail-airport-description">
                                Buenos Aires - Aeropuerto Buenos Aires Ministro Pistarini Ezeiza (EZE) </span>
                            </div>
                            <div class="arrow-airport">
                                <i class="icon-arrow-airport"></i>
                            </div>
                            <div>
                                <span class="inline-detail-airport">
                                <span class="inline-detail-airport-date">

                                <span class="inline-detail-airport-date-text">Llega:</span>
                                <span>Sáb 20 Ago. 2016</span>
                                </span>
                                <span class="inline-detail-airport-code-wrapper">
                                <span class="inline-detail-airport-code">GRU</span>
                                <span class="inline-detail-airport-hour">01:50</span>
                                <span class="days-difference">
                                <span>+1 dia</span>
                                </span>
                                </span>
                                <span class="inline-detail-airport-description">
                                San Pablo - Aeropuerto Internacional Guarulhos (GRU)
                                </span>
                                </span>
                            </div>
                        </li>

                    <!--DETAIL DATA FLIGHT-->
                        <li class="flight-detail-data-flight">
                            <div class="inline-detail-flight-data">
                                <span class="inline-detail-flight-data-title">DURACIÓN</span>
                                <span class="inline-detail-flight-data-description">2h 40m</span>
                            </div>
                            <div class="inline-detail-flight-data">
                                <span class="inline-detail-flight-data-title">VUELO N°</span>
                                <span class="inline-detail-flight-data-description">16</span>
                            </div>
                            <div class="inline-detail-flight-data inline-detail-flight-cabinType">
                                <span class="inline-detail-flight-data-title">CLASE</span>
                                <span class="inline-detail-flight-data-description">Económica</span>
                            </div>
                            <div class="box-airplane-name">
                                <span class="airplane-name">
                                    <i class="icon-airplane-name"></i>
                                Boeing 777-300ER
                                </span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- END MODAL BODY-->
      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      -->
    </div>
  </div>
</div>

</section>
