Login succesful!

<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.serializejson.min.js'}"></script>
<script type="text/javascript">

#{if tknumber!=null && !tknumber.equals('')}
	$(function () {
		$('*[data-tknumber="${tknumber}"]',parent.document).submit();
	});
#{/if}
#{else}
	//window.parent.history.pushState("", "", window.parent.location.href+'?transactionId=${transactionId}');
	window.top.location.href = window.parent.location.href; 
#{/else}
</script>

